
/* sphinxsearch.css */

/* 1  */ /* 
/* 2  *|     Document   : sphinxsearch
/* 3  *|     Created on : Mar 3, 2011, 9:14:06 AM
/* 4  *|     Author     : Ivinco
/* 5  *|     Description:
/* 6  *|         Custom stylesheet for the sphinx search forms.
/* 7  *| */
/* 8  */ 
/* 9  */ /* 
/* 10 *|    TODO customize this sample style
/* 11 *|    Syntax recommendation http://www.w3.org/TR/REC-CSS2/
/* 12 *| */
/* 13 */ 
/* 14 */ /*
/* 15 *| Styles for search form on the sidebar
/* 16 *| */
/* 17 */ #searchbar ul li,
/* 18 */ #searchbar ul li:hover{
/* 19 */     background-image: none;
/* 20 */ }
/* 21 */ 
/* 22 */ #searchbar #searchform {
/* 23 */     width: 100%;
/* 24 */ }
/* 25 */ #searchbar #sphinx_sinput {
/* 26 */     width: 170px;
/* 27 */ }
/* 28 */ #searchbar #submit {
/* 29 */     float: right;
/* 30 */     padding: 3px 2px 4px 4px;
/* 31 */ }
/* 32 */ 
/* 33 */ /*
/* 34 *| Styles for search form on the top of search page
/* 35 *| */
/* 36 */ 
/* 37 */ #searchpanel ul li,
/* 38 */ #searchpanel ul li:hover{
/* 39 */     background-image: none;
/* 40 */ }
/* 41 */ 
/* 42 */ ul.page-numbers li
/* 43 */ {
/* 44 */ display: inline;
/* 45 */ list-style-type: none;
/* 46 */ padding-right: 5px;
/* 47 */ }
