
/* styleblog.css */

/* 1  */ .blog-col-3, .blog-col-4, .blog-col-2{-webkit-box-sizing: border-box; -moz-box-sizing: border-box;box-sizing: border-box; }
/* 2  */ .blog{margin-bottom:40px !important; clear:both; }
/* 3  */ .blog-col-1, .blog-col-0 {padding-bottom:40px; border-bottom:1px solid #d1d1d1;}
/* 4  */ .blog .blog-title{margin-top:5px !important; margin-bottom:10px !important;}
/* 5  */ .blog .blog-title a{font-size:22px; line-height:26px;}
/* 6  */ .blog-cat{margin-bottom:10px ;}
/* 7  */ .blog-content{float:left; width:100%; clear:both;}
/* 8  */ .date-post{width: 11%;float: left;text-align: center;}
/* 9  */ .date-post span{display: block;color: #222;font-size: 30px;margin: 0px 0px 2px;padding-bottom: 2px;border-bottom: 1px dotted #C0C0C0;}
/* 10 */ .date-post h2{margin-bottom:5px !important; padding-bottom:0 !important; margin-top:0px !important; text-align:center;}
/* 11 */ .date-post p{margin: 0px;text-transform: uppercase;color: #333; text-align:center !important}
/* 12 */ .post-content-text{width:87%; margin-left:2%; float:left;}
/* 13 */ .blog-thumb{float:left; width:100%; margin-bottom:15px;}
/* 14 */ 
/* 15 */ 
/* 16 */ .blog_pagination{clear:both; padding:0 0 20px 0;  float:left; width:100%}
/* 17 */ .button-blog-p{width:49%; float:right; text-align:right}
/* 18 */ .button-blog-n{width:49%; float:left; text-align:left}
/* 19 */ .recent-blog-items{clear:both;}
/* 20 */ 
/* 21 */ .blog-col-4{width:25%; float:left; clear:none !important; padding:0 15px;}
/* 22 */ .blog-col-3{width:33%; float:left; clear:none !important; padding:0 15px;}
/* 23 */ .blog-col-2{width:50%; float:left; clear:none !important; padding:0 15px;}
/* 24 */ .blog-col-1{width:100%; float:left;}
/* 25 */ 
/* 26 */ .blog-author{ clear:both;}
/* 27 */ .blog-author span, .grid-1-author{font-style:italic;}
/* 28 */ 
/* 29 */ .grid-blog-thumb{float: left; height: 200px;line-height: 0;  overflow: hidden;  position: relative;  width: 100%;background: #f1f1f1;  }
/* 30 */ .grid-blog-thumb img{height: 100% !important;width: 100% !important;object-fit: cover;object-position: top center; } 
/* 31 */   
/* 32 */ .blog-col-1 .grid-blog-thumb{height:400px;}
/* 33 */ .blog-col-2 .grid-blog-thumb{height: 250px;}
/* 34 */ 
/* 35 */ 
/* 36 */ .blog-col-3 .blog-thumb, .blog-col-2 .blog-thumb, .blog-col-4 .blog-thumb{margin-bottom:10px;}
/* 37 */ .blog-col-3 .post-content-text, .blog-col-2 .post-content-text, .blog-col-4 .post-content-text{width:100%; margin:0px;}
/* 38 */ p.blog-short-content{margin-bottom:5px !important}
/* 39 */ .blog-col-0{width:100%; float:left;}
/* 40 */ .blog-col-0 .blog-thumb{float:left; width:33%;}
/* 41 */ .blog-col-0 .blog-content{float:left;  margin-left:2% ; width:65%; clear:none; }.no-thumb.blog-col-0 .blog-content{ margin-left:0 ; width:100%; }
/* 42 */ .blog-col-0 .blog-content .post-content-text{margin-left:0px;}
/* 43 */ 
/* 44 */ .blog.first{clear: both !important;}
/* 45 */ .blog-col-1.has-no-date .post-content-text{margin-left:0px; width:100%;}
/* 46 */ .grid-1-date{display:none;}
/* 47 */ .widget-date-cat, .widget-date-cat a{font-size:13px;}
/* 48 */ 
/* 49 */ /*--------------blog widget css------------*/
/* 50 */ .recent-blog-items ul{padding:0; margin:0; list-style:none;}

/* styleblog.css */

/* 51 */ 
/* 52 */ .recent-blog-items ul li.blog_li{padding:10px 0; border-bottom:1px solid #ddd; clear:both;}
/* 53 */ 
/* 54 */ 
/* 55 */ .blog_thumb_left{display:table-cell; vertical-align:top; width:100px;  }
/* 56 */ .blog_thumb_left a{display:block; margin-right:10px;}
/* 57 */ .blog_thumb_left img{height: 100% !important;width: 100% !important;object-fit: cover;object-position: top center; }
/* 58 */ .blog_thumb_right{display:table-cell; vertical-align:top; }
/* 59 */ 
/* 60 */ @media all and (max-width: 768px) {
/* 61 */ 
/* 62 */ .blog-col-3.first{clear:none !important}
/* 63 */ .blog-col-3, .blog-col-4{width:50%;}
/* 64 */ 
/* 65 */ }
/* 66 */ @media all and (max-width: 640px) {
/* 67 */ 	.blog-col-2, .blog-col-3, .blog-col-4{width:100%;}
/* 68 */ 	
/* 69 */ }
/* 70 */ 
/* 71 */ @media all and (max-width: 500px) {
/* 72 */ 	.grid-1-date{display:block;}
/* 73 */ 	.blog-col-0 .blog-thumb{float:left; width:100%;}	
/* 74 */ 	.blog-col-0 .blog-content{float:left;  margin-left:0% ; width:100%; clear:both; }
/* 75 */ 	.blog-col-1 .date-post{display:none;}
/* 76 */ 	.blog-col-1 .grid-blog-thumb{height:250px}
/* 77 */ }
