
/* wordfenceBox.css */

/* 1   */ /*
/* 2   *|     ColorBox Core Style:
/* 3   *|     The following CSS is consistent between example themes and should not be altered.
/* 4   *| */
/* 5   */ #wordfenceBox, #wfboxOverlay, #wfboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
/* 6   */ #wfboxOverlay{position:fixed; width:100%; height:100%;}
/* 7   */ #wfboxMiddleLeft, #wfboxBottomLeft{clear:left;}
/* 8   */ #wfboxContent{position:relative;}
/* 9   */ #wfboxLoadedContent{overflow:auto;}
/* 10  */ #wfboxTitle{margin:0;}
/* 11  */ #wfboxLoadingOverlay, #wfboxLoadingGraphic{position:absolute; top:0; left:0; width:100%;}
/* 12  */ #wfboxPrevious, #wfboxNext, #wfboxClose, #wfboxSlideshow{cursor:pointer;}
/* 13  */ .wfboxPhoto{float:left; margin:auto; border:0; display:block;}
/* 14  */ .wfboxIframe{width:100%; height:100%; display:block; border:0;}
/* 15  */ 
/* 16  */ /* 
/* 17  *|     User Style:
/* 18  *|     Change the following styles to modify the appearance of ColorBox.  They are
/* 19  *|     ordered & tabbed in a way that represents the nesting of the generated HTML.
/* 20  *| */
/* 21  */ #wfboxOverlay{
/* 22  */ 	background: #777;
/* 23  */ 	background: -webkit-radial-gradient(rgba(120, 120, 120, 0.8), rgba(100, 100, 100, 0.8) 50%, rgba(70, 70, 70, 1));
/* 24  */ 	background: -moz-radial-gradient(rgba(120, 120, 120, 0.6), rgba(100, 100, 100, 0.8) 20%, rgba(70, 70, 70, 1));
/* 25  */ }
/* 26  */ #wordfenceBox {
/* 27  */ 	color: #444;
/* 28  */ 	font-family: "Open Sans", sans-serif;
/* 29  */ 	font-size: 13px;
/* 30  */ 	line-height: 1.4em;
/* 31  */ }
/* 32  */ #wfboxContent { background:#fff; overflow:hidden; padding: 0 0 8px; margin: 20px;
/* 33  */ 	-webkit-border-radius: 3px 3px 2px 2px; -moz-border-radius: 3px 3px 2px 2px; border-radius: 3px 3px 2px 2px; /* border radius */
/* 34  */ 	-webkit-box-shadow: 0 2px 4px rgba(0,0,0,.4); -moz-box-shadow: 0 2px 4px rgba(0,0,0,.4); box-shadow: 0 2px 4px rgba(0,0,0,.4); /* box shadow */
/* 35  */ 	-webkit-background-clip: padding-box; 	/* smoother borders with webkit */ }
/* 36  */ #wfboxError{padding:50px; border:1px solid #ccc;}
/* 37  */ #wfboxLoadedContent {
/* 38  */ 	/* margin-bottom:28px; */
/* 39  */ 	/* MDM added: */ margin: 10px 20px 28px 20px; font-family: Arial; color: #333;
/* 40  */ 	-webkit-border-radius: 2px 2px 0 0; -moz-border-radius: 2px 2px 0 0; border-radius: 2px 2px 0 0; /* border radius */
/* 41  */ }
/* 42  */ #wfboxTitle{position:absolute; bottom:8px; left:5px; text-align:center; width:100%; color:#949494;}
/* 43  */ #wfboxCurrent{position:absolute; bottom:8px; left:63px; color:#949494; text-indent: -9999px;}
/* 44  */ #wfboxSlideshow{position:absolute; bottom:8px; right:35px; color:#0092ef;}
/* 45  */ #wfboxPrevious{position:absolute; bottom:5px; left:5px; background:url(/wp-content/plugins/wordfence/images/lightbox-controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
/* 46  */ #wfboxPrevious.hover{background-position:-75px -25px;}
/* 47  */ #wfboxNext{position:absolute; bottom:5px; left:32px; background:url(/wp-content/plugins/wordfence/images/lightbox-controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
/* 48  */ #wfboxNext.hover{background-position:-50px -25px;}
/* 49  */ #wfboxLoadingOverlay{background:url(/wp-content/plugins/wordfence/images/loading_background.png) no-repeat center center;}
/* 50  */ #wfboxLoadingGraphic{background:url(/wp-content/plugins/wordfence/images/loading.gif) no-repeat center center;}

/* wordfenceBox.css */

/* 51  */ #wfboxClose{position:absolute; bottom:5px; right:5px; background:url(/wp-content/plugins/wordfence/images/lightbox-controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
/* 52  */ #wfboxClose.hover{background-position:-25px -25px;}
/* 53  */ 
/* 54  */ /*
/* 55  *|   The following fixes a problem where IE7+ replaces a PNG's alpha transparency with a black fill
/* 56  *|   when an alpha filter (opacity change) is set on the element or ancestor element.
/* 57  *| */
/* 58  */ .wfboxIE #wfboxTopLeft,
/* 59  */ .wfboxIE #wfboxTopCenter,
/* 60  */ .wfboxIE #wfboxTopRight,
/* 61  */ .wfboxIE #wfboxBottomLeft,
/* 62  */ .wfboxIE #wfboxBottomCenter,
/* 63  */ .wfboxIE #wfboxBottomRight,
/* 64  */ .wfboxIE #wfboxMiddleLeft,
/* 65  */ .wfboxIE #wfboxMiddleRight {
/* 66  */ 	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
/* 67  */ }
/* 68  */ 
/* 69  */ /* 
/* 70  *|     Enforce our styles over any theme styling
/* 71  *| */
/* 72  */ #wordfenceBox, #wordfenceBox:before, #wordfenceBox:after {
/* 73  */ 	-webkit-box-sizing: content-box;
/* 74  */ 	-moz-box-sizing: content-box;
/* 75  */ 	box-sizing: content-box;
/* 76  */ }
/* 77  */ 
/* 78  */ #wordfenceBox h1, #wordfenceBox h2, #wordfenceBox h3, #wordfenceBox h4, #wordfenceBox h5, #wordfenceBox h6 {
/* 79  */ 	display: block;
/* 80  */ 	font-weight: 600
/* 81  */ }
/* 82  */ 
/* 83  */ #wordfenceBox h1 {
/* 84  */ 	font-size: 2em;
/* 85  */ 	margin: .67em 0
/* 86  */ }
/* 87  */ 
/* 88  */ #wordfenceBox h2, #wordfenceBox h3 {
/* 89  */ 	font-size: 1.3em;
/* 90  */ 	margin: 1em 0
/* 91  */ }
/* 92  */ 
/* 93  */ #wordfenceBox h1, #wordfenceBox h2, #wordfenceBox h3 {
/* 94  */ 	color: #23282d
/* 95  */ }
/* 96  */ 
/* 97  */ #wordfenceBox p {
/* 98  */ 	font-size: 13px;
/* 99  */ 	line-height: 1.5;
/* 100 */ 	margin: 1em 0;

/* wordfenceBox.css */

/* 101 */ }
/* 102 */ 
/* 103 */ #wordfenceBox .textright {
/* 104 */ 	text-align: right;
/* 105 */ }
/* 106 */ 
/* 107 */ #wordfenceBox .button, #wordfenceBox .button-primary, #wordfenceBox .button-secondary {
/* 108 */ 	display: inline-block;
/* 109 */ 	text-decoration: none;
/* 110 */ 	font-size: 13px;
/* 111 */ 	line-height: 26px;
/* 112 */ 	height: 28px;
/* 113 */ 	margin: 0;
/* 114 */ 	padding: 0 10px 1px;
/* 115 */ 	cursor: pointer;
/* 116 */ 	border-width: 1px;
/* 117 */ 	border-style: solid;
/* 118 */ 	-webkit-appearance: none;
/* 119 */ 	-webkit-border-radius: 3px;
/* 120 */ 	border-radius: 3px;
/* 121 */ 	white-space: nowrap;
/* 122 */ 	-webkit-box-sizing: border-box;
/* 123 */ 	-moz-box-sizing: border-box;
/* 124 */ 	box-sizing: border-box
/* 125 */ }
/* 126 */ 
/* 127 */ #wordfenceBox .button, #wordfenceBox .button-secondary {
/* 128 */ 	color: #555;
/* 129 */ 	border-color: #ccc;
/* 130 */ 	background: #f7f7f7;
/* 131 */ 	-webkit-box-shadow: 0 1px 0 #ccc;
/* 132 */ 	box-shadow: 0 1px 0 #ccc;
/* 133 */ 	vertical-align: top
/* 134 */ }
/* 135 */ 
/* 136 */ #wordfenceBox p .button {
/* 137 */ 	vertical-align: baseline;
/* 138 */ 	font-family: Arial, san-serif;
/* 139 */ 	font-weight: normal;
/* 140 */ 	text-transform: none;
/* 141 */ }
/* 142 */ 
/* 143 */ #wordfenceBox p code {
/* 144 */ 	padding: 3px 5px 2px;
/* 145 */ 	margin: 0 1px;
/* 146 */ 	background: #eaeaea;
/* 147 */ 	background: rgba(0,0,0,.07);
/* 148 */ 	font-size: 13px;
/* 149 */ }
/* 150 */ 

/* wordfenceBox.css */

/* 151 */ #wordfenceBox .button-secondary:focus, #wordfenceBox .button-secondary:hover, #wordfenceBox .button.focus, #wordfenceBox .button.hover, #wordfenceBox .button:focus, #wordfenceBox .button:hover {
/* 152 */ 	background: #fafafa;
/* 153 */ 	border-color: #999;
/* 154 */ 	color: #23282d
/* 155 */ }
/* 156 */ 
/* 157 */ #wordfenceBox a.wfboxhelp {
/* 158 */ 	float: left;
/* 159 */ 	background-image: url(/wp-content/plugins/wordfence/images/help.png);
/* 160 */ 	width: 12px;
/* 161 */ 	height: 12px;
/* 162 */ 	background-position: 0 0;
/* 163 */ 	background-repeat: no-repeat;
/* 164 */ 	padding: 0;
/* 165 */ 	margin: 9px 0px;  
/* 166 */ 	text-decoration: none;
/* 167 */ 	display: inline-block;
/* 168 */ 	vertical-align: middle;
/* 169 */ }
