
/* gglcptch.css */

/* 1  */ #commentform .gglcptch {
/* 2  */ 	margin: 0 0 10px;
/* 3  */ }
/* 4  */ #recaptcha_response_field {
/* 5  */ 	height: 17px !important;
/* 6  */ 	max-height: 35px !important;
/* 7  */ 	font-size: 10pt !important;
/* 8  */ }
/* 9  */ .recaptcha_theme_clean #recaptcha_response_field {
/* 10 */ 	height: 25px !important;
/* 11 */ }
/* 12 */ #gglcptch_error {
/* 13 */ 	color: #F00;
/* 14 */ }
/* 15 */ .gglcptch table#recaptcha_table {
/* 16 */ 	table-layout: auto !important;
/* 17 */ }
/* 18 */ .gglcptch_v1,
/* 19 */ .gglcptch_v2 {
/* 20 */ 	min-width: 1px;
/* 21 */ }
/* 22 */ /* rtl fix recaptcha v1 */
/* 23 */ .rtl .gglcptch_v1 .recaptcha_r2_c1 {
/* 24 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') -27px 0 no-repeat !important;
/* 25 */ }
/* 26 */ .rtl .gglcptch_v1 .recaptcha_r2_c2 {
/* 27 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') -18px 0 no-repeat !important;
/* 28 */ }
/* 29 */ .rtl .gglcptch_v1 .recaptcha_r3_c1 {
/* 30 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') -9px 0 no-repeat !important;
/* 31 */ }
/* 32 */ .rtl .gglcptch_v1 .recaptcha_r3_c3 {
/* 33 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') 0 0 no-repeat !important;
/* 34 */ }
