
/* jvcf7_validate.css */

/* 1  */ .wp-list-table .validation_rules li{ font-size:13px; line-height:18px; padding-bottom:10px;}
/* 2  */ ul.jvcfz_list{ list-style-type:square;margin-left: 2em;}
/* 3  */ table.jvcf7_form td{ border:none !important; padding:5px;}
/* 4  */ .wpcf7-form label.error{color:#900; font-size:11px; float:none; padding-left:5px;}
/* 5  */ 
/* 6  */ /* Theme 1 */
/* 7  */ .theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error{border-bottom:2px solid #900;outline: none;}
/* 8  */ 
/* 9  */ /*DON't show error msg */
/* 10 */ .noErrorMsg.wpcf7-form label.error{ display:none !important; height:0px !important; width:0px !important; overflow:hidden !important;}
/* 11 */ 
/* 12 */ 
/* 13 */ 
/* 14 */ .jvcf7_btn {
/* 15 */   background: #3498db;
/* 16 */   background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
/* 17 */   background-image: -moz-linear-gradient(top, #3498db, #2980b9);
/* 18 */   background-image: -ms-linear-gradient(top, #3498db, #2980b9);
/* 19 */   background-image: -o-linear-gradient(top, #3498db, #2980b9);
/* 20 */   background-image: linear-gradient(to bottom, #3498db, #2980b9);
/* 21 */   -webkit-border-radius: 5;
/* 22 */   -moz-border-radius: 5;
/* 23 */   border-radius: 5px;
/* 24 */   font-family: Arial;
/* 25 */   color: #ffffff;
/* 26 */   font-size: 16px;
/* 27 */   padding: 10px 15px 10px 15px;
/* 28 */   text-decoration: none;
/* 29 */   display:inline-block;
/* 30 */   width:170px;
/* 31 */   
/* 32 */ }
/* 33 */ 
/* 34 */ .jvcf7_btn:hover {
/* 35 */   background: #3cb0fd;
/* 36 */   background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
/* 37 */   background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
/* 38 */   background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
/* 39 */   background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
/* 40 */   background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
/* 41 */   text-decoration: none;
/* 42 */   color: #ffffff;
/* 43 */ }

/* jquery-ui.css */

/* 1    */ /*! jQuery UI - v1.10.3 - 2013-05-03
/* 2    *| * http://jqueryui.com
/* 3    *| * Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css
/* 4    *| * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Verdana%2CArial%2Csans-serif&fwDefault=normal&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=cccccc&bgTextureHeader=highlight_soft&bgImgOpacityHeader=75&borderColorHeader=aaaaaa&fcHeader=222222&iconColorHeader=222222&bgColorContent=ffffff&bgTextureContent=flat&bgImgOpacityContent=75&borderColorContent=aaaaaa&fcContent=222222&iconColorContent=222222&bgColorDefault=e6e6e6&bgTextureDefault=glass&bgImgOpacityDefault=75&borderColorDefault=d3d3d3&fcDefault=555555&iconColorDefault=888888&bgColorHover=dadada&bgTextureHover=glass&bgImgOpacityHover=75&borderColorHover=999999&fcHover=212121&iconColorHover=454545&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=aaaaaa&fcActive=212121&iconColorActive=454545&bgColorHighlight=fbf9ee&bgTextureHighlight=glass&bgImgOpacityHighlight=55&borderColorHighlight=fcefa1&fcHighlight=363636&iconColorHighlight=2e83ff&bgColorError=fef1ec&bgTextureError=glass&bgImgOpacityError=95&borderColorError=cd0a0a&fcError=cd0a0a&iconColorError=cd0a0a&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=aaaaaa&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=8px&offsetTopShadow=-8px&offsetLeftShadow=-8px&cornerRadiusShadow=8px
/* 5    *| * Copyright 2013 jQuery Foundation and other contributors Licensed MIT */
/* 6    */ 
/* 7    */ /* Layout helpers
/* 8    *| ----------------------------------*/
/* 9    */ .ui-helper-hidden {
/* 10   */ 	display: none;
/* 11   */ }
/* 12   */ .ui-helper-hidden-accessible {
/* 13   */ 	border: 0;
/* 14   */ 	clip: rect(0 0 0 0);
/* 15   */ 	height: 1px;
/* 16   */ 	margin: -1px;
/* 17   */ 	overflow: hidden;
/* 18   */ 	padding: 0;
/* 19   */ 	position: absolute;
/* 20   */ 	width: 1px;
/* 21   */ }
/* 22   */ .ui-helper-reset {
/* 23   */ 	margin: 0;
/* 24   */ 	padding: 0;
/* 25   */ 	border: 0;
/* 26   */ 	outline: 0;
/* 27   */ 	line-height: 1.3;
/* 28   */ 	text-decoration: none;
/* 29   */ 	font-size: 100%;
/* 30   */ 	list-style: none;
/* 31   */ }
/* 32   */ .ui-helper-clearfix:before,
/* 33   */ .ui-helper-clearfix:after {
/* 34   */ 	content: "";
/* 35   */ 	display: table;
/* 36   */ 	border-collapse: collapse;
/* 37   */ }
/* 38   */ .ui-helper-clearfix:after {
/* 39   */ 	clear: both;
/* 40   */ }
/* 41   */ .ui-helper-clearfix {
/* 42   */ 	min-height: 0; /* support: IE7 */
/* 43   */ }
/* 44   */ .ui-helper-zfix {
/* 45   */ 	width: 100%;
/* 46   */ 	height: 100%;
/* 47   */ 	top: 0;
/* 48   */ 	left: 0;
/* 49   */ 	position: absolute;
/* 50   */ 	opacity: 0;

/* jquery-ui.css */

/* 51   */ 	filter:Alpha(Opacity=0);
/* 52   */ }
/* 53   */ 
/* 54   */ .ui-front {
/* 55   */ 	z-index: 100;
/* 56   */ }
/* 57   */ 
/* 58   */ 
/* 59   */ /* Interaction Cues
/* 60   *| ----------------------------------*/
/* 61   */ .ui-state-disabled {
/* 62   */ 	cursor: default !important;
/* 63   */ }
/* 64   */ 
/* 65   */ 
/* 66   */ /* Icons
/* 67   *| ----------------------------------*/
/* 68   */ 
/* 69   */ /* states and images */
/* 70   */ .ui-icon {
/* 71   */ 	display: block;
/* 72   */ 	text-indent: -99999px;
/* 73   */ 	overflow: hidden;
/* 74   */ 	background-repeat: no-repeat;
/* 75   */ }
/* 76   */ 
/* 77   */ 
/* 78   */ /* Misc visuals
/* 79   *| ----------------------------------*/
/* 80   */ 
/* 81   */ /* Overlays */
/* 82   */ .ui-widget-overlay {
/* 83   */ 	position: fixed;
/* 84   */ 	top: 0;
/* 85   */ 	left: 0;
/* 86   */ 	width: 100%;
/* 87   */ 	height: 100%;
/* 88   */ }
/* 89   */ .ui-accordion .ui-accordion-header {
/* 90   */ 	display: block;
/* 91   */ 	cursor: pointer;
/* 92   */ 	position: relative;
/* 93   */ 	margin-top: 2px;
/* 94   */ 	padding: .5em .5em .5em .7em;
/* 95   */ 	min-height: 0; /* support: IE7 */
/* 96   */ }
/* 97   */ .ui-accordion .ui-accordion-icons {
/* 98   */ 	padding-left: 2.2em;
/* 99   */ }
/* 100  */ .ui-accordion .ui-accordion-noicons {

/* jquery-ui.css */

/* 101  */ 	padding-left: .7em;
/* 102  */ }
/* 103  */ .ui-accordion .ui-accordion-icons .ui-accordion-icons {
/* 104  */ 	padding-left: 2.2em;
/* 105  */ }
/* 106  */ .ui-accordion .ui-accordion-header .ui-accordion-header-icon {
/* 107  */ 	position: absolute;
/* 108  */ 	left: .5em;
/* 109  */ 	top: 50%;
/* 110  */ 	margin-top: -8px;
/* 111  */ }
/* 112  */ .ui-accordion .ui-accordion-content {
/* 113  */ 	padding: 1em 2.2em;
/* 114  */ 	border-top: 0;
/* 115  */ 	overflow: auto;
/* 116  */ }
/* 117  */ .ui-autocomplete {
/* 118  */ 	position: absolute;
/* 119  */ 	top: 0;
/* 120  */ 	left: 0;
/* 121  */ 	cursor: default;
/* 122  */ }
/* 123  */ .ui-button {
/* 124  */ 	display: inline-block;
/* 125  */ 	position: relative;
/* 126  */ 	padding: 0;
/* 127  */ 	line-height: normal;
/* 128  */ 	margin-right: .1em;
/* 129  */ 	cursor: pointer;
/* 130  */ 	vertical-align: middle;
/* 131  */ 	text-align: center;
/* 132  */ 	overflow: visible; /* removes extra width in IE */
/* 133  */ }
/* 134  */ .ui-button,
/* 135  */ .ui-button:link,
/* 136  */ .ui-button:visited,
/* 137  */ .ui-button:hover,
/* 138  */ .ui-button:active {
/* 139  */ 	text-decoration: none;
/* 140  */ }
/* 141  */ /* to make room for the icon, a width needs to be set here */
/* 142  */ .ui-button-icon-only {
/* 143  */ 	width: 2.2em;
/* 144  */ }
/* 145  */ /* button elements seem to need a little more width */
/* 146  */ button.ui-button-icon-only {
/* 147  */ 	width: 2.4em;
/* 148  */ }
/* 149  */ .ui-button-icons-only {
/* 150  */ 	width: 3.4em;

/* jquery-ui.css */

/* 151  */ }
/* 152  */ button.ui-button-icons-only {
/* 153  */ 	width: 3.7em;
/* 154  */ }
/* 155  */ 
/* 156  */ /* button text element */
/* 157  */ .ui-button .ui-button-text {
/* 158  */ 	display: block;
/* 159  */ 	line-height: normal;
/* 160  */ }
/* 161  */ .ui-button-text-only .ui-button-text {
/* 162  */ 	padding: .4em 1em;
/* 163  */ }
/* 164  */ .ui-button-icon-only .ui-button-text,
/* 165  */ .ui-button-icons-only .ui-button-text {
/* 166  */ 	padding: .4em;
/* 167  */ 	text-indent: -9999999px;
/* 168  */ }
/* 169  */ .ui-button-text-icon-primary .ui-button-text,
/* 170  */ .ui-button-text-icons .ui-button-text {
/* 171  */ 	padding: .4em 1em .4em 2.1em;
/* 172  */ }
/* 173  */ .ui-button-text-icon-secondary .ui-button-text,
/* 174  */ .ui-button-text-icons .ui-button-text {
/* 175  */ 	padding: .4em 2.1em .4em 1em;
/* 176  */ }
/* 177  */ .ui-button-text-icons .ui-button-text {
/* 178  */ 	padding-left: 2.1em;
/* 179  */ 	padding-right: 2.1em;
/* 180  */ }
/* 181  */ /* no icon support for input elements, provide padding by default */
/* 182  */ input.ui-button {
/* 183  */ 	padding: .4em 1em;
/* 184  */ }
/* 185  */ 
/* 186  */ /* button icon element(s) */
/* 187  */ .ui-button-icon-only .ui-icon,
/* 188  */ .ui-button-text-icon-primary .ui-icon,
/* 189  */ .ui-button-text-icon-secondary .ui-icon,
/* 190  */ .ui-button-text-icons .ui-icon,
/* 191  */ .ui-button-icons-only .ui-icon {
/* 192  */ 	position: absolute;
/* 193  */ 	top: 50%;
/* 194  */ 	margin-top: -8px;
/* 195  */ }
/* 196  */ .ui-button-icon-only .ui-icon {
/* 197  */ 	left: 50%;
/* 198  */ 	margin-left: -8px;
/* 199  */ }
/* 200  */ .ui-button-text-icon-primary .ui-button-icon-primary,

/* jquery-ui.css */

/* 201  */ .ui-button-text-icons .ui-button-icon-primary,
/* 202  */ .ui-button-icons-only .ui-button-icon-primary {
/* 203  */ 	left: .5em;
/* 204  */ }
/* 205  */ .ui-button-text-icon-secondary .ui-button-icon-secondary,
/* 206  */ .ui-button-text-icons .ui-button-icon-secondary,
/* 207  */ .ui-button-icons-only .ui-button-icon-secondary {
/* 208  */ 	right: .5em;
/* 209  */ }
/* 210  */ 
/* 211  */ /* button sets */
/* 212  */ .ui-buttonset {
/* 213  */ 	margin-right: 7px;
/* 214  */ }
/* 215  */ .ui-buttonset .ui-button {
/* 216  */ 	margin-left: 0;
/* 217  */ 	margin-right: -.3em;
/* 218  */ }
/* 219  */ 
/* 220  */ /* workarounds */
/* 221  */ /* reset extra padding in Firefox, see h5bp.com/l */
/* 222  */ input.ui-button::-moz-focus-inner,
/* 223  */ button.ui-button::-moz-focus-inner {
/* 224  */ 	border: 0;
/* 225  */ 	padding: 0;
/* 226  */ }
/* 227  */ .ui-datepicker {
/* 228  */ 	width: 17em;
/* 229  */ 	padding: .2em .2em 0;
/* 230  */ 	display: none;
/* 231  */ }
/* 232  */ .ui-datepicker .ui-datepicker-header {
/* 233  */ 	position: relative;
/* 234  */ 	padding: .2em 0;
/* 235  */ }
/* 236  */ .ui-datepicker .ui-datepicker-prev,
/* 237  */ .ui-datepicker .ui-datepicker-next {
/* 238  */ 	position: absolute;
/* 239  */ 	top: 2px;
/* 240  */ 	width: 1.8em;
/* 241  */ 	height: 1.8em;
/* 242  */ }
/* 243  */ .ui-datepicker .ui-datepicker-prev-hover,
/* 244  */ .ui-datepicker .ui-datepicker-next-hover {
/* 245  */ 	top: 1px;
/* 246  */ }
/* 247  */ .ui-datepicker .ui-datepicker-prev {
/* 248  */ 	left: 2px;
/* 249  */ }
/* 250  */ .ui-datepicker .ui-datepicker-next {

/* jquery-ui.css */

/* 251  */ 	right: 2px;
/* 252  */ }
/* 253  */ .ui-datepicker .ui-datepicker-prev-hover {
/* 254  */ 	left: 1px;
/* 255  */ }
/* 256  */ .ui-datepicker .ui-datepicker-next-hover {
/* 257  */ 	right: 1px;
/* 258  */ }
/* 259  */ .ui-datepicker .ui-datepicker-prev span,
/* 260  */ .ui-datepicker .ui-datepicker-next span {
/* 261  */ 	display: block;
/* 262  */ 	position: absolute;
/* 263  */ 	left: 50%;
/* 264  */ 	margin-left: -8px;
/* 265  */ 	top: 50%;
/* 266  */ 	margin-top: -8px;
/* 267  */ }
/* 268  */ .ui-datepicker .ui-datepicker-title {
/* 269  */ 	margin: 0 2.3em;
/* 270  */ 	line-height: 1.8em;
/* 271  */ 	text-align: center;
/* 272  */ }
/* 273  */ .ui-datepicker .ui-datepicker-title select {
/* 274  */ 	font-size: 1em;
/* 275  */ 	margin: 1px 0;
/* 276  */ }
/* 277  */ .ui-datepicker select.ui-datepicker-month-year {
/* 278  */ 	width: 100%;
/* 279  */ }
/* 280  */ .ui-datepicker select.ui-datepicker-month,
/* 281  */ .ui-datepicker select.ui-datepicker-year {
/* 282  */ 	width: 49%;
/* 283  */ }
/* 284  */ .ui-datepicker table {
/* 285  */ 	width: 100%;
/* 286  */ 	font-size: .9em;
/* 287  */ 	border-collapse: collapse;
/* 288  */ 	margin: 0 0 .4em;
/* 289  */ }
/* 290  */ .ui-datepicker th {
/* 291  */ 	padding: .7em .3em;
/* 292  */ 	text-align: center;
/* 293  */ 	font-weight: bold;
/* 294  */ 	border: 0;
/* 295  */ }
/* 296  */ .ui-datepicker td {
/* 297  */ 	border: 0;
/* 298  */ 	padding: 1px;
/* 299  */ }
/* 300  */ .ui-datepicker td span,

/* jquery-ui.css */

/* 301  */ .ui-datepicker td a {
/* 302  */ 	display: block;
/* 303  */ 	padding: .2em;
/* 304  */ 	text-align: right;
/* 305  */ 	text-decoration: none;
/* 306  */ }
/* 307  */ .ui-datepicker .ui-datepicker-buttonpane {
/* 308  */ 	background-image: none;
/* 309  */ 	margin: .7em 0 0 0;
/* 310  */ 	padding: 0 .2em;
/* 311  */ 	border-left: 0;
/* 312  */ 	border-right: 0;
/* 313  */ 	border-bottom: 0;
/* 314  */ }
/* 315  */ .ui-datepicker .ui-datepicker-buttonpane button {
/* 316  */ 	float: right;
/* 317  */ 	margin: .5em .2em .4em;
/* 318  */ 	cursor: pointer;
/* 319  */ 	padding: .2em .6em .3em .6em;
/* 320  */ 	width: auto;
/* 321  */ 	overflow: visible;
/* 322  */ }
/* 323  */ .ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
/* 324  */ 	float: left;
/* 325  */ }
/* 326  */ 
/* 327  */ /* with multiple calendars */
/* 328  */ .ui-datepicker.ui-datepicker-multi {
/* 329  */ 	width: auto;
/* 330  */ }
/* 331  */ .ui-datepicker-multi .ui-datepicker-group {
/* 332  */ 	float: left;
/* 333  */ }
/* 334  */ .ui-datepicker-multi .ui-datepicker-group table {
/* 335  */ 	width: 95%;
/* 336  */ 	margin: 0 auto .4em;
/* 337  */ }
/* 338  */ .ui-datepicker-multi-2 .ui-datepicker-group {
/* 339  */ 	width: 50%;
/* 340  */ }
/* 341  */ .ui-datepicker-multi-3 .ui-datepicker-group {
/* 342  */ 	width: 33.3%;
/* 343  */ }
/* 344  */ .ui-datepicker-multi-4 .ui-datepicker-group {
/* 345  */ 	width: 25%;
/* 346  */ }
/* 347  */ .ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header,
/* 348  */ .ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header {
/* 349  */ 	border-left-width: 0;
/* 350  */ }

/* jquery-ui.css */

/* 351  */ .ui-datepicker-multi .ui-datepicker-buttonpane {
/* 352  */ 	clear: left;
/* 353  */ }
/* 354  */ .ui-datepicker-row-break {
/* 355  */ 	clear: both;
/* 356  */ 	width: 100%;
/* 357  */ 	font-size: 0;
/* 358  */ }
/* 359  */ 
/* 360  */ /* RTL support */
/* 361  */ .ui-datepicker-rtl {
/* 362  */ 	direction: rtl;
/* 363  */ }
/* 364  */ .ui-datepicker-rtl .ui-datepicker-prev {
/* 365  */ 	right: 2px;
/* 366  */ 	left: auto;
/* 367  */ }
/* 368  */ .ui-datepicker-rtl .ui-datepicker-next {
/* 369  */ 	left: 2px;
/* 370  */ 	right: auto;
/* 371  */ }
/* 372  */ .ui-datepicker-rtl .ui-datepicker-prev:hover {
/* 373  */ 	right: 1px;
/* 374  */ 	left: auto;
/* 375  */ }
/* 376  */ .ui-datepicker-rtl .ui-datepicker-next:hover {
/* 377  */ 	left: 1px;
/* 378  */ 	right: auto;
/* 379  */ }
/* 380  */ .ui-datepicker-rtl .ui-datepicker-buttonpane {
/* 381  */ 	clear: right;
/* 382  */ }
/* 383  */ .ui-datepicker-rtl .ui-datepicker-buttonpane button {
/* 384  */ 	float: left;
/* 385  */ }
/* 386  */ .ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current,
/* 387  */ .ui-datepicker-rtl .ui-datepicker-group {
/* 388  */ 	float: right;
/* 389  */ }
/* 390  */ .ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header,
/* 391  */ .ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header {
/* 392  */ 	border-right-width: 0;
/* 393  */ 	border-left-width: 1px;
/* 394  */ }
/* 395  */ .ui-dialog {
/* 396  */ 	position: absolute;
/* 397  */ 	top: 0;
/* 398  */ 	left: 0;
/* 399  */ 	padding: .2em;
/* 400  */ 	outline: 0;

/* jquery-ui.css */

/* 401  */ }
/* 402  */ .ui-dialog .ui-dialog-titlebar {
/* 403  */ 	padding: .4em 1em;
/* 404  */ 	position: relative;
/* 405  */ }
/* 406  */ .ui-dialog .ui-dialog-title {
/* 407  */ 	float: left;
/* 408  */ 	margin: .1em 0;
/* 409  */ 	white-space: nowrap;
/* 410  */ 	width: 90%;
/* 411  */ 	overflow: hidden;
/* 412  */ 	text-overflow: ellipsis;
/* 413  */ }
/* 414  */ .ui-dialog .ui-dialog-titlebar-close {
/* 415  */ 	position: absolute;
/* 416  */ 	right: .3em;
/* 417  */ 	top: 50%;
/* 418  */ 	width: 21px;
/* 419  */ 	margin: -10px 0 0 0;
/* 420  */ 	padding: 1px;
/* 421  */ 	height: 20px;
/* 422  */ }
/* 423  */ .ui-dialog .ui-dialog-content {
/* 424  */ 	position: relative;
/* 425  */ 	border: 0;
/* 426  */ 	padding: .5em 1em;
/* 427  */ 	background: none;
/* 428  */ 	overflow: auto;
/* 429  */ }
/* 430  */ .ui-dialog .ui-dialog-buttonpane {
/* 431  */ 	text-align: left;
/* 432  */ 	border-width: 1px 0 0 0;
/* 433  */ 	background-image: none;
/* 434  */ 	margin-top: .5em;
/* 435  */ 	padding: .3em 1em .5em .4em;
/* 436  */ }
/* 437  */ .ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
/* 438  */ 	float: right;
/* 439  */ }
/* 440  */ .ui-dialog .ui-dialog-buttonpane button {
/* 441  */ 	margin: .5em .4em .5em 0;
/* 442  */ 	cursor: pointer;
/* 443  */ }
/* 444  */ .ui-dialog .ui-resizable-se {
/* 445  */ 	width: 12px;
/* 446  */ 	height: 12px;
/* 447  */ 	right: -5px;
/* 448  */ 	bottom: -5px;
/* 449  */ 	background-position: 16px 16px;
/* 450  */ }

/* jquery-ui.css */

/* 451  */ .ui-draggable .ui-dialog-titlebar {
/* 452  */ 	cursor: move;
/* 453  */ }
/* 454  */ .ui-menu {
/* 455  */ 	list-style: none;
/* 456  */ 	padding: 2px;
/* 457  */ 	margin: 0;
/* 458  */ 	display: block;
/* 459  */ 	outline: none;
/* 460  */ }
/* 461  */ .ui-menu .ui-menu {
/* 462  */ 	margin-top: -3px;
/* 463  */ 	position: absolute;
/* 464  */ }
/* 465  */ .ui-menu .ui-menu-item {
/* 466  */ 	margin: 0;
/* 467  */ 	padding: 0;
/* 468  */ 	width: 100%;
/* 469  */ 	/* support: IE10, see #8844 */
/* 470  */ 	list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
/* 471  */ }
/* 472  */ .ui-menu .ui-menu-divider {
/* 473  */ 	margin: 5px -2px 5px -2px;
/* 474  */ 	height: 0;
/* 475  */ 	font-size: 0;
/* 476  */ 	line-height: 0;
/* 477  */ 	border-width: 1px 0 0 0;
/* 478  */ }
/* 479  */ .ui-menu .ui-menu-item a {
/* 480  */ 	text-decoration: none;
/* 481  */ 	display: block;
/* 482  */ 	padding: 2px .4em;
/* 483  */ 	line-height: 1.5;
/* 484  */ 	min-height: 0; /* support: IE7 */
/* 485  */ 	font-weight: normal;
/* 486  */ }
/* 487  */ .ui-menu .ui-menu-item a.ui-state-focus,
/* 488  */ .ui-menu .ui-menu-item a.ui-state-active {
/* 489  */ 	font-weight: normal;
/* 490  */ 	margin: -1px;
/* 491  */ }
/* 492  */ 
/* 493  */ .ui-menu .ui-state-disabled {
/* 494  */ 	font-weight: normal;
/* 495  */ 	margin: .4em 0 .2em;
/* 496  */ 	line-height: 1.5;
/* 497  */ }
/* 498  */ .ui-menu .ui-state-disabled a {
/* 499  */ 	cursor: default;
/* 500  */ }

/* jquery-ui.css */

/* 501  */ 
/* 502  */ /* icon support */
/* 503  */ .ui-menu-icons {
/* 504  */ 	position: relative;
/* 505  */ }
/* 506  */ .ui-menu-icons .ui-menu-item a {
/* 507  */ 	position: relative;
/* 508  */ 	padding-left: 2em;
/* 509  */ }
/* 510  */ 
/* 511  */ /* left-aligned */
/* 512  */ .ui-menu .ui-icon {
/* 513  */ 	position: absolute;
/* 514  */ 	top: .2em;
/* 515  */ 	left: .2em;
/* 516  */ }
/* 517  */ 
/* 518  */ /* right-aligned */
/* 519  */ .ui-menu .ui-menu-icon {
/* 520  */ 	position: static;
/* 521  */ 	float: right;
/* 522  */ }
/* 523  */ .ui-progressbar {
/* 524  */ 	height: 2em;
/* 525  */ 	text-align: left;
/* 526  */ 	overflow: hidden;
/* 527  */ }
/* 528  */ .ui-progressbar .ui-progressbar-value {
/* 529  */ 	margin: -1px;
/* 530  */ 	height: 100%;
/* 531  */ }
/* 532  */ .ui-progressbar .ui-progressbar-overlay {
/* 533  */ 	background: url("/wp-content/plugins/cf7-datepicker-alternative/css/images/animated-overlay.gif");
/* 534  */ 	height: 100%;
/* 535  */ 	filter: alpha(opacity=25);
/* 536  */ 	opacity: 0.25;
/* 537  */ }
/* 538  */ .ui-progressbar-indeterminate .ui-progressbar-value {
/* 539  */ 	background-image: none;
/* 540  */ }
/* 541  */ .ui-resizable {
/* 542  */ 	position: relative;
/* 543  */ }
/* 544  */ .ui-resizable-handle {
/* 545  */ 	position: absolute;
/* 546  */ 	font-size: 0.1px;
/* 547  */ 	display: block;
/* 548  */ }
/* 549  */ .ui-resizable-disabled .ui-resizable-handle,
/* 550  */ .ui-resizable-autohide .ui-resizable-handle {

/* jquery-ui.css */

/* 551  */ 	display: none;
/* 552  */ }
/* 553  */ .ui-resizable-n {
/* 554  */ 	cursor: n-resize;
/* 555  */ 	height: 7px;
/* 556  */ 	width: 100%;
/* 557  */ 	top: -5px;
/* 558  */ 	left: 0;
/* 559  */ }
/* 560  */ .ui-resizable-s {
/* 561  */ 	cursor: s-resize;
/* 562  */ 	height: 7px;
/* 563  */ 	width: 100%;
/* 564  */ 	bottom: -5px;
/* 565  */ 	left: 0;
/* 566  */ }
/* 567  */ .ui-resizable-e {
/* 568  */ 	cursor: e-resize;
/* 569  */ 	width: 7px;
/* 570  */ 	right: -5px;
/* 571  */ 	top: 0;
/* 572  */ 	height: 100%;
/* 573  */ }
/* 574  */ .ui-resizable-w {
/* 575  */ 	cursor: w-resize;
/* 576  */ 	width: 7px;
/* 577  */ 	left: -5px;
/* 578  */ 	top: 0;
/* 579  */ 	height: 100%;
/* 580  */ }
/* 581  */ .ui-resizable-se {
/* 582  */ 	cursor: se-resize;
/* 583  */ 	width: 12px;
/* 584  */ 	height: 12px;
/* 585  */ 	right: 1px;
/* 586  */ 	bottom: 1px;
/* 587  */ }
/* 588  */ .ui-resizable-sw {
/* 589  */ 	cursor: sw-resize;
/* 590  */ 	width: 9px;
/* 591  */ 	height: 9px;
/* 592  */ 	left: -5px;
/* 593  */ 	bottom: -5px;
/* 594  */ }
/* 595  */ .ui-resizable-nw {
/* 596  */ 	cursor: nw-resize;
/* 597  */ 	width: 9px;
/* 598  */ 	height: 9px;
/* 599  */ 	left: -5px;
/* 600  */ 	top: -5px;

/* jquery-ui.css */

/* 601  */ }
/* 602  */ .ui-resizable-ne {
/* 603  */ 	cursor: ne-resize;
/* 604  */ 	width: 9px;
/* 605  */ 	height: 9px;
/* 606  */ 	right: -5px;
/* 607  */ 	top: -5px;
/* 608  */ }
/* 609  */ .ui-selectable-helper {
/* 610  */ 	position: absolute;
/* 611  */ 	z-index: 100;
/* 612  */ 	border: 1px dotted black;
/* 613  */ }
/* 614  */ .ui-slider {
/* 615  */ 	position: relative;
/* 616  */ 	text-align: left;
/* 617  */ }
/* 618  */ .ui-slider .ui-slider-handle {
/* 619  */ 	position: absolute;
/* 620  */ 	z-index: 2;
/* 621  */ 	width: 1.2em;
/* 622  */ 	height: 1.2em;
/* 623  */ 	cursor: default;
/* 624  */ }
/* 625  */ .ui-slider .ui-slider-range {
/* 626  */ 	position: absolute;
/* 627  */ 	z-index: 1;
/* 628  */ 	font-size: .7em;
/* 629  */ 	display: block;
/* 630  */ 	border: 0;
/* 631  */ 	background-position: 0 0;
/* 632  */ }
/* 633  */ 
/* 634  */ /* For IE8 - See #6727 */
/* 635  */ .ui-slider.ui-state-disabled .ui-slider-handle,
/* 636  */ .ui-slider.ui-state-disabled .ui-slider-range {
/* 637  */ 	filter: inherit;
/* 638  */ }
/* 639  */ 
/* 640  */ .ui-slider-horizontal {
/* 641  */ 	height: .8em;
/* 642  */ }
/* 643  */ .ui-slider-horizontal .ui-slider-handle {
/* 644  */ 	top: -.3em;
/* 645  */ 	margin-left: -.6em;
/* 646  */ }
/* 647  */ .ui-slider-horizontal .ui-slider-range {
/* 648  */ 	top: 0;
/* 649  */ 	height: 100%;
/* 650  */ }

/* jquery-ui.css */

/* 651  */ .ui-slider-horizontal .ui-slider-range-min {
/* 652  */ 	left: 0;
/* 653  */ }
/* 654  */ .ui-slider-horizontal .ui-slider-range-max {
/* 655  */ 	right: 0;
/* 656  */ }
/* 657  */ 
/* 658  */ .ui-slider-vertical {
/* 659  */ 	width: .8em;
/* 660  */ 	height: 100px;
/* 661  */ }
/* 662  */ .ui-slider-vertical .ui-slider-handle {
/* 663  */ 	left: -.3em;
/* 664  */ 	margin-left: 0;
/* 665  */ 	margin-bottom: -.6em;
/* 666  */ }
/* 667  */ .ui-slider-vertical .ui-slider-range {
/* 668  */ 	left: 0;
/* 669  */ 	width: 100%;
/* 670  */ }
/* 671  */ .ui-slider-vertical .ui-slider-range-min {
/* 672  */ 	bottom: 0;
/* 673  */ }
/* 674  */ .ui-slider-vertical .ui-slider-range-max {
/* 675  */ 	top: 0;
/* 676  */ }
/* 677  */ .ui-spinner {
/* 678  */ 	position: relative;
/* 679  */ 	display: inline-block;
/* 680  */ 	overflow: hidden;
/* 681  */ 	padding: 0;
/* 682  */ 	vertical-align: middle;
/* 683  */ }
/* 684  */ .ui-spinner-input {
/* 685  */ 	border: none;
/* 686  */ 	background: none;
/* 687  */ 	color: inherit;
/* 688  */ 	padding: 0;
/* 689  */ 	margin: .2em 0;
/* 690  */ 	vertical-align: middle;
/* 691  */ 	margin-left: .4em;
/* 692  */ 	margin-right: 22px;
/* 693  */ }
/* 694  */ .ui-spinner-button {
/* 695  */ 	width: 16px;
/* 696  */ 	height: 50%;
/* 697  */ 	font-size: .5em;
/* 698  */ 	padding: 0;
/* 699  */ 	margin: 0;
/* 700  */ 	text-align: center;

/* jquery-ui.css */

/* 701  */ 	position: absolute;
/* 702  */ 	cursor: default;
/* 703  */ 	display: block;
/* 704  */ 	overflow: hidden;
/* 705  */ 	right: 0;
/* 706  */ }
/* 707  */ /* more specificity required here to overide default borders */
/* 708  */ .ui-spinner a.ui-spinner-button {
/* 709  */ 	border-top: none;
/* 710  */ 	border-bottom: none;
/* 711  */ 	border-right: none;
/* 712  */ }
/* 713  */ /* vertical centre icon */
/* 714  */ .ui-spinner .ui-icon {
/* 715  */ 	position: absolute;
/* 716  */ 	margin-top: -8px;
/* 717  */ 	top: 50%;
/* 718  */ 	left: 0;
/* 719  */ }
/* 720  */ .ui-spinner-up {
/* 721  */ 	top: 0;
/* 722  */ }
/* 723  */ .ui-spinner-down {
/* 724  */ 	bottom: 0;
/* 725  */ }
/* 726  */ 
/* 727  */ /* TR overrides */
/* 728  */ .ui-spinner .ui-icon-triangle-1-s {
/* 729  */ 	/* need to fix icons sprite */
/* 730  */ 	background-position: -65px -16px;
/* 731  */ }
/* 732  */ .ui-tabs {
/* 733  */ 	position: relative;/* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
/* 734  */ 	padding: .2em;
/* 735  */ }
/* 736  */ .ui-tabs .ui-tabs-nav {
/* 737  */ 	margin: 0;
/* 738  */ 	padding: .2em .2em 0;
/* 739  */ }
/* 740  */ .ui-tabs .ui-tabs-nav li {
/* 741  */ 	list-style: none;
/* 742  */ 	float: left;
/* 743  */ 	position: relative;
/* 744  */ 	top: 0;
/* 745  */ 	margin: 1px .2em 0 0;
/* 746  */ 	border-bottom-width: 0;
/* 747  */ 	padding: 0;
/* 748  */ 	white-space: nowrap;
/* 749  */ }
/* 750  */ .ui-tabs .ui-tabs-nav li a {

/* jquery-ui.css */

/* 751  */ 	float: left;
/* 752  */ 	padding: .5em 1em;
/* 753  */ 	text-decoration: none;
/* 754  */ }
/* 755  */ .ui-tabs .ui-tabs-nav li.ui-tabs-active {
/* 756  */ 	margin-bottom: -1px;
/* 757  */ 	padding-bottom: 1px;
/* 758  */ }
/* 759  */ .ui-tabs .ui-tabs-nav li.ui-tabs-active a,
/* 760  */ .ui-tabs .ui-tabs-nav li.ui-state-disabled a,
/* 761  */ .ui-tabs .ui-tabs-nav li.ui-tabs-loading a {
/* 762  */ 	cursor: text;
/* 763  */ }
/* 764  */ .ui-tabs .ui-tabs-nav li a, /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
/* 765  */ .ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-active a {
/* 766  */ 	cursor: pointer;
/* 767  */ }
/* 768  */ .ui-tabs .ui-tabs-panel {
/* 769  */ 	display: block;
/* 770  */ 	border-width: 0;
/* 771  */ 	padding: 1em 1.4em;
/* 772  */ 	background: none;
/* 773  */ }
/* 774  */ .ui-tooltip {
/* 775  */ 	padding: 8px;
/* 776  */ 	position: absolute;
/* 777  */ 	z-index: 9999;
/* 778  */ 	max-width: 300px;
/* 779  */ 	-webkit-box-shadow: 0 0 5px #aaa;
/* 780  */ 	box-shadow: 0 0 5px #aaa;
/* 781  */ }
/* 782  */ body .ui-tooltip {
/* 783  */ 	border-width: 2px;
/* 784  */ }
/* 785  */ 
/* 786  */ /* Component containers
/* 787  *| ----------------------------------*/
/* 788  */ .ui-widget {
/* 789  */ 	font-family: Verdana,Arial,sans-serif;
/* 790  */ 	font-size: 1.1em;
/* 791  */ }
/* 792  */ .ui-widget .ui-widget {
/* 793  */ 	font-size: 1em;
/* 794  */ }
/* 795  */ .ui-widget input,
/* 796  */ .ui-widget select,
/* 797  */ .ui-widget textarea,
/* 798  */ .ui-widget button {
/* 799  */ 	font-family: Verdana,Arial,sans-serif;
/* 800  */ 	font-size: 1em;

/* jquery-ui.css */

/* 801  */ }
/* 802  */ .ui-widget-content {
/* 803  */ 	border: 1px solid #aaaaaa;
/* 804  */ 	background: #ffffff url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
/* 805  */ 	color: #222222;
/* 806  */ }
/* 807  */ .ui-widget-content a {
/* 808  */ 	color: #222222;
/* 809  */ }
/* 810  */ .ui-widget-header {
/* 811  */ 	border: 1px solid #aaaaaa;
/* 812  */ 	background: #cccccc url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
/* 813  */ 	color: #222222;
/* 814  */ 	font-weight: bold;
/* 815  */ }
/* 816  */ .ui-widget-header a {
/* 817  */ 	color: #222222;
/* 818  */ }
/* 819  */ 
/* 820  */ /* Interaction states
/* 821  *| ----------------------------------*/
/* 822  */ .ui-state-default,
/* 823  */ .ui-widget-content .ui-state-default,
/* 824  */ .ui-widget-header .ui-state-default {
/* 825  */ 	border: 1px solid #d3d3d3;
/* 826  */ 	background: #e6e6e6 url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;
/* 827  */ 	font-weight: normal;
/* 828  */ 	color: #555555;
/* 829  */ }
/* 830  */ .ui-state-default a,
/* 831  */ .ui-state-default a:link,
/* 832  */ .ui-state-default a:visited {
/* 833  */ 	color: #555555;
/* 834  */ 	text-decoration: none;
/* 835  */ }
/* 836  */ .ui-state-hover,
/* 837  */ .ui-widget-content .ui-state-hover,
/* 838  */ .ui-widget-header .ui-state-hover,
/* 839  */ .ui-state-focus,
/* 840  */ .ui-widget-content .ui-state-focus,
/* 841  */ .ui-widget-header .ui-state-focus {
/* 842  */ 	border: 1px solid #999999;
/* 843  */ 	background: #dadada url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x;
/* 844  */ 	font-weight: normal;
/* 845  */ 	color: #212121;
/* 846  */ }
/* 847  */ .ui-state-hover a,
/* 848  */ .ui-state-hover a:hover,
/* 849  */ .ui-state-hover a:link,
/* 850  */ .ui-state-hover a:visited {

/* jquery-ui.css */

/* 851  */ 	color: #212121;
/* 852  */ 	text-decoration: none;
/* 853  */ }
/* 854  */ .ui-state-active,
/* 855  */ .ui-widget-content .ui-state-active,
/* 856  */ .ui-widget-header .ui-state-active {
/* 857  */ 	border: 1px solid #aaaaaa;
/* 858  */ 	background: #ffffff url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x;
/* 859  */ 	font-weight: normal;
/* 860  */ 	color: #212121;
/* 861  */ }
/* 862  */ .ui-state-active a,
/* 863  */ .ui-state-active a:link,
/* 864  */ .ui-state-active a:visited {
/* 865  */ 	color: #212121;
/* 866  */ 	text-decoration: none;
/* 867  */ }
/* 868  */ 
/* 869  */ /* Interaction Cues
/* 870  *| ----------------------------------*/
/* 871  */ .ui-state-highlight,
/* 872  */ .ui-widget-content .ui-state-highlight,
/* 873  */ .ui-widget-header .ui-state-highlight {
/* 874  */ 	border: 1px solid #fcefa1;
/* 875  */ 	background: #fbf9ee url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_glass_55_fbf9ee_1x400.png) 50% 50% repeat-x;
/* 876  */ 	color: #363636;
/* 877  */ }
/* 878  */ .ui-state-highlight a,
/* 879  */ .ui-widget-content .ui-state-highlight a,
/* 880  */ .ui-widget-header .ui-state-highlight a {
/* 881  */ 	color: #363636;
/* 882  */ }
/* 883  */ .ui-state-error,
/* 884  */ .ui-widget-content .ui-state-error,
/* 885  */ .ui-widget-header .ui-state-error {
/* 886  */ 	border: 1px solid #cd0a0a;
/* 887  */ 	background: #fef1ec url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_glass_95_fef1ec_1x400.png) 50% 50% repeat-x;
/* 888  */ 	color: #cd0a0a;
/* 889  */ }
/* 890  */ .ui-state-error a,
/* 891  */ .ui-widget-content .ui-state-error a,
/* 892  */ .ui-widget-header .ui-state-error a {
/* 893  */ 	color: #cd0a0a;
/* 894  */ }
/* 895  */ .ui-state-error-text,
/* 896  */ .ui-widget-content .ui-state-error-text,
/* 897  */ .ui-widget-header .ui-state-error-text {
/* 898  */ 	color: #cd0a0a;
/* 899  */ }
/* 900  */ .ui-priority-primary,

/* jquery-ui.css */

/* 901  */ .ui-widget-content .ui-priority-primary,
/* 902  */ .ui-widget-header .ui-priority-primary {
/* 903  */ 	font-weight: bold;
/* 904  */ }
/* 905  */ .ui-priority-secondary,
/* 906  */ .ui-widget-content .ui-priority-secondary,
/* 907  */ .ui-widget-header .ui-priority-secondary {
/* 908  */ 	opacity: .7;
/* 909  */ 	filter:Alpha(Opacity=70);
/* 910  */ 	font-weight: normal;
/* 911  */ }
/* 912  */ .ui-state-disabled,
/* 913  */ .ui-widget-content .ui-state-disabled,
/* 914  */ .ui-widget-header .ui-state-disabled {
/* 915  */ 	opacity: .35;
/* 916  */ 	filter:Alpha(Opacity=35);
/* 917  */ 	background-image: none;
/* 918  */ }
/* 919  */ .ui-state-disabled .ui-icon {
/* 920  */ 	filter:Alpha(Opacity=35); /* For IE8 - See #6059 */
/* 921  */ }
/* 922  */ 
/* 923  */ /* Icons
/* 924  *| ----------------------------------*/
/* 925  */ 
/* 926  */ /* states and images */
/* 927  */ .ui-icon {
/* 928  */ 	width: 16px;
/* 929  */ 	height: 16px;
/* 930  */ }
/* 931  */ .ui-icon,
/* 932  */ .ui-widget-content .ui-icon {
/* 933  */ 	background-image: url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-icons_222222_256x240.png);
/* 934  */ }
/* 935  */ .ui-widget-header .ui-icon {
/* 936  */ 	background-image: url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-icons_222222_256x240.png);
/* 937  */ }
/* 938  */ .ui-state-default .ui-icon {
/* 939  */ 	background-image: url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-icons_888888_256x240.png);
/* 940  */ }
/* 941  */ .ui-state-hover .ui-icon,
/* 942  */ .ui-state-focus .ui-icon {
/* 943  */ 	background-image: url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-icons_454545_256x240.png);
/* 944  */ }
/* 945  */ .ui-state-active .ui-icon {
/* 946  */ 	background-image: url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-icons_454545_256x240.png);
/* 947  */ }
/* 948  */ .ui-state-highlight .ui-icon {
/* 949  */ 	background-image: url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-icons_2e83ff_256x240.png);
/* 950  */ }

/* jquery-ui.css */

/* 951  */ .ui-state-error .ui-icon,
/* 952  */ .ui-state-error-text .ui-icon {
/* 953  */ 	background-image: url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-icons_cd0a0a_256x240.png);
/* 954  */ }
/* 955  */ 
/* 956  */ /* positioning */
/* 957  */ .ui-icon-blank { background-position: 16px 16px; }
/* 958  */ .ui-icon-carat-1-n { background-position: 0 0; }
/* 959  */ .ui-icon-carat-1-ne { background-position: -16px 0; }
/* 960  */ .ui-icon-carat-1-e { background-position: -32px 0; }
/* 961  */ .ui-icon-carat-1-se { background-position: -48px 0; }
/* 962  */ .ui-icon-carat-1-s { background-position: -64px 0; }
/* 963  */ .ui-icon-carat-1-sw { background-position: -80px 0; }
/* 964  */ .ui-icon-carat-1-w { background-position: -96px 0; }
/* 965  */ .ui-icon-carat-1-nw { background-position: -112px 0; }
/* 966  */ .ui-icon-carat-2-n-s { background-position: -128px 0; }
/* 967  */ .ui-icon-carat-2-e-w { background-position: -144px 0; }
/* 968  */ .ui-icon-triangle-1-n { background-position: 0 -16px; }
/* 969  */ .ui-icon-triangle-1-ne { background-position: -16px -16px; }
/* 970  */ .ui-icon-triangle-1-e { background-position: -32px -16px; }
/* 971  */ .ui-icon-triangle-1-se { background-position: -48px -16px; }
/* 972  */ .ui-icon-triangle-1-s { background-position: -64px -16px; }
/* 973  */ .ui-icon-triangle-1-sw { background-position: -80px -16px; }
/* 974  */ .ui-icon-triangle-1-w { background-position: -96px -16px; }
/* 975  */ .ui-icon-triangle-1-nw { background-position: -112px -16px; }
/* 976  */ .ui-icon-triangle-2-n-s { background-position: -128px -16px; }
/* 977  */ .ui-icon-triangle-2-e-w { background-position: -144px -16px; }
/* 978  */ .ui-icon-arrow-1-n { background-position: 0 -32px; }
/* 979  */ .ui-icon-arrow-1-ne { background-position: -16px -32px; }
/* 980  */ .ui-icon-arrow-1-e { background-position: -32px -32px; }
/* 981  */ .ui-icon-arrow-1-se { background-position: -48px -32px; }
/* 982  */ .ui-icon-arrow-1-s { background-position: -64px -32px; }
/* 983  */ .ui-icon-arrow-1-sw { background-position: -80px -32px; }
/* 984  */ .ui-icon-arrow-1-w { background-position: -96px -32px; }
/* 985  */ .ui-icon-arrow-1-nw { background-position: -112px -32px; }
/* 986  */ .ui-icon-arrow-2-n-s { background-position: -128px -32px; }
/* 987  */ .ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
/* 988  */ .ui-icon-arrow-2-e-w { background-position: -160px -32px; }
/* 989  */ .ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
/* 990  */ .ui-icon-arrowstop-1-n { background-position: -192px -32px; }
/* 991  */ .ui-icon-arrowstop-1-e { background-position: -208px -32px; }
/* 992  */ .ui-icon-arrowstop-1-s { background-position: -224px -32px; }
/* 993  */ .ui-icon-arrowstop-1-w { background-position: -240px -32px; }
/* 994  */ .ui-icon-arrowthick-1-n { background-position: 0 -48px; }
/* 995  */ .ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
/* 996  */ .ui-icon-arrowthick-1-e { background-position: -32px -48px; }
/* 997  */ .ui-icon-arrowthick-1-se { background-position: -48px -48px; }
/* 998  */ .ui-icon-arrowthick-1-s { background-position: -64px -48px; }
/* 999  */ .ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
/* 1000 */ .ui-icon-arrowthick-1-w { background-position: -96px -48px; }

/* jquery-ui.css */

/* 1001 */ .ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
/* 1002 */ .ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
/* 1003 */ .ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
/* 1004 */ .ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
/* 1005 */ .ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
/* 1006 */ .ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
/* 1007 */ .ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
/* 1008 */ .ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
/* 1009 */ .ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
/* 1010 */ .ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
/* 1011 */ .ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
/* 1012 */ .ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
/* 1013 */ .ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
/* 1014 */ .ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
/* 1015 */ .ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
/* 1016 */ .ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
/* 1017 */ .ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
/* 1018 */ .ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
/* 1019 */ .ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
/* 1020 */ .ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
/* 1021 */ .ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
/* 1022 */ .ui-icon-arrow-4 { background-position: 0 -80px; }
/* 1023 */ .ui-icon-arrow-4-diag { background-position: -16px -80px; }
/* 1024 */ .ui-icon-extlink { background-position: -32px -80px; }
/* 1025 */ .ui-icon-newwin { background-position: -48px -80px; }
/* 1026 */ .ui-icon-refresh { background-position: -64px -80px; }
/* 1027 */ .ui-icon-shuffle { background-position: -80px -80px; }
/* 1028 */ .ui-icon-transfer-e-w { background-position: -96px -80px; }
/* 1029 */ .ui-icon-transferthick-e-w { background-position: -112px -80px; }
/* 1030 */ .ui-icon-folder-collapsed { background-position: 0 -96px; }
/* 1031 */ .ui-icon-folder-open { background-position: -16px -96px; }
/* 1032 */ .ui-icon-document { background-position: -32px -96px; }
/* 1033 */ .ui-icon-document-b { background-position: -48px -96px; }
/* 1034 */ .ui-icon-note { background-position: -64px -96px; }
/* 1035 */ .ui-icon-mail-closed { background-position: -80px -96px; }
/* 1036 */ .ui-icon-mail-open { background-position: -96px -96px; }
/* 1037 */ .ui-icon-suitcase { background-position: -112px -96px; }
/* 1038 */ .ui-icon-comment { background-position: -128px -96px; }
/* 1039 */ .ui-icon-person { background-position: -144px -96px; }
/* 1040 */ .ui-icon-print { background-position: -160px -96px; }
/* 1041 */ .ui-icon-trash { background-position: -176px -96px; }
/* 1042 */ .ui-icon-locked { background-position: -192px -96px; }
/* 1043 */ .ui-icon-unlocked { background-position: -208px -96px; }
/* 1044 */ .ui-icon-bookmark { background-position: -224px -96px; }
/* 1045 */ .ui-icon-tag { background-position: -240px -96px; }
/* 1046 */ .ui-icon-home { background-position: 0 -112px; }
/* 1047 */ .ui-icon-flag { background-position: -16px -112px; }
/* 1048 */ .ui-icon-calendar { background-position: -32px -112px; }
/* 1049 */ .ui-icon-cart { background-position: -48px -112px; }
/* 1050 */ .ui-icon-pencil { background-position: -64px -112px; }

/* jquery-ui.css */

/* 1051 */ .ui-icon-clock { background-position: -80px -112px; }
/* 1052 */ .ui-icon-disk { background-position: -96px -112px; }
/* 1053 */ .ui-icon-calculator { background-position: -112px -112px; }
/* 1054 */ .ui-icon-zoomin { background-position: -128px -112px; }
/* 1055 */ .ui-icon-zoomout { background-position: -144px -112px; }
/* 1056 */ .ui-icon-search { background-position: -160px -112px; }
/* 1057 */ .ui-icon-wrench { background-position: -176px -112px; }
/* 1058 */ .ui-icon-gear { background-position: -192px -112px; }
/* 1059 */ .ui-icon-heart { background-position: -208px -112px; }
/* 1060 */ .ui-icon-star { background-position: -224px -112px; }
/* 1061 */ .ui-icon-link { background-position: -240px -112px; }
/* 1062 */ .ui-icon-cancel { background-position: 0 -128px; }
/* 1063 */ .ui-icon-plus { background-position: -16px -128px; }
/* 1064 */ .ui-icon-plusthick { background-position: -32px -128px; }
/* 1065 */ .ui-icon-minus { background-position: -48px -128px; }
/* 1066 */ .ui-icon-minusthick { background-position: -64px -128px; }
/* 1067 */ .ui-icon-close { background-position: -80px -128px; }
/* 1068 */ .ui-icon-closethick { background-position: -96px -128px; }
/* 1069 */ .ui-icon-key { background-position: -112px -128px; }
/* 1070 */ .ui-icon-lightbulb { background-position: -128px -128px; }
/* 1071 */ .ui-icon-scissors { background-position: -144px -128px; }
/* 1072 */ .ui-icon-clipboard { background-position: -160px -128px; }
/* 1073 */ .ui-icon-copy { background-position: -176px -128px; }
/* 1074 */ .ui-icon-contact { background-position: -192px -128px; }
/* 1075 */ .ui-icon-image { background-position: -208px -128px; }
/* 1076 */ .ui-icon-video { background-position: -224px -128px; }
/* 1077 */ .ui-icon-script { background-position: -240px -128px; }
/* 1078 */ .ui-icon-alert { background-position: 0 -144px; }
/* 1079 */ .ui-icon-info { background-position: -16px -144px; }
/* 1080 */ .ui-icon-notice { background-position: -32px -144px; }
/* 1081 */ .ui-icon-help { background-position: -48px -144px; }
/* 1082 */ .ui-icon-check { background-position: -64px -144px; }
/* 1083 */ .ui-icon-bullet { background-position: -80px -144px; }
/* 1084 */ .ui-icon-radio-on { background-position: -96px -144px; }
/* 1085 */ .ui-icon-radio-off { background-position: -112px -144px; }
/* 1086 */ .ui-icon-pin-w { background-position: -128px -144px; }
/* 1087 */ .ui-icon-pin-s { background-position: -144px -144px; }
/* 1088 */ .ui-icon-play { background-position: 0 -160px; }
/* 1089 */ .ui-icon-pause { background-position: -16px -160px; }
/* 1090 */ .ui-icon-seek-next { background-position: -32px -160px; }
/* 1091 */ .ui-icon-seek-prev { background-position: -48px -160px; }
/* 1092 */ .ui-icon-seek-end { background-position: -64px -160px; }
/* 1093 */ .ui-icon-seek-start { background-position: -80px -160px; }
/* 1094 */ /* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
/* 1095 */ .ui-icon-seek-first { background-position: -80px -160px; }
/* 1096 */ .ui-icon-stop { background-position: -96px -160px; }
/* 1097 */ .ui-icon-eject { background-position: -112px -160px; }
/* 1098 */ .ui-icon-volume-off { background-position: -128px -160px; }
/* 1099 */ .ui-icon-volume-on { background-position: -144px -160px; }
/* 1100 */ .ui-icon-power { background-position: 0 -176px; }

/* jquery-ui.css */

/* 1101 */ .ui-icon-signal-diag { background-position: -16px -176px; }
/* 1102 */ .ui-icon-signal { background-position: -32px -176px; }
/* 1103 */ .ui-icon-battery-0 { background-position: -48px -176px; }
/* 1104 */ .ui-icon-battery-1 { background-position: -64px -176px; }
/* 1105 */ .ui-icon-battery-2 { background-position: -80px -176px; }
/* 1106 */ .ui-icon-battery-3 { background-position: -96px -176px; }
/* 1107 */ .ui-icon-circle-plus { background-position: 0 -192px; }
/* 1108 */ .ui-icon-circle-minus { background-position: -16px -192px; }
/* 1109 */ .ui-icon-circle-close { background-position: -32px -192px; }
/* 1110 */ .ui-icon-circle-triangle-e { background-position: -48px -192px; }
/* 1111 */ .ui-icon-circle-triangle-s { background-position: -64px -192px; }
/* 1112 */ .ui-icon-circle-triangle-w { background-position: -80px -192px; }
/* 1113 */ .ui-icon-circle-triangle-n { background-position: -96px -192px; }
/* 1114 */ .ui-icon-circle-arrow-e { background-position: -112px -192px; }
/* 1115 */ .ui-icon-circle-arrow-s { background-position: -128px -192px; }
/* 1116 */ .ui-icon-circle-arrow-w { background-position: -144px -192px; }
/* 1117 */ .ui-icon-circle-arrow-n { background-position: -160px -192px; }
/* 1118 */ .ui-icon-circle-zoomin { background-position: -176px -192px; }
/* 1119 */ .ui-icon-circle-zoomout { background-position: -192px -192px; }
/* 1120 */ .ui-icon-circle-check { background-position: -208px -192px; }
/* 1121 */ .ui-icon-circlesmall-plus { background-position: 0 -208px; }
/* 1122 */ .ui-icon-circlesmall-minus { background-position: -16px -208px; }
/* 1123 */ .ui-icon-circlesmall-close { background-position: -32px -208px; }
/* 1124 */ .ui-icon-squaresmall-plus { background-position: -48px -208px; }
/* 1125 */ .ui-icon-squaresmall-minus { background-position: -64px -208px; }
/* 1126 */ .ui-icon-squaresmall-close { background-position: -80px -208px; }
/* 1127 */ .ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
/* 1128 */ .ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
/* 1129 */ .ui-icon-grip-solid-vertical { background-position: -32px -224px; }
/* 1130 */ .ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
/* 1131 */ .ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
/* 1132 */ .ui-icon-grip-diagonal-se { background-position: -80px -224px; }
/* 1133 */ 
/* 1134 */ 
/* 1135 */ /* Misc visuals
/* 1136 *| ----------------------------------*/
/* 1137 */ 
/* 1138 */ /* Corner radius */
/* 1139 */ .ui-corner-all,
/* 1140 */ .ui-corner-top,
/* 1141 */ .ui-corner-left,
/* 1142 */ .ui-corner-tl {
/* 1143 */ 	border-top-left-radius: 4px;
/* 1144 */ }
/* 1145 */ .ui-corner-all,
/* 1146 */ .ui-corner-top,
/* 1147 */ .ui-corner-right,
/* 1148 */ .ui-corner-tr {
/* 1149 */ 	border-top-right-radius: 4px;
/* 1150 */ }

/* jquery-ui.css */

/* 1151 */ .ui-corner-all,
/* 1152 */ .ui-corner-bottom,
/* 1153 */ .ui-corner-left,
/* 1154 */ .ui-corner-bl {
/* 1155 */ 	border-bottom-left-radius: 4px;
/* 1156 */ }
/* 1157 */ .ui-corner-all,
/* 1158 */ .ui-corner-bottom,
/* 1159 */ .ui-corner-right,
/* 1160 */ .ui-corner-br {
/* 1161 */ 	border-bottom-right-radius: 4px;
/* 1162 */ }
/* 1163 */ 
/* 1164 */ /* Overlays */
/* 1165 */ .ui-widget-overlay {
/* 1166 */ 	background: #aaaaaa url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
/* 1167 */ 	opacity: .3;
/* 1168 */ 	filter: Alpha(Opacity=30);
/* 1169 */ }
/* 1170 */ .ui-widget-shadow {
/* 1171 */ 	margin: -8px 0 0 -8px;
/* 1172 */ 	padding: 8px;
/* 1173 */ 	background: #aaaaaa url(/wp-content/plugins/cf7-datepicker-alternative/css/images/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x;
/* 1174 */ 	opacity: .3;
/* 1175 */ 	filter: Alpha(Opacity=30);
/* 1176 */ 	border-radius: 8px;
/* 1177 */ }
/* 1178 */ 

/* style.css */

/* 1   */ 
/* 2   */ .sp_cu_event_log{}
/* 3   */ .sp_cu_event_log .sp_cu_event_log_item{background-color:#EFEFEF;padding:10px;margin:5px;font-size:.9em;}
/* 4   */ .sp_cu_event_log  .sp_cu_event_log_item_content{padding:3px;}
/* 5   */ .sp_cu_event_log  .sp_cu_event_log_item_by{padding:3px;font-size:.9em;}
/* 6   */ #upload_form .error {
/* 7   */ 
/* 8   */   clear: both;
/* 9   */ 
/* 10  */   color: #f00;
/* 11  */ 
/* 12  */   position:absolute; background-color:#F7DFE0;width:75px;
/* 13  */ 
/* 14  */ 
/* 15  */ 
/* 16  */   font-size: 12px;
/* 17  */ 
/* 18  */ 
/* 19  */ 
/* 20  */ }
/* 21  */ 
/* 22  */ #wp-admin-bar-document-dashboard .ab-icon:before{
/* 23  */ 	font-family: "dashicons" !important;
/* 24  */ 	content: "\f498" !important;
/* 25  */ }
/* 26  */ #wp-admin-bar-document-settings .ab-icon:before{
/* 27  */ 	font-family: "dashicons" !important;
/* 28  */ 	content: "\f107" !important;
/* 29  */ }
/* 30  */ #wp-admin-bar-document-uploader .ab-icon:before{
/* 31  */ 	font-family: "dashicons" !important;
/* 32  */ 	content: "\f176" !important;
/* 33  */ }
/* 34  */ .view-file-content{font-size:12px; text-align:left}
/* 35  */ .ui-dialog{ z-index:100000000 !important}
/* 36  */ .ui-datepicker select option{color:#000 !important; background-color:#E0E0E0 !important}
/* 37  */ .ui-datepicker select{color:#000 !important; background-color:#E0E0E0 !important}
/* 38  */ 
/* 39  */ .sp_client_document_manager_wrapper img{box-shadow:none !important;border:0px;}
/* 40  */ .cdm_img_container{height:80px; vertical-align:middle central;overflow:hidden; text-align:center}
/* 41  */ .cdm_img_container img{max-width:95%;}
/* 42  */ #cdm_nav_buttons{margin-bottom:10px;}
/* 43  */ #cdm_nav_buttons img{border:none !important;box-shadow:none !important}
/* 44  */ #cdm_nav_buttons a{display:block;float:left;padding:3px;border:1px solid #CCC;margin-right:10px; text-decoration:none;text-indent:20px; text-decoration:none;border-radius:5px;padding:5px;background-color:#EFEFEF;color:#333;font-weight:bold;font-size:13px; background-position:5px; background-repeat:no-repeat}
/* 45  */ #cdm_nav_buttons a:hover{ background-color:#E4E4E4}
/* 46  */ #cdm_nav_buttons .sp_cdm_add_file{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/document-add-icon.png);}
/* 47  */ #cdm_nav_buttons .sp_cdm_add_folder{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/folder-add-icon.png);}
/* 48  */ #cdm_nav_buttons .sp_cdm_dropbox{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/dropbox.png);}
/* 49  */ #cdm_nav_buttons .sp_cdm_refresh{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/refresh-icon.png);}
/* 50  */ #cdm_nav_buttons .sp_cdm_logout{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/logout.png);}

/* style.css */

/* 51  */ .sp_cdm_error{padding:10px;margin:5px;background-color:#ffd5d5;color:#000;font-weight:bold}
/* 52  */ .sp_cdm_success{padding:10px;margin:5px;background-color:#DFFCDA;color:green;font-weight:bold}
/* 53  */ 
/* 54  */ #dlg_cdm_file_list table {width:100%}
/* 55  */ 
/* 56  */ #upload_form {font-size:12px;}
/* 57  */ 
/* 58  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder{ float:left;width:135px;height:150px; text-align:center;padding-top:10px;}
/* 59  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder img{max-width:100px;}
/* 60  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder a {display:block; text-decoration:none;}
/* 61  */ 
/* 62  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder a:hover { background-color:#D9EFFB;border-radius:10px}
/* 63  */ 
/* 64  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_image {padding-top:20px;}
/* 65  */ 
/* 66  */ #cdm_wrapper{border:1px solid #ccc;border-radius:5px;padding:5px;font-size:12px;margin:5px; background-color:#f4f4f4;min-height:500px;}
/* 67  */ 
/* 68  */ 
/* 69  */ 
/* 70  */ #sp_cu_viewfile{ }
/* 71  */ 
/* 72  */ td{ vertical-align:top}
/* 73  */ 
/* 74  */ .sp_su_project, .sp_su_notes,.sp_su_history{ background-color:#F0F0F0;padding:5px;margin:5px;font-size:12px;}
/* 75  */ 
/* 76  */ .sp_su_history{height:120px;overflow:auto;}
/* 77  */ 
/* 78  */ .view-file-info h2{font-size:1.1em;font-weight:bold; margin:0px !important;padding:0px !important;}
/* 79  */ 
/* 80  */ .sp_cu_filetree{border:1px solid #ccc;border-radius:5px;padding:5px;font-size:12px;margin:5px; background-color:#f4f4f4;height:440px; overflow-x: hidden;
/* 81  */ 
/* 82  */ overflow-y: scroll;}
/* 83  */ 
/* 84  */ .sp_cu_manage{ text-align:right;padding:5px;font-size:12px;}
/* 85  */ 
/* 86  */ .sp_cu_manage em{ font-size:.8em;}
/* 87  */ 
/* 88  */ .sp_cu_item{border-radius:5px;padding:5px;font-size:12px;margin:5px; }
/* 89  */ 
/* 90  */ .sp_cu_item h3{font-size:18px;font-weight:bold;margin:0px  !important;padding:0px !important;}
/* 91  */ 
/* 92  */ .sp_cu_item td,.sp_cu_item table{border:none !important;}
/* 93  */ 
/* 94  */ #upload-message {
/* 95  */ 
/* 96  */ 	background-color:#FFFFEE;
/* 97  */ 
/* 98  */ 	border:1px dashed #CC3300;
/* 99  */ 
/* 100 */ 	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;

/* style.css */

/* 101 */ 
/* 102 */ 	font-size:14px;
/* 103 */ 
/* 104 */ 	width:400px;
/* 105 */ 
/* 106 */ 	padding:10px;
/* 107 */ 
/* 108 */ 	margin:10px 0px;
/* 109 */ 
/* 110 */ }
/* 111 */ 
/* 112 */ 
/* 113 */ 
/* 114 */ .upload-progress {
/* 115 */ 
/* 116 */ 	background-image: url('/wp-content/plugins/sp-client-document-manager/images/infobox200x40.gif');
/* 117 */ 
/* 118 */ 	width:200px;
/* 119 */ 
/* 120 */ 	height:40px;
/* 121 */ 
/* 122 */ }
/* 123 */ 
/* 124 */ 
/* 125 */ 
/* 126 */ .upload-progress div.meter {
/* 127 */ 
/* 128 */ 	width:20px;
/* 129 */ 
/* 130 */ 	height:7px;
/* 131 */ 
/* 132 */ 	font-size:1px; /* IE display hack */
/* 133 */ 
/* 134 */ 	background-color:#FFCC00;
/* 135 */ 
/* 136 */ 	margin-left:10px;
/* 137 */ 
/* 138 */ 	margin-top:1px;
/* 139 */ 
/* 140 */ 	border:1px solid black;
/* 141 */ 
/* 142 */ }
/* 143 */ 
/* 144 */ 
/* 145 */ 
/* 146 */ .upload-progress div.readout {
/* 147 */ 
/* 148 */ 	padding:5px 0px 0px 12px;
/* 149 */ 
/* 150 */ 	font-family:"Courier New", Courier, monospace;

/* style.css */

/* 151 */ 
/* 152 */ 	font-size:10px;
/* 153 */ 
/* 154 */ 	line-height:10px;
/* 155 */ 
/* 156 */ }
/* 157 */ 
/* 158 */ 
/* 159 */ 
/* 160 */ .upload-progress div.readout span {
/* 161 */ 
/* 162 */ 	font-weight:bold;
/* 163 */ 
/* 164 */ }
/* 165 */ 
/* 166 */ 
/* 167 */ 
/* 168 */ 
/* 169 */ 
/* 170 */ 
/* 171 */ 
/* 172 */ 
/* 173 */ 
/* 174 */ .sp_upload_div{border:1px solid #CCC;margin:2px;padding:2px; background-color:#FFF;}
/* 175 */ 
/* 176 */ .sp_upload_div input{padding:1px;margin:1px;font-size:.6em !important;}
/* 177 */ 
/* 178 */ .sp_upload_name{width:360px;float:left;}
/* 179 */ 
/* 180 */ 
/* 181 */ 
/* 182 */ 
/* 183 */ 
/* 184 */ 
/* 185 */ 
/* 186 */ #dlg_cdm_file_list table {margin:5px;padding:0px;border:0px;}
/* 187 */ 
/* 188 */ #dlg_cdm_file_list table tbody tr:hover{background-color: #CEE8F4; cursor:pointer}
/* 189 */ 
/* 190 */ #dlg_cdm_file_list td {margin:1px  !important; ;padding:0px  !important;border:0px ; text-align:center }
/* 191 */ 
/* 192 */ #dlg_cdm_file_list th {margin:1px  !important;;padding:0px  !important;border:0px ; text-align:center; background-color:#E8E8E8;border-bottom:2px solid #CCC; font-weight:bold;  }
/* 193 */ 
/* 194 */ #dlg_cdm_file_list td.cdm_file_icon {width:30px;border-bottom:1px dotted #CCC;background: url(/wp-content/plugins/sp-client-document-manager/images/types/file.png) left top no-repeat; }
/* 195 */ 
/* 196 */ #dlg_cdm_file_list td.cdm_file_info { border-bottom:1px dotted #CCC; text-align:left}
/* 197 */ 
/* 198 */ #dlg_cdm_file_list td.cdm_file_date { border-bottom:1px dotted #CCC;width:180px;}
/* 199 */ 
/* 200 */ #dlg_cdm_file_list td.cdm_file_type {width:120px;border-bottom:1px dotted #CCC;}

/* style.css */

/* 201 */ 
/* 202 */ 
/* 203 */ 
/* 204 */ 
/* 205 */ 
/* 206 */ 
/* 207 */ 
/* 208 */ 
/* 209 */ 
/* 210 */ /* Core Styles */
/* 211 */ 
/* 212 */ #dlg_cdm_file_list td.ext_directory { background: url(/wp-content/plugins/sp-client-document-manager/images/types/directory.png) left top no-repeat; }
/* 213 */ 
/* 214 */ #dlg_cdm_file_list td.ext_expanded { background: url(/wp-content/plugins/sp-client-document-manager/images/types/folder_open.png) left top no-repeat; }
/* 215 */ 
/* 216 */ #dlg_cdm_file_list td.ext_file { background: url(/wp-content/plugins/sp-client-document-manager/images/types/file.png) left top no-repeat; }
/* 217 */ 
/* 218 */ #dlg_cdm_file_list td.ext_wait { background: url(/wp-content/plugins/sp-client-document-manager/images/types/spinner.gif) left top no-repeat; }
/* 219 */ 
/* 220 */ /* File Extensions*/
/* 221 */ 
/* 222 */ #dlg_cdm_file_list td.ext_3gp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 223 */ 
/* 224 */ #dlg_cdm_file_list td.ext_afp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 225 */ 
/* 226 */ #dlg_cdm_file_list td.ext_afpa { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 227 */ 
/* 228 */ #dlg_cdm_file_list td.ext_asp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 229 */ 
/* 230 */ #dlg_cdm_file_list td.ext_aspx { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 231 */ 
/* 232 */ #dlg_cdm_file_list td.ext_avi { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 233 */ 
/* 234 */ #dlg_cdm_file_list td.ext_bat { background: url(/wp-content/plugins/sp-client-document-manager/images/types/application.png) left top no-repeat; }
/* 235 */ 
/* 236 */ #dlg_cdm_file_list td.ext_bmp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 237 */ 
/* 238 */ #dlg_cdm_file_list td.ext_c { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 239 */ 
/* 240 */ #dlg_cdm_file_list td.ext_cfm { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 241 */ 
/* 242 */ #dlg_cdm_file_list td.ext_cgi { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 243 */ 
/* 244 */ #dlg_cdm_file_list td.ext_com { background: url(/wp-content/plugins/sp-client-document-manager/images/types/application.png) left top no-repeat; }
/* 245 */ 
/* 246 */ #dlg_cdm_file_list td.ext_cpp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 247 */ 
/* 248 */ #dlg_cdm_file_list td.ext_css { background: url(/wp-content/plugins/sp-client-document-manager/images/types/css.png) left top no-repeat; }
/* 249 */ 
/* 250 */ #dlg_cdm_file_list td.ext_doc { background: url(/wp-content/plugins/sp-client-document-manager/images/types/doc.png) left top no-repeat; }

/* style.css */

/* 251 */ 
/* 252 */ #dlg_cdm_file_list td.ext_exe { background: url(/wp-content/plugins/sp-client-document-manager/images/types/application.png) left top no-repeat; }
/* 253 */ 
/* 254 */ #dlg_cdm_file_list td.ext_gif { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 255 */ 
/* 256 */ #dlg_cdm_file_list td.ext_fla { background: url(/wp-content/plugins/sp-client-document-manager/images/types/flash.png) left top no-repeat; }
/* 257 */ 
/* 258 */ #dlg_cdm_file_list td.ext_h { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 259 */ 
/* 260 */ #dlg_cdm_file_list td.ext_htm { background: url(/wp-content/plugins/sp-client-document-manager/images/types/html.png) left top no-repeat; }
/* 261 */ 
/* 262 */ #dlg_cdm_file_list td.ext_html { background: url(/wp-content/plugins/sp-client-document-manager/images/types/html.png) left top no-repeat; }
/* 263 */ 
/* 264 */ #dlg_cdm_file_list td.ext_jar { background: url(/wp-content/plugins/sp-client-document-manager/images/types/java.png) left top no-repeat; }
/* 265 */ 
/* 266 */ #dlg_cdm_file_list td.ext_jpg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 267 */ 
/* 268 */ #dlg_cdm_file_list td.ext_jpeg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 269 */ 
/* 270 */ #dlg_cdm_file_list td.ext_js { background: url(/wp-content/plugins/sp-client-document-manager/images/types/script.png) left top no-repeat; }
/* 271 */ 
/* 272 */ #dlg_cdm_file_list td.ext_lasso { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 273 */ 
/* 274 */ #dlg_cdm_file_list td.ext_log { background: url(/wp-content/plugins/sp-client-document-manager/images/types/txt.png) left top no-repeat; }
/* 275 */ 
/* 276 */ #dlg_cdm_file_list td.ext_m4p { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 277 */ 
/* 278 */ #dlg_cdm_file_list td.ext_mov { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 279 */ 
/* 280 */ #dlg_cdm_file_list td.ext_mp3 { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 281 */ 
/* 282 */ #dlg_cdm_file_list td.ext_mp4 { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 283 */ 
/* 284 */ #dlg_cdm_file_list td.ext_mpg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 285 */ 
/* 286 */ #dlg_cdm_file_list td.ext_mpeg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 287 */ 
/* 288 */ #dlg_cdm_file_list td.ext_ogg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 289 */ 
/* 290 */ #dlg_cdm_file_list td.ext_pcx { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 291 */ 
/* 292 */ #dlg_cdm_file_list td.ext_pdf { background: url(/wp-content/plugins/sp-client-document-manager/images/types/pdf.png) left top no-repeat; }
/* 293 */ 
/* 294 */ #dlg_cdm_file_list td.ext_php { background: url(/wp-content/plugins/sp-client-document-manager/images/types/php.png) left top no-repeat; }
/* 295 */ 
/* 296 */ #dlg_cdm_file_list td.ext_png { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 297 */ 
/* 298 */ #dlg_cdm_file_list td.ext_ppt { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ppt.png) left top no-repeat; }
/* 299 */ 
/* 300 */ #dlg_cdm_file_list td.ext_psd { background: url(/wp-content/plugins/sp-client-document-manager/images/types/psd.png) left top no-repeat; }

/* style.css */

/* 301 */ 
/* 302 */ #dlg_cdm_file_list td.ext_pl { background: url(/wp-content/plugins/sp-client-document-manager/images/types/script.png) left top no-repeat; }
/* 303 */ 
/* 304 */ #dlg_cdm_file_list td.ext_py { background: url(/wp-content/plugins/sp-client-document-manager/images/types/script.png) left top no-repeat; }
/* 305 */ 
/* 306 */ #dlg_cdm_file_list td.ext_rb { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 307 */ 
/* 308 */ #dlg_cdm_file_list td.ext_rbx { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 309 */ 
/* 310 */ #dlg_cdm_file_list td.ext_rhtml { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 311 */ 
/* 312 */ #dlg_cdm_file_list td.ext_rpm { background: url(/wp-content/plugins/sp-client-document-manager/images/types/linux.png) left top no-repeat; }
/* 313 */ 
/* 314 */ #dlg_cdm_file_list td.ext_ruby { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 315 */ 
/* 316 */ #dlg_cdm_file_list td.ext_sql { background: url(/wp-content/plugins/sp-client-document-manager/images/types/db.png) left top no-repeat; }
/* 317 */ 
/* 318 */ #dlg_cdm_file_list td.ext_swf { background: url(/wp-content/plugins/sp-client-document-manager/images/types/flash.png) left top no-repeat; }
/* 319 */ 
/* 320 */ #dlg_cdm_file_list td.ext_tif { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 321 */ 
/* 322 */ #dlg_cdm_file_list td.ext_tiff { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 323 */ 
/* 324 */ #dlg_cdm_file_list td.ext_txt { background: url(/wp-content/plugins/sp-client-document-manager/images/types/txt.png) left top no-repeat; }
/* 325 */ 
/* 326 */ #dlg_cdm_file_list td.ext_vb { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 327 */ 
/* 328 */ #dlg_cdm_file_list td.ext_wav { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 329 */ 
/* 330 */ #dlg_cdm_file_list td.ext_wmv { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 331 */ 
/* 332 */ #dlg_cdm_file_list td.ext_xls { background: url(/wp-content/plugins/sp-client-document-manager/images/types/xls.png) left top no-repeat; }
/* 333 */ 
/* 334 */ #dlg_cdm_file_list td.ext_xml { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 335 */ 
/* 336 */ #dlg_cdm_file_list td.ext_zip { background: url(/wp-content/plugins/sp-client-document-manager/images/types/zip.png) left top no-repeat; }
/* 337 */ 
/* 338 */ 
/* 339 */ 
/* 340 */ 
/* 341 */ 
/* 342 */ .uploadArea{ min-height:300px; height:auto; border:1px dotted #ccc; padding:10px; cursor:move; margin-bottom:10px; position:relative;}
/* 343 */ 
/* 344 */ .uploadArea h1{ color:#ccc; width:100%; z-index:0; text-align:center; vertical-align:middle; position:absolute; top:25px;}
/* 345 */ 
/* 346 */ .dfiles{ clear:both; border:1px solid #ccc; background-color:#E4E4E4; padding:3px;  position:relative; height:25px; margin:3px; z-index:1; width:97%; opacity:0.6; cursor:default;}
/* 347 */ 
/* 348 */ .buttonUpload { display:inline-block; padding: 4px 10px 4px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #0074cc; -webkit-border-radius: 4px;-moz-border-radius: 4px; border-radius: 4px; border-color: #e6e6e6 #e6e6e6 #bfbfbf; border: 1px solid #cccccc; color:#fff; }
/* 349 */ 
/* 350 */ .progress img{ margin-top:7px; margin-left:24px; }

/* style.css */

/* 351 */ 
/* 352 */ .remodal p {clear:both; text-align:left}
/* 353 */ .remodal p label{float:left;width:20%;}
/* 354 */ 
/* 355 */ .cdm-two-column p {clear:both; text-align:left}
/* 356 */ .cdm-two-column .l-column{float:left;width:50%;}
/* 357 */ .cdm-two-column .r-column{float:left;width:50%}
/* 358 */ 
/* 359 */ 
/* 360 */ .sp_cu_manage{}
/* 361 */ 
/* 362 */ 
/* 363 */ form.cdm_form p {clear:both; text-align:left;margin-bottom:15px;}
/* 364 */ form.cdm_form p label{float:left;width:20%;}
/* 365 */ 
/* 366 */ 
/* 367 */ .cdm_button{
/* 368 */ 	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
/* 369 */ 	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
/* 370 */ 	box-shadow:inset 0px 1px 0px 0px #54a3f7;
/* 371 */ 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
/* 372 */ 	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 373 */ 	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 374 */ 	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 375 */ 	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 376 */ 	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
/* 377 */ 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
/* 378 */ 	background-color:#007dc1;
/* 379 */ 	-moz-border-radius:3px;
/* 380 */ 	-webkit-border-radius:3px;
/* 381 */ 	border-radius:3px;
/* 382 */ 	border:1px solid #124d77;
/* 383 */ 	display:inline-block;
/* 384 */ 	cursor:pointer;
/* 385 */ 	color:#ffffff;
/* 386 */ 	font-family:arial;
/* 387 */ 	font-size:13px;
/* 388 */ 	padding:6px 24px;
/* 389 */ 	text-decoration:none;
/* 390 */ 	text-shadow:0px 1px 0px #154682;
/* 391 */ }
/* 392 */ .cdm_button:hover {
/* 393 */ 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
/* 394 */ 	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 395 */ 	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 396 */ 	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 397 */ 	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 398 */ 	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
/* 399 */ 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
/* 400 */ 	background-color:#0061a7;

/* style.css */

/* 401 */ }
/* 402 */ .cdm_button:active {
/* 403 */ 	position:relative;
/* 404 */ 	top:1px;
/* 405 */ }
/* 406 */ @media (max-width:700px) {
/* 407 */ 	
/* 408 */ .cdm-two-column p {clear:both; text-align:left}
/* 409 */ .cdm-two-column .l-column{float:none;width:100%; text-align:center}
/* 410 */ .cdm-two-column .r-column{float:none;width:100%;}
/* 411 */ 	
/* 412 */ 	
/* 413 */ form.cdm_form p {clear:both; text-align:left}
/* 414 */ form.cdm_form p label{float:none;width:100%;display:block;}
/* 415 */ 
/* 416 */ 	
/* 417 */ .remodal p {clear:both; text-align:left}
/* 418 */ .remodal p label{float:none;width:100%;display:block;}
/* 419 */ 	.sp_cu_manage a, #cdm_nav_buttons a{display:block;float:left;width:42%;background-color:#EFEFEF;border-radius:4px;padding:5px;margin:5px; text-align:left}
/* 420 */ }
/* 421 */ 
/* 422 */ 
/* 423 */ .sp_cu_manage a.cdm_refresh_file_view{color:#157AB7 !important;}
/* 424 */ 
/* 425 */ .sp_cu_manage a.sp-cdm-delete-file{color: #740509 !important}
/* 426 */ .sp_cu_manage a{color:#333 !important;margin-right:10px;}
/* 427 */ .sp_cu_manage a:hover{color: #157AB7 !important;margin-right:10px;}
/* 428 */ .sp_cu_manage a span{font-size:1.4em;}
/* 429 */ .sp_cu_manage .cdm-dashicons{font-size:22px;}
/* 430 */ .sp_cu_manage a:hover{text-decoration:none;}
/* 431 */ .sp_cu_manage .cdm_refresh_file_view .cdm-dashicon{font-size:16px}

/* usp.css */

/* 1  */ @charset "UTF-8";
/* 2  */ /* 
/* 3  *| 	User Submitted Posts > CSS > HTML5 form
/* 4  *| 	https://perishablepress.com/user-submitted-posts/
/* 5  *| 	Complete list of CSS hooks for the submission form @ http://m0n.co/e
/* 6  *| */
/* 7  */ 
/* 8  */ div#user-submitted-posts { width: 100%; font-size: 11px; }
/* 9  */ div#user-submitted-posts fieldset { margin: 10px 0; padding: 0; border: 0; }
/* 10 */ 
/* 11 */ div#user-submitted-posts fieldset label           { float: left; clear: both; width: 70%; margin: 0; padding: 0; line-height: 18px; }
/* 12 */ div#user-submitted-posts fieldset input.usp-input { float: left; clear: both; width: 70%; margin: 0; padding: 5px; font-size: 12px; }
/* 13 */ div#user-submitted-posts textarea.usp-textarea    { float: left; clear: both; width: 80%; margin: 0; padding: 5px; font-size: 12px; }
/* 14 */ div#user-submitted-posts select                   { float: left; clear: both; width: auto; margin: 0; padding: 5px; font-size: 12px; }
/* 15 */ 
/* 16 */ div#user-submitted-image { float: left; clear: both; width: 70%; }
/* 17 */ div#usp-upload-message   { float: left; clear: both; width: 70%; }
/* 18 */ a#usp_add-another        { float: left; clear: both; }
/* 19 */ 
/* 20 */ div#user-submitted-posts fieldset input.usp-input.usp-clone { width: 90%; margin: 0 0 5px 0; padding: 4px; background-color: #fafafa; }
/* 21 */ div#usp-submit { margin: 15px 0; }
/* 22 */ 
/* 23 */ /* JS > Parsley */
/* 24 */ .parsley-errors-list {
/* 25 */ 	list-style-type: none; float: left; clear: both; margin: 0; padding: 0; font-size: 11px; line-height: 18px; color: #fff; background-color: #cc3333;
/* 26 */ 	-webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in;
/* 27 */ 	opacity: 0; -moz-opacity: 0; -webkit-opacity: 0;
/* 28 */ 	}
/* 29 */ .parsley-errors-list.filled { opacity: 1; }
/* 30 */ .parsley-required { margin: 0; padding: 2px 3px; }
/* 31 */ .usp-files-error { margin-top: -5px; }
/* 32 */ .usp-hidden, .usp-no-js { display: none; }
/* 33 */ .usp-js { display: block; }
/* 34 */ 

/* visual-form-builder.min.css */

/* 1 */ form.visual-form-builder{position:relative;margin:20px 0;background:0;list-style:none;list-style-type:none;list-style-image:none;text-shadow:none;font-family:inherit}form.visual-form-builder li{margin:0!important;width:auto!important;background:none!important;list-style:none!important;list-style-type:none!important;list-style-image:none!important;clear:both}form.visual-form-builder li:before{content:none}form.visual-form-builder ul:after,form.visual-form-builder li:after,form.visual-form-builder li div:after{clear:both;content:'.';display:block;height:0;visibility:hidden}.visual-form-builder br{display:none}form.visual-form-builder .vfb-item-instructions br{display:inline}.visual-form-builder ul,.entry-content .visual-form-builder ul,.comment-content .visual-form-builder ul,.mu_register .visual-form-builder ul,.visual-form-builder ol,.entry-content .visual-form-builder ol,.comment-content .visual-form-builder ol,.mu_register .visual-form-builder ol{margin:0 14px!important;padding:0!important;background:none!important;list-style:none!important;list-style-type:none!important;list-style-image:none!important;font-size:13px;line-height:inherit}.visual-form-builder ul li{margin:0!important;background:none!important;list-style:none!important;list-style-type:none!important;list-style-image:none!important}.visual-form-builder ul li:before{content:none}.visual-form-builder li,.entry-content .visual-form-builder li,.comment-content .visual-form-builder li,.mu_register .visual-form-builder li{clear:both;margin:0!important;padding:6px 1% 9px!important;width:64%;background:none!important;list-style:none!important;list-style-type:none!important;list-style-image:none!important}.visual-form-builder li:before,.entry-content .visual-form-builder li:before,.comment-content .visual-form-builder li:before,.mu_register .visual-form-builder li:before{content:none}.vfb-span,.visual-form-builder li div span.vfb-span,.visual-form-builder [class*="vfb-span"],span.vfb-full input,span.vfb-full input[type="text"].vfb-medium,span.vfb-full select{display:block;float:left;margin:0;width:100%}.visual-form-builder span.vfb-left{float:left;width:48%}.visual-form-builder span.vfb-right{float:right;width:48%}.visual-form-builder span.vfb-span ul li{list-style:disc}.visual-form-builder span.vfb-span ol li{list-style:decimal}.visual-form-builder span.vfb-right input,.visual-form-builder span.vfb-right input[type="text"],.visual-form-builder span.vfb-right select,.visual-form-builder span.vfb-left input,.visual-form-builder span.vfb-left input[type="text"],.visual-form-builder span.vfb-left select{width:100%!important}.visual-form-builder span.vfb-time{float:left;margin:0 .3em 0 0}.rtl .visual-form-builder span.vfb-time{float:right;margin:0 0 0 .3em}.visual-form-builder li div label,.visual-form-builder li span label{margin:0;font-size:90%}.visual-form-builder fieldset{clear:both;margin:15px 0;padding:0;border:1px solid #d3d3d3;border-radius:3px;background-color:#eee}.visual-form-builder .vfb-legend{margin:5px 14px;padding:0 6px;border-bottom:1px solid #ccc;color:#900;font-size:inherit}.visual-form-builder .vfb-legend h3{margin:0!important;padding:0!important;font-size:20px;line-height:2.0em}.visual-form-builder label,label.vfb-desc{display:block;margin:0;padding:0 0 3px 0;color:#000}label.vfb-desc{font-weight:bold}.visual-form-builder.left-label .vfb-desc,.visual-form-builder.right-label .vfb-desc{float:left;margin:0 15px 0 0;width:20%}.visual-form-builder.right-label .vfb-desc{padding-top:2px;text-align:right}.visual-form-builder li div{margin:0;padding:0}.visual-form-builder.left-label li div,.visual-form-builder.right-label li div{float:left;width:65%}.visual-form-builder label.vfb-choice{margin:-16px 0 0 23px;padding:0 0 5px;width:88%;font-size:100%;line-height:150%}.rtl .visual-form-builder label.vfb-choice{margin:-16px 23px 0 0}.visual-form-builder label .vfb-required-asterisk{margin:0;padding:0;color:#bc1212;vertical-align:baseline;font-weight:bold}input.vfb-text,input[type="text"].vfb-text,input[type="tel"].vfb-text,input[type="email"].vfb-text,input[type="url"].vfb-text,textarea.vfb-textarea{padding:3px 0;border:1px solid #ddd;border-radius:3px;background:none repeat scroll 0 0 #fafafa;-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);box-shadow:inset 0 1px 1px rgba(0,0,0,0.075);-webkit-transition:border linear .2s,box-shadow linear .2s;-moz-transition:border linear .2s,box-shadow linear .2s;-o-transition:border linear .2s,box-shadow linear .2s;transition:border linear .2s,box-shadow linear .2s}input.vfb-text:focus,input[type="text"].vfb-text:focus,input[type="tel"].vfb-text:focus,input[type="email"].vfb-text:focus,input[type="url"].vfb-text:focus,textarea.vfb-textarea:focus{outline:0;outline:thin dotted \9;border-color:rgba(82,168,236,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(82,168,236,.6)}input.vfb-text.vfb-error:focus,input[type="text"].vfb-text.vfb-error:focus,input[type="tel"].vfb-text.vfb-error:focus,input[type="email"].vfb-text.vfb-error:focus,input[type="url"].vfb-text.vfb-error:focus,textarea.vfb-textarea.vfb-error:focus{border-color:rgba(238,83,83,0.8);-webkit-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(238,83,83,.6);-moz-box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(238,83,83,.6);box-shadow:inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(238,83,83,.6)}input.vfb-text,input[type="text"].vfb-text,input[type="tel"].vfb-text,input[type="email"].vfb-text,input[type="url"].vfb-text,textarea.vfb-textarea,select.vfb-select{margin:0 0 5px 0;height:auto;color:#373737;font-size:100%;font-family:inherit;line-height:normal}select.vfb-select{padding:1px 0 0}input.vfb-small,input[type="text"].vfb-small,input[type="tel"].vfb-small,input[type="email"].vfb-small,input[type="url"].vfb-small,select.vfb-small{width:25%}input.vfb-medium,input[type="text"].vfb-medium,input[type="tel"].vfb-medium,input[type="email"].vfb-medium,input[type="url"].vfb-medium,select.vfb-medium{width:50%}input.vfb-large,input[type="text"].vfb-large,input[type="tel"].vfb-large,input[type="email"].vfb-large,input[type="url"].vfb-large,select.vfb-large,textarea.vfb-textarea{width:100%}input[type="file"].vfb-small,input[type="file"].vfb-medium,input[type="file"].vfb-large{height:auto;line-height:normal}textarea.vfb-medium{height:5.5em}textarea.vfb-medium{height:10em}textarea.vfb-large{height:20em}.vfb-submit,input[type="submit"].vfb-submit{font-size:1.1em}input.vfb-checkbox,input[type="checkbox"].vfb-checkbox,input.vfb-radio,input[type="radio"].vfb-radio{display:block;margin:4px 0 0;width:13px;height:13px;font-size:1.1em}input.vfb-other,input[type="text"].vfb-other{margin:0 0 8px 25px}.visual-form-builder li.vfb-two-column div span,.visual-form-builder li.vfb-three-column div span,.visual-form-builder li.vfb-auto-column div span{margin:0 5px 0 0;width:48%}.visual-form-builder li.vfb-three-column div span{width:30%}.visual-form-builder li.vfb-auto-column div span{width:auto}.visual-form-builder li.vfb-left-half,.visual-form-builder li.vfb-left-third,.visual-form-builder li.vfb-left-two-thirds{float:left;clear:left}.visual-form-builder li.vfb-right-half,.visual-form-builder li.vfb-right-third,.visual-form-builder li.vfb-right-two-thirds{float:right;clear:none}.visual-form-builder li.vfb-middle-third{float:left;clear:none;margin-left:2%}.visual-form-builder li.vfb-left-half,.visual-form-builder li.vfb-right-half{width:47%!important}.visual-form-builder li.vfb-left-third,.visual-form-builder li.vfb-middle-third,.visual-form-builder li.vfb-right-third{width:30%!important}.visual-form-builder li.vfb-left-two-thirds,.visual-form-builder li.vfb-right-two-thirds{width:64%!important}li.vfb-left-half .vfb-small,li.vfb-left-half .vfb-medium,li.vfb-left-half .vfb-large,li.vfb-right-half .vfb-small,li.vfb-right-half .vfb-medium,li.vfb-right-half .vfb-large,li.vfb-left-third .vfb-small,li.vfb-left-third .vfb-medium,li.vfb-left-third .vfb-large,li.vfb-middle-third .vfb-small,li.vfb-middle-third .vfb-medium,li.vfb-middle-third .vfb-large,li.vfb-right-third .vfb-small,li.vfb-right-third .vfb-medium,li.vfb-right-third .vfb-large,.visual-form-builder li.vfb-left-two-thirds .vfb-small,.visual-form-builder li.vfb-left-two-thirds .vfb-medium,.visual-form-builder li.vfb-left-two-thirds .vfb-large,.visual-form-builder li.vfb-right-two-thirds .vfb-small,.visual-form-builder li.vfb-right-two-thirds .vfb-medium,.visual-form-builder li.vfb-right-two-thirds .vfb-large{width:100%}label.vfb-error{color:red;font-weight:bold;font-size:90%}input.vfb-error,input.vfb-text.vfb-error,input[type="text"].vfb-text.vfb-error,input[type="tel"].vfb-text.vfb-error,input[type="email"].vfb-text.vfb-error,input[type="url"].vfb-text.vfb-error,select.vfb-error,textarea.vfb-error,textarea.vfb-textarea.vfb-error,{border:1px solid red}p#form_success,.vfb-form-success{color:green;font-weight:bold}#ui-datepicker-div{display:none;font-size:12px}.vfb-item-instructions{border-radius:3px;background-color:#e3e3e3}.vfb-item-instructions ul,.vfb-item-instructions ul li{padding-bottom:0;list-style:disc}.vfb-item-instructions ol,.vfb-item-instructions ol li{padding-bottom:0;list-style:decimal}.vfb-section-div{float:left;margin:10px 0;padding:10px;width:97%;border-radius:3px;background-color:#d4d4d4}.visual-form-builder .vfb-section-div h4{margin:0!important;padding:0!important;border-bottom:1px solid #bababa;font-size:16px;line-height:inherit}.vfb-clear{display:block;visibility:hidden;clear:both;overflow:hidden;width:0;height:0}.vfb-conditional-hide{display:none}
