
/* mystyles.css */

/* 1 */ /*YOUR CUSTOM STYLES*/
/* 2 */ 
/* 3 */ 

/* tooltip-classic.css */

/* 1   */ .tooltip_2 {
/* 2   */ 	display: inline;
/* 3   */ 	position: relative;
/* 4   */ 	z-index: 999;
/* 5   */ }
/* 6   */ 
/* 7   */ /* Trigger text */
/* 8   */ 
/* 9   */ .tooltip_2-item {
/* 10  */ 	background: rgba(0,0,0,0.3);
/* 11  */ 	cursor: pointer;
/* 12  */ 	display: inline-block;
/* 13  */ 	font-weight: 700;
/* 14  */ 	padding: 0 10px;
/* 15  */ }
/* 16  */ 
/* 17  */ /* Gap filler */
/* 18  */ 
/* 19  */ .tooltip_2-item::after {
/* 20  */ 	content: '';
/* 21  */ 	position: absolute;
/* 22  */ 	width: 360px;
/* 23  */ 	height: 20px;
/* 24  */ 	bottom: 100%;
/* 25  */ 	left: 50%;
/* 26  */ 	pointer-events: none;
/* 27  */ 	-webkit-transform: translateX(-50%);
/* 28  */ 	transform: translateX(-50%);
/* 29  */ }
/* 30  */ 
/* 31  */ .tooltip_2:hover .tooltip_2-item::after {
/* 32  */ 	pointer-events: auto;
/* 33  */ }
/* 34  */ 
/* 35  */ /* tooltip_2 */
/* 36  */ 
/* 37  */ .tooltip_2-content {
/* 38  */ 	position: absolute;
/* 39  */ 	z-index: 9999;
/* 40  */ 	width: 360px;
/* 41  */ 	left: 50%;
/* 42  */ 	margin: 0 0 20px -180px;
/* 43  */ 	bottom: 100%;
/* 44  */ 	text-align: left;
/* 45  */ 	font-size: 0.765em;
/* 46  */ 	line-height: 1.4;
/* 47  */ 	box-shadow: -5px -5px 15px rgba(48,54,61,0.2);
/* 48  */ 	background: #2a3035;
/* 49  */ 	opacity: 0;
/* 50  */ 	cursor: default;

/* tooltip-classic.css */

/* 51  */ 	pointer-events: none;
/* 52  */ }
/* 53  */ 
/* 54  */ .tooltip_2-effect-1 .tooltip_2-content {
/* 55  */ 	-webkit-transform: translate3d(0,-10px,0);
/* 56  */ 	transform: translate3d(0,-10px,0);
/* 57  */ 	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
/* 58  */ 	transition: opacity 0.3s, transform 0.3s;
/* 59  */ }
/* 60  */ 
/* 61  */ .tooltip_2-effect-2 .tooltip_2-content {
/* 62  */ 	-webkit-transform-origin: 50% calc(100% + 10px);
/* 63  */ 	transform-origin: 50% calc(100% + 10px);
/* 64  */ 	-webkit-transform: perspective(1000px) rotate3d(1,0,0,45deg);
/* 65  */ 	transform: perspective(1000px) rotate3d(1,0,0,45deg);
/* 66  */ 	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
/* 67  */ 	transition: opacity 0.2s, transform 0.2s;
/* 68  */ }
/* 69  */ 
/* 70  */ .tooltip_2-effect-3 .tooltip_2-content {
/* 71  */ 	-webkit-transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
/* 72  */ 	transform: translate3d(0,10px,0) rotate3d(1,1,0,25deg);
/* 73  */ 	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
/* 74  */ 	transition: opacity 0.3s, transform 0.3s;
/* 75  */ }
/* 76  */ 
/* 77  */ .tooltip_2-effect-4 .tooltip_2-content {
/* 78  */ 	-webkit-transform-origin: 50% 100%;
/* 79  */ 	transform-origin: 50% 100%;
/* 80  */ 	-webkit-transform: scale3d(0.7,0.3,1);
/* 81  */ 	transform: scale3d(0.7,0.3,1);
/* 82  */ 	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
/* 83  */ 	transition: opacity 0.2s, transform 0.2s;
/* 84  */ }
/* 85  */ 
/* 86  */ .tooltip_2-effect-5 .tooltip_2-content {
/* 87  */ 	width: 180px;
/* 88  */ 	margin-left: -90px;
/* 89  */ 	-webkit-transform-origin: 50% calc(100% + 6em);
/* 90  */ 	transform-origin: 50% calc(100% + 6em);
/* 91  */ 	-webkit-transform: rotate3d(0,0,1,15deg);
/* 92  */ 	transform: rotate3d(0,0,1,15deg);
/* 93  */ 	-webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
/* 94  */ 	transition: opacity 0.2s, transform 0.2s;
/* 95  */ 	-webkit-transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
/* 96  */ 	transition-timing-function: ease, cubic-bezier(.17,.67,.4,1.39);
/* 97  */ }
/* 98  */ 
/* 99  */ .tooltip_2:hover .tooltip_2-content {
/* 100 */ 	pointer-events: auto;

/* tooltip-classic.css */

/* 101 */ 	opacity: 1;
/* 102 */ 	-webkit-transform: translate3d(0,0,0) rotate3d(0,0,0,0);
/* 103 */ 	transform: translate3d(0,0,0) rotate3d(0,0,0,0);
/* 104 */ }
/* 105 */ 
/* 106 */ .tooltip_2.tooltip_2-effect-2:hover .tooltip_2-content {
/* 107 */ 	-webkit-transform: perspective(1000px) rotate3d(1,0,0,0deg);
/* 108 */ 	transform: perspective(1000px) rotate3d(1,0,0,0deg);
/* 109 */ }
/* 110 */ 
/* 111 */ /* Arrow */
/* 112 */ 
/* 113 */ .tooltip_2-content::after {
/* 114 */ 	content: '';
/* 115 */ 	top: 100%;
/* 116 */ 	left: 50%;
/* 117 */ 	border: solid transparent;
/* 118 */ 	height: 0;
/* 119 */ 	width: 0;
/* 120 */ 	position: absolute;
/* 121 */ 	pointer-events: none;
/* 122 */ 	border-color: transparent;
/* 123 */ 	border-top-color: #2a3035;
/* 124 */ 	border-width: 10px;
/* 125 */ 	margin-left: -10px;
/* 126 */ }
/* 127 */ 
/* 128 */ /* tooltip_2 content*/
/* 129 */ 
/* 130 */ .tooltip_2-content img {
/* 131 */ 	position: relative;
/* 132 */ 	height: 170px;
/* 133 */ 	display: block;
/* 134 */ 	float: left;
/* 135 */ 	margin-right: 1em;
/* 136 */ }
/* 137 */ 
/* 138 */ .tooltip_2-text {
/* 139 */ 	font-size: 0.68em;
/* 140 */ 	line-height: 1.35;
/* 141 */ 	display: block;
/* 142 */ 	padding: 1.31em 1.21em 1.21em 0;
/* 143 */ 	color: #fff;
/* 144 */ }
/* 145 */ 
/* 146 */ .tooltip_2-effect-5 .tooltip_2-text {
/* 147 */ 	padding: 1.4em;
/* 148 */ }
/* 149 */ 
/* 150 */ .tooltip_2-text a {

/* tooltip-classic.css */

/* 151 */ 	font-weight: bold;
/* 152 */ }
/* 153 */ 

/* style.css */

/* 1   */ /*
/* 2   *| Theme Name: Traveler
/* 3   *| Theme URI: http://www.shinetheme.com/traveler
/* 4   *| Author: Shinetheme
/* 5   *| Author URI: http://www.shinetheme.com
/* 6   *| Description:
/* 7   *| License: GNU General Public License v2 or later
/* 8   *| License URI: http://www.gnu.org/licenses/gpl-2.0.html
/* 9   *| Tags: black, green, white, light, dark, two-columns, three-columns, left-sidebar, right-sidebar, fixed-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready, accessibility-ready
/* 10  *| Text Domain: traveler
/* 11  *| Version: 1.0.3
/* 12  *| */
/* 13  */ /* Images */
/* 14  */ .sticky{
/* 15  */ 
/* 16  */ }
/* 17  */ .bypostauthor{
/* 18  */ 
/* 19  */ }
/* 20  */ .alignleft {
/* 21  */     float: left;
/* 22  */ }
/* 23  */ 
/* 24  */ .alignright {
/* 25  */     float: right;
/* 26  */ }
/* 27  */ 
/* 28  */ .aligncenter {
/* 29  */     display: block;
/* 30  */     margin-left: auto;
/* 31  */     margin-right: auto;
/* 32  */ }
/* 33  */ 
/* 34  */ figure.wp-caption.alignleft,
/* 35  */ img.alignleft {
/* 36  */     margin: 5px 20px 5px 0;
/* 37  */ }
/* 38  */ 
/* 39  */ .wp-caption.alignleft {
/* 40  */     margin: 5px 10px 5px 0;
/* 41  */ }
/* 42  */ 
/* 43  */ figure.wp-caption.alignright,
/* 44  */ img.alignright {
/* 45  */     margin: 5px 0 5px 20px;
/* 46  */ }
/* 47  */ 
/* 48  */ .wp-caption.alignright {
/* 49  */     margin: 5px 0 5px 10px;
/* 50  */ }

/* style.css */

/* 51  */ 
/* 52  */ img.aligncenter {
/* 53  */     margin: 5px auto;
/* 54  */ }
/* 55  */ 
/* 56  */ img.alignnone {
/* 57  */     margin: 5px 0;
/* 58  */ }
/* 59  */ 
/* 60  */ .wp-caption .wp-caption-text,
/* 61  */ .entry-caption,
/* 62  */ .gallery-caption {
/* 63  */     color: #220e10;
/* 64  */     font-size: 18px;
/* 65  */     font-style: italic;
/* 66  */     font-weight: 300;
/* 67  */     margin: 0 0 24px;
/* 68  */ }
/* 69  */ 
/* 70  */ div.wp-caption.alignright img[class*="wp-image-"] {
/* 71  */     float: right;
/* 72  */ }
/* 73  */ 
/* 74  */ div.wp-caption.alignright .wp-caption-text {
/* 75  */     padding-left: 10px;
/* 76  */ }
/* 77  */ 
/* 78  */ img.wp-smiley,
/* 79  */ .rsswidget img {
/* 80  */     border: 0;
/* 81  */     border-radius: 0;
/* 82  */     box-shadow: none;
/* 83  */     margin-bottom: 0;
/* 84  */     margin-top: 0;
/* 85  */     padding: 0;
/* 86  */ }
/* 87  */ 
/* 88  */ .wp-caption.alignleft + ul,
/* 89  */ .wp-caption.alignleft + ol {
/* 90  */     list-style-position: inside;
/* 91  */ }
/* 92  */ 
/* 93  */ /*--------------- theme customizing part begin --------------------*/
/* 94  */ 
/* 95  */ body .container .st.bg-holder .container .row .col-md-8 .booknow .col-md-12 .panel-group .panel-collapse .panel-body p {
/* 96  */ 	float: left;
/* 97  */ }
/* 98  */ body .container .st.bg-holder .container .row .col-md-8 .booknow .col-md-12 .panel-group .panel-collapse .panel-body p:last-child {
/* 99  */ 	float: right;
/* 100 */ }

/* style.css */

/* 101 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-3 .thumb .thumb-caption .mt10 {
/* 102 */ 	color: white;
/* 103 */ }
/* 104 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-3 .thumb .thumb-caption .mt10 .col-md-6 ul {
/* 105 */ 	color: white !important;
/* 106 */ }
/* 107 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-3 .thumb .thumb-caption .mt10 .col-md-6 .text-darken span {
/* 108 */ 	color: white !important;
/* 109 */ } 
/* 110 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-3 .thumb .thumb-caption .text-darken {
/* 111 */ 	color: white;
/* 112 */ }
/* 113 */ 
/* 114 */ body .container .st.bg-holder .container .row .col-md-4 .booknow .col-md-12 .panel-group .panel-collapse .panel-body p {
/* 115 */ 	float: left;
/* 116 */ }
/* 117 */ body .container .st.bg-holder .container .row .col-md-4 .booknow .col-md-12 .panel-group .panel-collapse .panel-body p:last-child {
/* 118 */ 	float: right;
/* 119 */ }
/* 120 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-4 .thumb .thumb-caption .mt10 {
/* 121 */ 	color: white;
/* 122 */ }
/* 123 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-4 .thumb .thumb-caption .mt10 .col-md-6 ul {
/* 124 */ 	color: white !important;
/* 125 */ }
/* 126 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-4 .thumb .thumb-caption .mt10 .col-md-6 .text-darken span {
/* 127 */ 	color: white !important;
/* 128 */ } 
/* 129 */ body .row .vc_custom_1432869460452 .container-fluid .row-wrap .col-md-4 .thumb .thumb-caption .text-darken {
/* 130 */ 	color: white;
/* 131 */ }
/* 132 */ 
/* 133 */ /*--------------- theme customizing part end --------------------*/

/* custom.css */

/* 1    */ body{
/* 2    */     overflow: auto;
/* 3    */ }
/* 4    */ body.enable_nice_scroll{
/* 5    */     overflow: hidden;
/* 6    */ }
/* 7    */ select{
/* 8    */     max-width: 100%;
/* 9    */ }
/* 10   */ img{
/* 11   */     width: auto;
/* 12   */ }
/* 13   */ .media-responsive{
/* 14   */     width: 100%;
/* 15   */     position: relative;
/* 16   */     padding: 0;
/* 17   */     padding-top: 56.2%;
/* 18   */ }
/* 19   */ 
/* 20   */ .format-audio .media-responsive{
/* 21   */     padding-top: 20%;
/* 22   */ }
/* 23   */ 
/* 24   */ .media-responsive iframe, .media-responsive object, .media-responsive embed {
/* 25   */     position: absolute;
/* 26   */     top: 0;
/* 27   */     left: 0;
/* 28   */     width: 100%;
/* 29   */     height: 100%;
/* 30   */ }
/* 31   */ div.wpcf7-response-output{
/* 32   */     margin: 0px;
/* 33   */ }
/* 34   */ .pagination > li > a.current, .pagination > li > a.current:hover{
/* 35   */ 
/* 36   */     background: #ed8323;
/* 37   */     color: white;
/* 38   */ }
/* 39   */ .pagination > li >a.dots {
/* 40   */     line-height: 16px;
/* 41   */     text-align: center;
/* 42   */     font-size: 30px;
/* 43   */     color: #ccc;
/* 44   */     padding-top: 0px;
/* 45   */ }
/* 46   */ .pagination > li >a.dots:hover{
/* 47   */     background: transparent;
/* 48   */ }
/* 49   */ .comment-list.unstylelist
/* 50   */ {

/* custom.css */

/* 51   */     margin: 0px;
/* 52   */     padding: 0px;
/* 53   */ }
/* 54   */ .comment .comment-inner{
/* 55   */ 
/* 56   */     display: block;
/* 57   */     margin-left: 60px;
/* 58   */ }
/* 59   */ 
/* 60   */ .sidebar-widget >ul
/* 61   */ {
/* 62   */     padding-left: 0px;
/* 63   */     list-style: none;
/* 64   */ }
/* 65   */ .sidebar-widget li{
/* 66   */     position: relative;
/* 67   */     padding-left: 10px;
/* 68   */ }
/* 69   */ .sidebar-widget li:before{
/* 70   */     display: inline-block;
/* 71   */     font-family: FontAwesome;
/* 72   */     font-style: normal;
/* 73   */     font-weight: normal;
/* 74   */     line-height: 1;
/* 75   */     -webkit-font-smoothing: antialiased;
/* 76   */     -moz-osx-font-smoothing: grayscale;
/* 77   */     content: "\f105";
/* 78   */     position: absolute;
/* 79   */     top: 4px;
/* 80   */     left: 0px;
/* 81   */ }
/* 82   */ .widget_nav_menu .menu{
/* 83   */     padding-left: 0px;
/* 84   */ }
/* 85   */ .widget_nav_menu ul{
/* 86   */     list-style: none;
/* 87   */ }
/* 88   */ .widget_nav_menu .sub-menu{
/* 89   */     padding-left: 11px;
/* 90   */ }
/* 91   */ .sidebar-widget.widget_archive>ul,
/* 92   */ .sidebar-widget.widget_categories>ul
/* 93   */ {
/* 94   */     list-style: none;
/* 95   */     padding: 0;
/* 96   */ }
/* 97   */ .sidebar-widget.widget_archive >ul> li,
/* 98   */ .sidebar-widget.widget_categories >ul> li{
/* 99   */ 
/* 100  */     border-bottom: 1px dashed #f2f2f2;

/* custom.css */

/* 101  */     display: block;
/* 102  */     margin-bottom: 7px;
/* 103  */     padding-bottom: 7px;
/* 104  */ }
/* 105  */ .sidebar-widget.widget_archive ul> li > a,
/* 106  */ .sidebar-widget.widget_categories ul> li > a {
/* 107  */       color: #686868;
/* 108  */   }
/* 109  */ 
/* 110  */ .recentcomments .thumb-list-item-desciption{
/* 111  */ 
/* 112  */     font-size: 11px;
/* 113  */     margin: 0;
/* 114  */     color: #969696;
/* 115  */     line-height: 1.4em;
/* 116  */ }
/* 117  */ .recentcomments .avatar{
/* 118  */     border-radius: 50%;
/* 119  */     -webkit-border-radius: 50%;
/* 120  */ }
/* 121  */ table {
/* 122  */     border-collapse: collapse;
/* 123  */     border-spacing: 0;
/* 124  */ }
/* 125  */ 
/* 126  */ table {
/* 127  */     border-width: 1px;
/* 128  */     border-color: #e9e9e9;
/* 129  */     border-collapse: collapse;
/* 130  */     width: 100%;
/* 131  */ }
/* 132  */ 
/* 133  */ table caption {
/* 134  */     padding: 10px;
/* 135  */     background-color: #e9e9e9;
/* 136  */ }
/* 137  */ table td, table th {
/* 138  */     border-width: 1px;
/* 139  */     padding: 5px;
/* 140  */     border-style: solid;
/* 141  */     border-color: #e9e9e9;
/* 142  */     text-align: left;
/* 143  */ }
/* 144  */ #fb-root{
/* 145  */     display: none!important;;
/* 146  */ }
/* 147  */ 
/* 148  */ .comment-form .add_rating{
/* 149  */     font-size: 30px;
/* 150  */ }

/* custom.css */

/* 151  */ .comment-form .add_rating li{
/* 152  */     cursor: pointer;
/* 153  */ }
/* 154  */ .comment-form .add_rating li .fa-star-o:before
/* 155  */ {
/* 156  */     transition: all 0.3s;
/* 157  */ }
/* 158  */ .comment-form .add_rating li:hover .fa-star-o:before,
/* 159  */ .comment-form .add_rating li.active .fa-star-o:before{
/* 160  */     content:"\f005";
/* 161  */ }
/* 162  */ 
/* 163  */ /* page login */
/* 164  */ .st-full{
/* 165  */     height: 100%;
/* 166  */ }
/* 167  */ .error_login {
/* 168  */     border: 1px solid red;
/* 169  */     padding: 10px;
/* 170  */ }
/* 171  */ .success_login{
/* 172  */     border: 1px solid #2BEF44;;
/* 173  */     padding: 10px;
/* 174  */ }
/* 175  */ 
/* 176  */ /*vc team*/
/* 177  */ .st_team{
/* 178  */     margin-bottom: 30px;
/* 179  */ }
/* 180  */ .st_team img{
/* 181  */     max-width: 240px;
/* 182  */ }
/* 183  */ .row-no-gutter .row{
/* 184  */     margin: 0 !important;
/* 185  */ }
/* 186  */ .row-no-gutter .container-fluid ,.row-no-gutter .container ,.row-no-gutter [class^="col-"]{
/* 187  */     padding: 0px !important;
/* 188  */ }
/* 189  */ 
/* 190  */ .st-like-review:focus{
/* 191  */     color: white;
/* 192  */ }
/* 193  */ 
/* 194  */ 
/* 195  */ .loop-room .number_room{
/* 196  */     display: inline-block;
/* 197  */     height: 35px;
/* 198  */     width: 38px;
/* 199  */ }
/* 200  */ .st_team .hover-img{

/* custom.css */

/* 201  */   overflow: inherit;
/* 202  */ }
/* 203  */ /* vc map*/
/* 204  */ .st_google_map img {
/* 205  */     max-width: none;
/* 206  */ }
/* 207  */ /* reset VC*/
/* 208  */ 
/* 209  */ .wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
/* 210  */     margin-bottom: 0 ;
/* 211  */ }
/* 212  */ /* reset */
/* 213  */ .bg-parallax {
/* 214  */     background-position: 50% 0;
/* 215  */     background-attachment: fixed;
/* 216  */     background-size: cover;
/* 217  */     position: relative;
/* 218  */ }
/* 219  */ .bg-parallax .container{
/* 220  */     z-index: 10;
/* 221  */ }
/* 222  */ .bg-mask {
/* 223  */     background: none repeat scroll 0 0 #000;
/* 224  */     height: 100%;
/* 225  */     opacity: 0.5;
/* 226  */     width: 100%;
/* 227  */     z-index: 0;
/* 228  */     position: absolute;
/* 229  */ }
/* 230  */ .row-no-gutter .wpb_row, .row-no-gutter .wpb_content_element, .row-no-gutter .wpb_button {
/* 231  */     margin-bottom: 0px;
/* 232  */ }
/* 233  */ 
/* 234  */ #main-footer{
/* 235  */     clear: both;
/* 236  */ }
/* 237  */ .nav-pills li{
/* 238  */     padding-left: 0px;
/* 239  */ }
/* 240  */ .nav-pills li:before{
/* 241  */     content: none;
/* 242  */ }
/* 243  */ .nav-pills > li.current-menu-item > a {
/* 244  */     background: none repeat scroll 0 0 #ed8323;
/* 245  */     cursor: default;
/* 246  */     color: #fff;
/* 247  */ }
/* 248  */ .global-wrap .container .container{
/* 249  */     padding: 0px;
/* 250  */     margin: 0px;

/* custom.css */

/* 251  */     width: auto;
/* 252  */ }
/* 253  */ 
/* 254  */ .list-feature-3col.booking-item-features-expand >li{
/* 255  */     float: left;
/* 256  */     margin-right: 0px;
/* 257  */ }
/* 258  */ .booking-list.loading{
/* 259  */     position: relative;
/* 260  */ 
/* 261  */ }
/* 262  */ .booking-list.loading:before
/* 263  */ {
/* 264  */     content: "";
/* 265  */     background: white;
/* 266  */     position: absolute;
/* 267  */     top: 0px;
/* 268  */     left: 0px;
/* 269  */     bottom: 0px;
/* 270  */     right: 0px;
/* 271  */     opacity: 0.8;
/* 272  */     z-index: 1;
/* 273  */ }
/* 274  */ aside.sidebar-right{
/* 275  */     border-left: 0px;
/* 276  */     padding-left: 30px;
/* 277  */ }
/* 278  */ aside.sidebar-left {
/* 279  */     border-right: 0px;
/* 280  */     padding-right: 30px;
/* 281  */ }
/* 282  */ .st_top_location .col-md-3:nth-child(4n+1){
/* 283  */     clear: both;
/* 284  */ 
/* 285  */ }
/* 286  */ .bg-holder > .bg-mask, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-mask-white, .bg-holder > .bg-mask-color, .bg-holder > .bg-mask-color-invert {
/* 287  */     background: none repeat scroll 0 0 #000;
/* 288  */     height: 100%;
/* 289  */     opacity: 0.5;
/* 290  */     width: 100%;
/* 291  */     z-index: 1;
/* 292  */ }
/* 293  */ .bg-holder > .bg-video {
/* 294  */     height: auto;
/* 295  */     width: 100%;
/* 296  */     z-index: 0;
/* 297  */ }
/* 298  */ .bg-holder .wpb_column{
/* 299  */     z-index: 9;
/* 300  */ }

/* custom.css */

/* 301  */ 
/* 302  */ #main-footer {
/* 303  */     background: none repeat scroll 0 0 #262626;
/* 304  */     color: #e6e6e6;
/* 305  */     font-size: 11px;
/* 306  */     line-height: 1.4em;
/* 307  */     padding: 60px 0 30px;
/* 308  */ }
/* 309  */ #main-footer .logo {
/* 310  */     margin-bottom: 15px;
/* 311  */ }
/* 312  */ #main-footer a, #main-footer h1, #main-footer h2, #main-footer h3, #main-footer h4, #main-footer h5 {
/* 313  */     color: #fff;
/* 314  */ }
/* 315  */ #main-footer .form-control {
/* 316  */     background: none repeat scroll 0 0 #121212;
/* 317  */     border-color: #000;
/* 318  */     color: #fff;
/* 319  */ }
/* 320  */ #main-footer .form-control:focus {
/* 321  */     border-color: #ed8323;
/* 322  */ }
/* 323  */ .st{
/* 324  */     overflow: inherit;
/* 325  */ }
/* 326  */ 
/* 327  */ /* st aout icons */
/* 328  */ .st-thumb-header{
/* 329  */     width: 20%;
/* 330  */ }
/* 331  */ .st-thumb-caption{
/* 332  */     width: 80%;
/* 333  */ }
/* 334  */ .pull-top.st-thumb-header{
/* 335  */     width: 100%;
/* 336  */ }
/* 337  */ .pull-top.st-thumb-caption{
/* 338  */     width: 100%;
/* 339  */ }
/* 340  */ .st-thumb-header i{
/* 341  */     display: inline-block;
/* 342  */ }
/* 343  */ .nav-tabs > li.ui-state-active > a,
/* 344  */ .nav-tabs > li.ui-state-active > a:hover,
/* 345  */ .nav-tabs > li.ui-state-active.ui-state-active > a:focus,
/* 346  */ .nav-tabs > li.ui-state-active.ui-state-hover > a {
/* 347  */     color: #555555;
/* 348  */     background-color: #ffffff;
/* 349  */     border: 1px solid #dddddd;
/* 350  */     border-bottom-color: transparent;

/* custom.css */

/* 351  */     cursor: default;
/* 352  */ }
/* 353  */ .nav-tabs > li>a:focus{
/* 354  */     outline: 0;
/* 355  */ }
/* 356  */ 
/* 357  */ .wpb_text_column.wpb_content_element .form-group{
/* 358  */     margin-bottom: 15px;
/* 359  */ }
/* 360  */ .boder-search{
/* 361  */     padding-bottom: 5px;
/* 362  */ }
/* 363  */ .no-boder-search .tab-pane{
/* 364  */     box-shadow:none !important;
/* 365  */ }
/* 366  */ .booking-item-details{
/* 367  */     border-top: 1px solid #f2f2f2;
/* 368  */     margin-top: 15px;
/* 369  */ }
/* 370  */ .booking-item-details .booking-item-header-price.text-left{
/* 371  */     text-align: left;
/* 372  */ }
/* 373  */ .booking-item-details .booking-item-header-price.text-center{
/* 374  */     text-align: center;
/* 375  */ }
/* 376  */ .booking-item-features-expand > li.col-sm-4{
/* 377  */     float: left;
/* 378  */ 
/* 379  */ }
/* 380  */ /* paging */
/* 381  */ .pagination {
/* 382  */     border-radius: 0;
/* 383  */     display: block;
/* 384  */     font-size: 12px;
/* 385  */     list-style: outside none none;
/* 386  */     margin: 0;
/* 387  */     overflow: hidden;
/* 388  */     padding: 0;
/* 389  */ }
/* 390  */ .pagination .page-numbers{
/* 391  */     padding: 5px 13px;
/* 392  */     float: left;
/* 393  */ }
/* 394  */ .pagination .page-numbers.current{
/* 395  */     background: none repeat scroll 0 0 #ed8323;
/* 396  */     color: #ffffff;
/* 397  */ }
/* 398  */ .pagination .page-numbers:not( .dots ):hover{
/* 399  */     background: none repeat scroll 0 0 #4d4d4d;
/* 400  */     color: #fff;

/* custom.css */

/* 401  */ }
/* 402  */ .pagination .page-numbers.current:hover{
/* 403  */     background: none repeat scroll 0 0 #ed8323;
/* 404  */     color: #ffffff;
/* 405  */ }
/* 406  */ #paging{
/* 407  */     float: left;
/* 408  */ }
/* 409  */ /* create hotel */
/* 410  */ .st-create{
/* 411  */     display: inline-block;
/* 412  */     font-size: 17px;
/* 413  */     color: #B9ACA4;
/* 414  */     padding: 0 0 10px;
/* 415  */     margin: 0 0 15px;
/* 416  */     text-indent: 10px;
/* 417  */     border-bottom: 1px solid #ccc;
/* 418  */     width: 100%;
/* 419  */ }
/* 420  */ .wp-editor-container{
/* 421  */     border: solid 1px #eee;
/* 422  */ }
/* 423  */ #st_content{
/* 424  */     height: 250px;
/* 425  */ }
/* 426  */ .cursor{
/* 427  */     cursor: pointer;
/* 428  */ }
/* 429  */ .view_more_content_box{
/* 430  */     display: none;
/* 431  */     -webkit-transition: 0.2s;
/* 432  */     -moz-transition: 0.2s;
/* 433  */     -o-transition: 0.2s;
/* 434  */     -ms-transition: 0.2s;
/* 435  */     transition: 0.2s;
/* 436  */ }
/* 437  */ .expanded .view_more_content_box{
/* 438  */     display: block;
/* 439  */ }
/* 440  */ .search_advance .expand_search_box span
/* 441  */ {
/* 442  */     line-height: 30px;
/* 443  */     height: 30px;
/* 444  */     display: block;
/* 445  */     position: absolute;
/* 446  */     font-size: 14px;
/* 447  */ }
/* 448  */ .search_advance .expand_search_box span.expand_search_box-less{
/* 449  */     display: none;
/* 450  */ }

/* custom.css */

/* 451  */ 
/* 452  */ .search_advance.expanded .expand_search_box span{
/* 453  */     display: none;
/* 454  */ }
/* 455  */ .search_advance.expanded .expand_search_box span.expand_search_box-less
/* 456  */ {
/* 457  */     display: block;
/* 458  */ }
/* 459  */ .search_advance .expand_search_box {
/* 460  */     position: relative;
/* 461  */     height: 30px;
/* 462  */     cursor: pointer;
/* 463  */ }
/* 464  */ .st_msg{
/* 465  */     padding-top: 10px;
/* 466  */ }
/* 467  */ .user_img_loading{
/* 468  */     position: absolute;
/* 469  */     right: 6px;
/* 470  */     top: 8px;
/* 471  */     display: none;
/* 472  */ }
/* 473  */ .user_seting{
/* 474  */     padding-top: 10px;
/* 475  */ }
/* 476  */ .user_seting img{
/* 477  */     max-width: 120px;
/* 478  */     float: left;
/* 479  */ }
/* 480  */ .user_seting .btn_del_avatar{
/* 481  */     margin-left: 10px;
/* 482  */ }
/* 483  */ .btn-file {
/* 484  */     position: relative;
/* 485  */     overflow: hidden;
/* 486  */ }
/* 487  */ .btn-file input[type=file] {
/* 488  */     position: absolute;
/* 489  */     top: 0;
/* 490  */     right: 0;
/* 491  */     min-width: 100%;
/* 492  */     min-height: 100%;
/* 493  */     font-size: 100px;
/* 494  */     text-align: right;
/* 495  */     filter: alpha(opacity=0);
/* 496  */     opacity: 0;
/* 497  */     outline: none;
/* 498  */     background: white;
/* 499  */     cursor: inherit;
/* 500  */     display: block;

/* custom.css */

/* 501  */ }
/* 502  */ /* icons loading*/
/* 503  */ 
/* 504  */ .spinner > div {
/* 505  */     width: 18px;
/* 506  */     height: 18px;
/* 507  */     background-color: #333;
/* 508  */ 
/* 509  */     border-radius: 100%;
/* 510  */     display: inline-block;
/* 511  */     -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
/* 512  */     animation: bouncedelay 1.4s infinite ease-in-out;
/* 513  */     /* Prevent first frame from flickering when animation starts */
/* 514  */     -webkit-animation-fill-mode: both;
/* 515  */     animation-fill-mode: both;
/* 516  */ }
/* 517  */ 
/* 518  */ .spinner .bounce1 {
/* 519  */     -webkit-animation-delay: -0.32s;
/* 520  */     animation-delay: -0.32s;
/* 521  */ }
/* 522  */ 
/* 523  */ .spinner .bounce2 {
/* 524  */     -webkit-animation-delay: -0.16s;
/* 525  */     animation-delay: -0.16s;
/* 526  */ }
/* 527  */ 
/* 528  */ @-webkit-keyframes bouncedelay {
/* 529  */     0%, 80%, 100% { -webkit-transform: scale(0.0) }
/* 530  */     40% { -webkit-transform: scale(1.0) }
/* 531  */ }
/* 532  */ 
/* 533  */ @keyframes bouncedelay {
/* 534  */     0%, 80%, 100% {
/* 535  */         transform: scale(0.0);
/* 536  */         -webkit-transform: scale(0.0);
/* 537  */     } 
/* 538  */     40% {
/* 539  */           transform: scale(1.0);
/* 540  */           -webkit-transform: scale(1.0);
/* 541  */       }
/* 542  */ }
/* 543  */ 
/* 544  */ .checkbox_paypal .i-check{
/* 545  */     margin-top: 6px;
/* 546  */ }
/* 547  */ .checkbox_paypal .pp-img{
/* 548  */     margin-bottom: 0px;
/* 549  */ }
/* 550  */ /* vc element cars*/

/* custom.css */

/* 551  */ .singe_cars .cars_equipment_display{
/* 552  */     position: absolute;
/* 553  */     width: 100%;
/* 554  */     height: 100%;
/* 555  */     top: 0px;
/* 556  */     display: none;
/* 557  */ }
/* 558  */ .cars_price_img_loading{
/* 559  */     float: right;
/* 560  */ }
/* 561  */ .st_data_car_total{
/* 562  */     float: right;
/* 563  */ 
/* 564  */ }
/* 565  */ .cars_price_img_loading  > div{
/* 566  */     height: 10px;
/* 567  */     width: 10px;
/* 568  */ }
/* 569  */ 
/* 570  */ .booking-filters.hotel-filters
/* 571  */ {
/* 572  */     margin-bottom: 20px;
/* 573  */ }
/* 574  */ .irs-hidden-input{
/* 575  */     display: none;
/* 576  */ }
/* 577  */ .irs-bar
/* 578  */ {
/* 579  */     height: 12px;
/* 580  */     top: 25px;
/* 581  */     position: absolute;
/* 582  */     display: block;
/* 583  */ }
/* 584  */ .irs-line,
/* 585  */ .btn:focus,
/* 586  */ .btn:active{
/* 587  */     outline: none;
/* 588  */ }
/* 589  */ .booking-item-payment{
/* 590  */     margin-bottom: 20px;
/* 591  */ }
/* 592  */ 
/* 593  */ .st_cars:nth-child(3n+1) {
/* 594  */     clear: both;
/* 595  */ }
/* 596  */ .booking-title{
/* 597  */     margin-bottom: 25px!important;
/* 598  */ }
/* 599  */ .item-nearby .booking-item-title a{
/* 600  */     color: #565656;

/* custom.css */

/* 601  */ }
/* 602  */ 
/* 603  */ 
/* 604  */ .st-or{
/* 605  */     font-size: 30px;
/* 606  */     font-weight: bold;
/* 607  */ }
/* 608  */ 
/* 609  */ .list_tours .row >.col-md-4:nth-child(3n+1){
/* 610  */     clear: both;
/* 611  */ }
/* 612  */ .list_tours .row >.col-md-3:nth-child(4n+1){
/* 613  */     clear: both;
/* 614  */ }
/* 615  */ .row.row-wrap >.hentry{
/* 616  */     margin-bottom: 30px;
/* 617  */ }
/* 618  */ .booking-item-old-price {
/* 619  */     text-decoration: line-through
/* 620  */ }
/* 621  */ .f-20{
/* 622  */     font-size: 20px;
/* 623  */ }
/* 624  */ 
/* 625  */ /* Tours */
/* 626  */ .list_tour .icon-like{
/* 627  */     padding-right: 5px;
/* 628  */ }
/* 629  */ .box_sale{
/* 630  */     color: #fff;
/* 631  */     font-size: 14px;
/* 632  */     font-weight: 700;
/* 633  */     border-radius: 100%;
/* 634  */     position: absolute;
/* 635  */     top: -15px;
/* 636  */     right: 0px;
/* 637  */     z-index: 2;
/* 638  */     line-height:60px;
/* 639  */     width: 60px;
/* 640  */     height: 60px;
/* 641  */     text-align: center;
/* 642  */     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
/* 643  */ }
/* 644  */ .onsale{
/* 645  */     color: #9a9a9a !important;
/* 646  */     text-decoration: line-through;
/* 647  */ }
/* 648  */ .sale_block{
/* 649  */     display: block;
/* 650  */ }

/* custom.css */

/* 651  */ 
/* 652  */ .no-border-top{
/* 653  */     border-top: none ;
/* 654  */ }
/* 655  */ .pl-5{
/* 656  */     padding-left: 5px;
/* 657  */ }
/* 658  */ .sale_small{
/* 659  */     font-size: 14px;
/* 660  */     font-weight: 700;
/* 661  */     height: 49px;
/* 662  */     line-height: 50px;
/* 663  */     position: absolute;
/* 664  */     right: -15px;
/* 665  */     text-align: center;
/* 666  */     top: -25px;
/* 667  */     width: 50px;
/* 668  */     z-index: 2;
/* 669  */ }
/* 670  */ .single_cars{
/* 671  */     left: 0;
/* 672  */     top: 0;
/* 673  */ }
/* 674  */ .sale_check_out{
/* 675  */     right: 5px;
/* 676  */     top: 5px;
/* 677  */ }
/* 678  */ .menu .current-menu-ancestor >.slimmenu-sub-collapser i
/* 679  */ {
/* 680  */     color:white;
/* 681  */ }
/* 682  */ 
/* 683  */ .row >.hentry.col-md-3:nth-child(4n+1){
/* 684  */     clear: both;
/* 685  */ }.row >.hentry.col-md-4:nth-child(3n+1){
/* 686  */     clear: both;
/* 687  */ }
/* 688  */  .book_form{
/* 689  */      margin-bottom: 5px;
/* 690  */  }
/* 691  */ .info-activity .info{
/* 692  */     margin-bottom: 5px;
/* 693  */ }
/* 694  */ .info-activity{
/* 695  */     margin-bottom: 10px;
/* 696  */ }
/* 697  */ .info-activity .head{ font-weight: bold; }
/* 698  */ .tooltip {
/* 699  */     opacity: 1;
/* 700  */     white-space:normal;

/* custom.css */

/* 701  */ }
/* 702  */ .tooltip .title{
/* 703  */     font-size: 15px;
/* 704  */     padding: 15px;
/* 705  */     border-radius:7px;
/* 706  */ }
/* 707  */ body{
/* 708  */     overflow: auto;
/* 709  */ }
/* 710  */ body.enable_nice_scroll{
/* 711  */     overflow: hidden;
/* 712  */ }
/* 713  */ select{
/* 714  */     max-width: 100%;
/* 715  */ }
/* 716  */ img{
/* 717  */     width: auto;
/* 718  */ }
/* 719  */ .media-responsive{
/* 720  */     width: 100%;
/* 721  */     position: relative;
/* 722  */     padding: 0;
/* 723  */     padding-top: 56.2%;
/* 724  */ }
/* 725  */ 
/* 726  */ .format-audio .media-responsive{
/* 727  */     padding-top: 20%;
/* 728  */ }
/* 729  */ 
/* 730  */ .media-responsive iframe, .media-responsive object, .media-responsive embed {
/* 731  */     position: absolute;
/* 732  */     top: 0;
/* 733  */     left: 0;
/* 734  */     width: 100%;
/* 735  */     height: 100%;
/* 736  */ }
/* 737  */ .pagination > li > a.current, .pagination > li > a.current:hover{
/* 738  */ 
/* 739  */     background: #ed8323;
/* 740  */     color: white;
/* 741  */ }
/* 742  */ .pagination > li >a.dots {
/* 743  */     line-height: 16px;
/* 744  */     text-align: center;
/* 745  */     font-size: 30px;
/* 746  */     color: #ccc;
/* 747  */     padding-top: 0px;
/* 748  */ }
/* 749  */ .pagination > li >a.dots:hover{
/* 750  */     background: transparent;

/* custom.css */

/* 751  */ }
/* 752  */ .comment-list.unstylelist
/* 753  */ {
/* 754  */     margin: 0px;
/* 755  */     padding: 0px;
/* 756  */ }
/* 757  */ .comment .comment-inner{
/* 758  */ 
/* 759  */     display: block;
/* 760  */     margin-left: 60px;
/* 761  */ }
/* 762  */ 
/* 763  */ .sidebar-widget >ul
/* 764  */ {
/* 765  */     padding-left: 0px;
/* 766  */     list-style: none;
/* 767  */ }
/* 768  */ .sidebar-widget li{
/* 769  */     position: relative;
/* 770  */     padding-left: 10px;
/* 771  */ }
/* 772  */ .sidebar-widget li:before{
/* 773  */     display: inline-block;
/* 774  */     font-family: FontAwesome;
/* 775  */     font-style: normal;
/* 776  */     font-weight: normal;
/* 777  */     line-height: 1;
/* 778  */     -webkit-font-smoothing: antialiased;
/* 779  */     -moz-osx-font-smoothing: grayscale;
/* 780  */     content: "\f105";
/* 781  */     position: absolute;
/* 782  */     top: 4px;
/* 783  */     left: 0px;
/* 784  */ }
/* 785  */ .widget_nav_menu .menu{
/* 786  */     padding-left: 0px;
/* 787  */ }
/* 788  */ .widget_nav_menu ul{
/* 789  */     list-style: none;
/* 790  */ }
/* 791  */ .widget_nav_menu .sub-menu{
/* 792  */     padding-left: 11px;
/* 793  */ }
/* 794  */ .sidebar-widget.widget_archive>ul,
/* 795  */ .sidebar-widget.widget_categories>ul
/* 796  */ {
/* 797  */     list-style: none;
/* 798  */     padding: 0;
/* 799  */ }
/* 800  */ .sidebar-widget.widget_archive >ul> li,

/* custom.css */

/* 801  */ .sidebar-widget.widget_categories >ul> li{
/* 802  */ 
/* 803  */     border-bottom: 1px dashed #f2f2f2;
/* 804  */     display: block;
/* 805  */     margin-bottom: 7px;
/* 806  */     padding-bottom: 7px;
/* 807  */ }
/* 808  */ .sidebar-widget.widget_archive ul> li > a,
/* 809  */ .sidebar-widget.widget_categories ul> li > a {
/* 810  */       color: #686868;
/* 811  */   }
/* 812  */ 
/* 813  */ .recentcomments .thumb-list-item-desciption{
/* 814  */ 
/* 815  */     font-size: 11px;
/* 816  */     margin: 0;
/* 817  */     color: #969696;
/* 818  */     line-height: 1.4em;
/* 819  */ }
/* 820  */ .recentcomments .avatar{
/* 821  */     border-radius: 50%;
/* 822  */     -webkit-border-radius: 50%;
/* 823  */ }
/* 824  */ table {
/* 825  */     border-collapse: collapse;
/* 826  */     border-spacing: 0;
/* 827  */ }
/* 828  */ 
/* 829  */ table {
/* 830  */     border-width: 1px;
/* 831  */     border-color: #e9e9e9;
/* 832  */     border-collapse: collapse;
/* 833  */     width: 100%;
/* 834  */ }
/* 835  */ 
/* 836  */ table caption {
/* 837  */     padding: 10px;
/* 838  */     background-color: #e9e9e9;
/* 839  */ }
/* 840  */ table td, table th {
/* 841  */     border-width: 1px;
/* 842  */     padding: 5px;
/* 843  */     border-style: solid;
/* 844  */     border-color: #e9e9e9;
/* 845  */     text-align: left;
/* 846  */ }
/* 847  */ #fb-root{
/* 848  */     display: none!important;;
/* 849  */ }
/* 850  */ 

/* custom.css */

/* 851  */ .comment-form .add_rating{
/* 852  */     font-size: 30px;
/* 853  */ }
/* 854  */ .comment-form .add_rating li{
/* 855  */     cursor: pointer;
/* 856  */ }
/* 857  */ .comment-form .add_rating li .fa-star-o:before
/* 858  */ {
/* 859  */     transition: all 0.3s;
/* 860  */ }
/* 861  */ .comment-form .add_rating li:hover .fa-star-o:before,
/* 862  */ .comment-form .add_rating li.active .fa-star-o:before{
/* 863  */     content:"\f005";
/* 864  */ }
/* 865  */ 
/* 866  */ /* page login */
/* 867  */ .st-full{
/* 868  */     height: 100%;
/* 869  */ }
/* 870  */ .error_login {
/* 871  */     border: 1px solid red;
/* 872  */     padding: 10px;
/* 873  */ }
/* 874  */ .success_login{
/* 875  */     border: 1px solid #2BEF44;;
/* 876  */     padding: 10px;
/* 877  */ }
/* 878  */ 
/* 879  */ /*vc team*/
/* 880  */ .st_team{
/* 881  */     margin-bottom: 30px;
/* 882  */ }
/* 883  */ .st_team img{
/* 884  */     max-width: 240px;
/* 885  */ }
/* 886  */ .row-no-gutter .row{
/* 887  */     margin: 0 !important;
/* 888  */ }
/* 889  */ .row-no-gutter .container-fluid ,.row-no-gutter .container ,.row-no-gutter [class^="col-"]{
/* 890  */     padding: 0px !important;
/* 891  */ }
/* 892  */ 
/* 893  */ .st-like-review:focus{
/* 894  */     color: white;
/* 895  */ }
/* 896  */ 
/* 897  */ 
/* 898  */ .number_room{
/* 899  */     display: inline-block;
/* 900  */     height: 35px;

/* custom.css */

/* 901  */     width: 38px;
/* 902  */ }
/* 903  */ .st_team .hover-img{
/* 904  */   overflow: inherit;
/* 905  */ }
/* 906  */ /* vc map*/
/* 907  */ .st_google_map img {
/* 908  */     max-width: none;
/* 909  */ }
/* 910  */ /* reset VC*/
/* 911  */ 
/* 912  */ .wpb_row, .wpb_content_element, ul.wpb_thumbnails-fluid > li, .last_toggle_el_margin, .wpb_button {
/* 913  */     margin-bottom: 0 ;
/* 914  */ }
/* 915  */ /* reset */
/* 916  */ .bg-parallax {
/* 917  */     background-position: 50% 0;
/* 918  */     background-attachment: fixed;
/* 919  */     background-size: cover;
/* 920  */     position: relative;
/* 921  */ }
/* 922  */ .bg-parallax .container{
/* 923  */     z-index: 10;
/* 924  */ }
/* 925  */ .bg-mask {
/* 926  */     background: none repeat scroll 0 0 #000;
/* 927  */     height: 100%;
/* 928  */     opacity: 0.5;
/* 929  */     width: 100%;
/* 930  */     z-index: 0;
/* 931  */     position: absolute;
/* 932  */ }
/* 933  */ .row-no-gutter .wpb_row, .row-no-gutter .wpb_content_element, .row-no-gutter .wpb_button {
/* 934  */     margin-bottom: 0px;
/* 935  */ }
/* 936  */ 
/* 937  */ #main-footer{
/* 938  */     clear: both;
/* 939  */ }
/* 940  */ .nav-pills li{
/* 941  */     padding-left: 0px;
/* 942  */ }
/* 943  */ .nav-pills li:before{
/* 944  */     content: none;
/* 945  */ }
/* 946  */ .nav-pills > li.current-menu-item > a {
/* 947  */     background: none repeat scroll 0 0 #ed8323;
/* 948  */     cursor: default;
/* 949  */     color: #fff;
/* 950  */ }

/* custom.css */

/* 951  */ .global-wrap .container .container{
/* 952  */     padding: 0px;
/* 953  */     margin: 0px;
/* 954  */     width: auto;
/* 955  */ }
/* 956  */ 
/* 957  */ .list-feature-3col.booking-item-features-expand >li{
/* 958  */     float: left;
/* 959  */     margin-right: 0px;
/* 960  */ }
/* 961  */ .booking-list.loading{
/* 962  */     position: relative;
/* 963  */ 
/* 964  */ }
/* 965  */ .booking-list.loading:before
/* 966  */ {
/* 967  */     content: "";
/* 968  */     background: white;
/* 969  */     position: absolute;
/* 970  */     top: 0px;
/* 971  */     left: 0px;
/* 972  */     bottom: 0px;
/* 973  */     right: 0px;
/* 974  */     opacity: 0.8;
/* 975  */     z-index: 1;
/* 976  */ }
/* 977  */ .sidebar-right {
/* 978  */     border-left: 1px solid #d4d4d4;
/* 979  */     padding-left: 30px;
/* 980  */ }
/* 981  */ .sidebar-left {
/* 982  */     border-right: 1px solid #d4d4d4;
/* 983  */     padding-right: 30px;
/* 984  */ }
/* 985  */ .st_top_location .col-md-3:nth-child(4n+1){
/* 986  */     clear: both;
/* 987  */ 
/* 988  */ }
/* 989  */ .st_top_location{
/* 990  */     padding: 14px;
/* 991  */ }
/* 992  */ 
/* 993  */ .bg-holder > .bg-mask, .bg-holder > .bg-mask-darken, .bg-holder > .bg-mask-lighten, .bg-holder > .bg-mask-white, .bg-holder > .bg-mask-color, .bg-holder > .bg-mask-color-invert {
/* 994  */     background: none repeat scroll 0 0 #000;
/* 995  */     height: 100%;
/* 996  */     opacity: 0.5;
/* 997  */     width: 100%;
/* 998  */     z-index: 1;
/* 999  */ }
/* 1000 */ .bg-holder > .bg-video {

/* custom.css */

/* 1001 */     height: auto;
/* 1002 */     width: 100%;
/* 1003 */     z-index: 0;
/* 1004 */ }
/* 1005 */ .bg-holder .wpb_column{
/* 1006 */     z-index: 9;
/* 1007 */ }
/* 1008 */ 
/* 1009 */ #main-footer {
/* 1010 */     background: none repeat scroll 0 0 #262626;
/* 1011 */     color: #e6e6e6;
/* 1012 */     font-size: 11px;
/* 1013 */     line-height: 1.4em;
/* 1014 */     padding: 60px 0 30px;
/* 1015 */ }
/* 1016 */ #main-footer .logo {
/* 1017 */     margin-bottom: 15px;
/* 1018 */ }
/* 1019 */ #main-footer a, #main-footer h1, #main-footer h2, #main-footer h3, #main-footer h4, #main-footer h5 {
/* 1020 */     color: #fff;
/* 1021 */ }
/* 1022 */ #main-footer .form-control {
/* 1023 */     background: none repeat scroll 0 0 #121212;
/* 1024 */     border-color: #000;
/* 1025 */     color: #fff;
/* 1026 */ }
/* 1027 */ #main-footer .form-control:focus {
/* 1028 */     border-color: #ed8323;
/* 1029 */ }
/* 1030 */ .st{
/* 1031 */     overflow: inherit;
/* 1032 */ }
/* 1033 */ 
/* 1034 */ /* st aout icons */
/* 1035 */ .st-thumb-header{
/* 1036 */     width: 20%;
/* 1037 */ }
/* 1038 */ .st-thumb-caption{
/* 1039 */     width: 80%;
/* 1040 */ }
/* 1041 */ .pull-top.st-thumb-header{
/* 1042 */     width: 100%;
/* 1043 */ }
/* 1044 */ .pull-top.st-thumb-caption{
/* 1045 */     width: 100%;
/* 1046 */ }
/* 1047 */ .st-thumb-header i{
/* 1048 */     display: inline-block;
/* 1049 */ }
/* 1050 */ .nav-tabs > li.ui-state-active > a,

/* custom.css */

/* 1051 */ .nav-tabs > li.ui-state-active > a:hover,
/* 1052 */ .nav-tabs > li.ui-state-active.ui-state-active > a:focus,
/* 1053 */ .nav-tabs > li.ui-state-active.ui-state-hover > a {
/* 1054 */     color: #555555;
/* 1055 */     background-color: #ffffff;
/* 1056 */     border: 1px solid #dddddd;
/* 1057 */     border-bottom-color: transparent;
/* 1058 */     cursor: default;
/* 1059 */ }
/* 1060 */ .nav-tabs > li>a:focus{
/* 1061 */     outline: 0;
/* 1062 */ }
/* 1063 */ 
/* 1064 */ .wpb_text_column.wpb_content_element .form-group{
/* 1065 */     margin-bottom: 15px;
/* 1066 */ }
/* 1067 */ .boder-search{
/* 1068 */     padding-bottom: 5px;
/* 1069 */ }
/* 1070 */ .no-boder-search .tab-pane{
/* 1071 */     box-shadow:none !important;
/* 1072 */ }
/* 1073 */ .booking-item-details{
/* 1074 */     border-top: 1px solid #f2f2f2;
/* 1075 */     margin-top: 15px;
/* 1076 */ }
/* 1077 */ .booking-item-details .booking-item-header-price.text-left{
/* 1078 */     text-align: left;
/* 1079 */ }
/* 1080 */ .booking-item-details .booking-item-header-price.text-center{
/* 1081 */     text-align: center;
/* 1082 */ }
/* 1083 */ .booking-item-features-expand > li.col-sm-4{
/* 1084 */     float: left;
/* 1085 */ 
/* 1086 */ }
/* 1087 */ /* paging */
/* 1088 */ .pagination {
/* 1089 */     border-radius: 0;
/* 1090 */     display: block;
/* 1091 */     font-size: 12px;
/* 1092 */     list-style: outside none none;
/* 1093 */     margin: 0;
/* 1094 */     overflow: hidden;
/* 1095 */     padding: 0;
/* 1096 */ }
/* 1097 */ .pagination .page-numbers{
/* 1098 */     padding: 5px 13px;
/* 1099 */     float: left;
/* 1100 */ }

/* custom.css */

/* 1101 */ .pagination .page-numbers.current{
/* 1102 */     background: none repeat scroll 0 0 #ed8323;
/* 1103 */     color: #ffffff;
/* 1104 */ }
/* 1105 */ .pagination .page-numbers:not( .dots ):hover{
/* 1106 */     background: none repeat scroll 0 0 #4d4d4d;
/* 1107 */     color: #fff;
/* 1108 */ }
/* 1109 */ .pagination .page-numbers.current:hover{
/* 1110 */     background: none repeat scroll 0 0 #ed8323;
/* 1111 */     color: #ffffff;
/* 1112 */ }
/* 1113 */ #paging{
/* 1114 */     float: left;
/* 1115 */ }
/* 1116 */ /* create hotel */
/* 1117 */ .st-create{
/* 1118 */     display: inline-block;
/* 1119 */     font-size: 17px;
/* 1120 */     color: #B9ACA4;
/* 1121 */     padding: 0 0 10px;
/* 1122 */     margin: 0 0 15px;
/* 1123 */     text-indent: 10px;
/* 1124 */     border-bottom: 1px solid #ccc;
/* 1125 */     width: 100%;
/* 1126 */ }
/* 1127 */ .wp-editor-container{
/* 1128 */     border: solid 1px #eee;
/* 1129 */ }
/* 1130 */ #st_content{
/* 1131 */     height: 250px;
/* 1132 */ }
/* 1133 */ .cursor{
/* 1134 */     cursor: pointer;
/* 1135 */ }
/* 1136 */ .view_more_content_box{
/* 1137 */     display: none;
/* 1138 */     -webkit-transition: 0.2s;
/* 1139 */     -moz-transition: 0.2s;
/* 1140 */     -o-transition: 0.2s;
/* 1141 */     -ms-transition: 0.2s;
/* 1142 */     transition: 0.2s;
/* 1143 */ }
/* 1144 */ .expanded .view_more_content_box{
/* 1145 */     display: block;
/* 1146 */ }
/* 1147 */ .search_advance .expand_search_box span
/* 1148 */ {
/* 1149 */     line-height: 30px;
/* 1150 */     height: 30px;

/* custom.css */

/* 1151 */     display: block;
/* 1152 */     position: absolute;
/* 1153 */     font-size: 14px;
/* 1154 */ }
/* 1155 */ .search_advance .expand_search_box span.expand_search_box-less{
/* 1156 */     display: none;
/* 1157 */ }
/* 1158 */ 
/* 1159 */ .search_advance.expanded .expand_search_box span{
/* 1160 */     display: none;
/* 1161 */ }
/* 1162 */ .search_advance.expanded .expand_search_box span.expand_search_box-less
/* 1163 */ {
/* 1164 */     display: block;
/* 1165 */ }
/* 1166 */ .search_advance .expand_search_box {
/* 1167 */     position: relative;
/* 1168 */     height: 30px;
/* 1169 */     cursor: pointer;
/* 1170 */ }
/* 1171 */ .st_msg{
/* 1172 */     padding-top: 10px;
/* 1173 */ }
/* 1174 */ .user_img_loading{
/* 1175 */     position: absolute;
/* 1176 */     right: 6px;
/* 1177 */     top: 8px;
/* 1178 */     display: none;
/* 1179 */ }
/* 1180 */ .user_seting{
/* 1181 */     padding-top: 10px;
/* 1182 */ }
/* 1183 */ .user_seting img{
/* 1184 */     max-width: 120px;
/* 1185 */     float: left;
/* 1186 */ }
/* 1187 */ .user_seting .btn_del_avatar{
/* 1188 */     margin-left: 10px;
/* 1189 */ }
/* 1190 */ .btn-file {
/* 1191 */     position: relative;
/* 1192 */     overflow: hidden;
/* 1193 */ }
/* 1194 */ .btn-file input[type=file] {
/* 1195 */     position: absolute;
/* 1196 */     top: 0;
/* 1197 */     right: 0;
/* 1198 */     min-width: 100%;
/* 1199 */     min-height: 100%;
/* 1200 */     font-size: 100px;

/* custom.css */

/* 1201 */     text-align: right;
/* 1202 */     filter: alpha(opacity=0);
/* 1203 */     opacity: 0;
/* 1204 */     outline: none;
/* 1205 */     background: white;
/* 1206 */     cursor: inherit;
/* 1207 */     display: block;
/* 1208 */ }
/* 1209 */ /* icons loading*/
/* 1210 */ 
/* 1211 */ .spinner > div {
/* 1212 */     width: 18px;
/* 1213 */     height: 18px;
/* 1214 */     background-color: #333;
/* 1215 */ 
/* 1216 */     border-radius: 100%;
/* 1217 */     display: inline-block;
/* 1218 */     -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
/* 1219 */     animation: bouncedelay 1.4s infinite ease-in-out;
/* 1220 */     /* Prevent first frame from flickering when animation starts */
/* 1221 */     -webkit-animation-fill-mode: both;
/* 1222 */     animation-fill-mode: both;
/* 1223 */ }
/* 1224 */ 
/* 1225 */ .spinner .bounce1 {
/* 1226 */     -webkit-animation-delay: -0.32s;
/* 1227 */     animation-delay: -0.32s;
/* 1228 */ }
/* 1229 */ 
/* 1230 */ .spinner .bounce2 {
/* 1231 */     -webkit-animation-delay: -0.16s;
/* 1232 */     animation-delay: -0.16s;
/* 1233 */ }
/* 1234 */ 
/* 1235 */ @-webkit-keyframes bouncedelay {
/* 1236 */     0%, 80%, 100% { -webkit-transform: scale(0.0) }
/* 1237 */     40% { -webkit-transform: scale(1.0) }
/* 1238 */ }
/* 1239 */ 
/* 1240 */ @keyframes bouncedelay {
/* 1241 */     0%, 80%, 100% {
/* 1242 */         transform: scale(0.0);
/* 1243 */         -webkit-transform: scale(0.0);
/* 1244 */     } 
/* 1245 */     40% {
/* 1246 */           transform: scale(1.0);
/* 1247 */           -webkit-transform: scale(1.0);
/* 1248 */       }
/* 1249 */ }
/* 1250 */ 

/* custom.css */

/* 1251 */ .checkbox_paypal .i-check{
/* 1252 */     margin-top: 6px;
/* 1253 */ }
/* 1254 */ .checkbox_paypal .pp-img{
/* 1255 */     margin-bottom: 0px;
/* 1256 */ }
/* 1257 */ /* vc element cars*/
/* 1258 */ .singe_cars .cars_equipment_display{
/* 1259 */     position: absolute;
/* 1260 */     width: 100%;
/* 1261 */     height: 100%;
/* 1262 */     top: 0px;
/* 1263 */     display: none;
/* 1264 */ }
/* 1265 */ .cars_price_img_loading{
/* 1266 */     float: right;
/* 1267 */ }
/* 1268 */ .st_data_car_total{
/* 1269 */     float: right;
/* 1270 */ 
/* 1271 */ }
/* 1272 */ .cars_price_img_loading  > div{
/* 1273 */     height: 10px;
/* 1274 */     width: 10px;
/* 1275 */ }
/* 1276 */ 
/* 1277 */ .booking-filters.hotel-filters
/* 1278 */ {
/* 1279 */     margin-bottom: 20px;
/* 1280 */ }
/* 1281 */ .irs-hidden-input{
/* 1282 */     display: none;
/* 1283 */ }
/* 1284 */ .irs-bar
/* 1285 */ {
/* 1286 */     height: 12px;
/* 1287 */     top: 25px;
/* 1288 */     position: absolute;
/* 1289 */     display: block;
/* 1290 */ }
/* 1291 */ .irs-line,
/* 1292 */ .btn:focus,
/* 1293 */ .btn:active{
/* 1294 */     outline: none;
/* 1295 */ }
/* 1296 */ .booking-item-payment{
/* 1297 */     margin-bottom: 20px;
/* 1298 */ }
/* 1299 */ 
/* 1300 */ .st_cars:nth-child(3n+1) {

/* custom.css */

/* 1301 */     clear: both;
/* 1302 */ }
/* 1303 */ .booking-title{
/* 1304 */     margin-bottom: 25px!important;
/* 1305 */ }
/* 1306 */ .item-nearby .booking-item-title a{
/* 1307 */     color: #565656;
/* 1308 */ }
/* 1309 */ 
/* 1310 */ 
/* 1311 */ .st-or{
/* 1312 */     font-size: 30px;
/* 1313 */     font-weight: bold;
/* 1314 */ }
/* 1315 */ 
/* 1316 */ .list_tours .row >.col-md-4:nth-child(3n+1){
/* 1317 */     clear: both;
/* 1318 */ }
/* 1319 */ .list_tours .row >.col-md-3:nth-child(4n+1){
/* 1320 */     clear: both;
/* 1321 */ }
/* 1322 */ .row.row-wrap >.hentry{
/* 1323 */     margin-bottom: 30px;
/* 1324 */ }
/* 1325 */ .booking-item-old-price {
/* 1326 */     text-decoration: line-through
/* 1327 */ }
/* 1328 */ .f-20{
/* 1329 */     font-size: 20px;
/* 1330 */ }
/* 1331 */ 
/* 1332 */ /* Tours */
/* 1333 */ .list_tour .icon-like{
/* 1334 */     padding-right: 5px;
/* 1335 */ }
/* 1336 */ .box_sale{
/* 1337 */     color: #fff;
/* 1338 */     font-size: 14px;
/* 1339 */     font-weight: 700;
/* 1340 */     border-radius: 100%;
/* 1341 */     position: absolute;
/* 1342 */     top: -10px;
/* 1343 */     right: 5px;
/* 1344 */     z-index: 2;
/* 1345 */     line-height:50px;
/* 1346 */     width: 50px;
/* 1347 */     height: 50px;
/* 1348 */     text-align: center;
/* 1349 */     box-shadow: 0 1px 0 rgba(255, 255, 255, 0.3) inset, 0 -1px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.2);
/* 1350 */ }

/* custom.css */

/* 1351 */ .onsale{
/* 1352 */     color: #9a9a9a !important;
/* 1353 */     text-decoration: line-through;
/* 1354 */ }
/* 1355 */ .sale_block{
/* 1356 */     display: block;
/* 1357 */ }
/* 1358 */ 
/* 1359 */ 
/* 1360 */ .package-info-wrapper{ background-color: #f7f7f7; }
/* 1361 */ .package-info-wrapper{ border-color: #ebebeb; }
/* 1362 */ .package-info-wrapper{ color: #939393; }
/* 1363 */ .package-info-wrapper{ border-width: 1px; border-style: solid;
/* 1364 */     padding: 12px 20px; margin-bottom: 30px; font-size: 14px; position: relative; }
/* 1365 */ .package-info-wrapper i{ margin-right: 3px; }
/* 1366 */ .package-info-wrapper .head{ font-weight: bold; }
/* 1367 */ .package-info-wrapper .package-info{ padding: 3px 0px; }
/* 1368 */ .package-info-wrapper .package-book-now-button {
/* 1369 */     margin-top: 0px;
/* 1370 */ }
/* 1371 */ .no-border-top{
/* 1372 */     border-top: none ;
/* 1373 */ }
/* 1374 */ .pl-5{
/* 1375 */     padding-left: 5px;
/* 1376 */ }
/* 1377 */ .sale_small{
/* 1378 */     font-size: 14px;
/* 1379 */     font-weight: 700;
/* 1380 */     height: 49px;
/* 1381 */     line-height: 50px;
/* 1382 */     position: absolute;
/* 1383 */     right: -15px;
/* 1384 */     text-align: center;
/* 1385 */     top: -25px;
/* 1386 */     width: 50px;
/* 1387 */     z-index: 2;
/* 1388 */ }
/* 1389 */ .single_cars{
/* 1390 */     left: 0;
/* 1391 */     top: 0;
/* 1392 */ }
/* 1393 */ .sale_check_out {
/* 1394 */     right: -1px;
/* 1395 */     top: 34px;
/* 1396 */ }
/* 1397 */ .menu .current-menu-ancestor >.slimmenu-sub-collapser i
/* 1398 */ {
/* 1399 */     color:white;
/* 1400 */ }

/* custom.css */

/* 1401 */ 
/* 1402 */ .row >.hentry.col-md-3:nth-child(4n+1){
/* 1403 */     clear: both;
/* 1404 */ }.row >.hentry.col-md-4:nth-child(3n+1){
/* 1405 */     clear: both;
/* 1406 */ }
/* 1407 */  .book_form{
/* 1408 */      margin-bottom: 5px;
/* 1409 */  }
/* 1410 */ .info-activity .info{
/* 1411 */     margin-bottom: 5px;
/* 1412 */ }
/* 1413 */ .info-activity{
/* 1414 */     margin-bottom: 10px;
/* 1415 */ }
/* 1416 */ .info-activity .head{ font-weight: bold; }
/* 1417 */ .activity.tooltip_2 {
/* 1418 */     opacity: 1;
/* 1419 */     white-space:normal;
/* 1420 */ }
/* 1421 */ .activity.tooltip_2 .title{
/* 1422 */     font-size: 15px;
/* 1423 */     padding: 15px;
/* 1424 */     border-radius:7px;
/* 1425 */ }
/* 1426 */ .h_35{
/* 1427 */     height: 35px !important;
/* 1428 */ }
/* 1429 */ .status_warning{
/* 1430 */     background: none repeat scroll 0 0 #ed8323 !important;;
/* 1431 */     color: #fff !important;
/* 1432 */     top: 60px;
/* 1433 */ }
/* 1434 */ .status_ok{
/* 1435 */     background: none repeat scroll 0 0 #00a900 !important;;
/* 1436 */     color: #fff !important;;
/* 1437 */     top: 60px;
/* 1438 */ }
/* 1439 */ .promotion{
/* 1440 */     width: 100%;
/* 1441 */     height: 100%;
/* 1442 */     position: relative;
/* 1443 */     border-radius: 10px;
/* 1444 */ }
/* 1445 */ .promotion .content{
/* 1446 */     z-index: 10;
/* 1447 */     color: #ffffff;
/* 1448 */     padding: 20px;
/* 1449 */     text-align: center;
/* 1450 */ }

/* custom.css */

/* 1451 */ .promotion .promotion_discount{
/* 1452 */     font-size: 30px ;
/* 1453 */     font-weight: bold;
/* 1454 */     padding-top: 15px;
/* 1455 */ }
/* 1456 */ .promotion .promotion_discount i{
/* 1457 */     font-size: 35px ;
/* 1458 */ }
/* 1459 */ .promotion .promotion_title{
/* 1460 */     font-size: 23px ;
/* 1461 */     font-weight: bold;
/* 1462 */     padding-top: 20px;
/* 1463 */     padding-bottom: 5px;
/* 1464 */ }
/* 1465 */ .promotion .promotion_sub{
/* 1466 */     font-size: 15px ;
/* 1467 */     padding-bottom: 15px;
/* 1468 */ }
/* 1469 */ .promotion_bg{
/* 1470 */     background: #000;
/* 1471 */     opacity: 0.5;
/* 1472 */     width: 100%;
/* 1473 */     height: 100%;
/* 1474 */     position: absolute;
/* 1475 */     z-index: -1;
/* 1476 */     border-radius: 10px;
/* 1477 */ }
/* 1478 */ .promotion_image{
/* 1479 */     background-size: cover;
/* 1480 */     width: 100%;
/* 1481 */     height: 100%;
/* 1482 */     position: absolute;
/* 1483 */     z-index: -1;
/* 1484 */     border-radius: 10px;
/* 1485 */    /* transition: background-size 2s; */
/* 1486 */ }
/* 1487 */ 
/* 1488 */ .promotion.hover-img img {
/* 1489 */     -webkit-transition: 4s;
/* 1490 */     -moz-transition: 4s;
/* 1491 */     -o-transition: 4s;
/* 1492 */     -ms-transition: 4s;
/* 1493 */     transition: 4s;
/* 1494 */     -webkit-backface-visibility: hidden;
/* 1495 */     -moz-backface-visibility: hidden;
/* 1496 */     -ms-backface-visibility: hidden;
/* 1497 */     backface-visibility: hidden;
/* 1498 */     border-radius: 10px;
/* 1499 */ }
/* 1500 */ .promotion.hover-img:hover img {

/* custom.css */

/* 1501 */     opacity: 0.7;
/* 1502 */     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
/* 1503 */     filter: alpha(opacity=70);
/* 1504 */     -webkit-transform: scale(1.2);
/* 1505 */     -moz-transform: scale(1.2);
/* 1506 */     -o-transform: scale(1.2);
/* 1507 */     -ms-transform: scale(1.2);
/* 1508 */     transform: scale(1.2);
/* 1509 */ }
/* 1510 */ /*.promotion:hover .promotion_image{
/* 1511 *|     background-size: 150% 150%;
/* 1512 *| }*/
/* 1513 */ .testimonial-inner .block{
/* 1514 */     display: inline-block;
/* 1515 */ }
/* 1516 */ .testimonial.style2 blockquote p{
/* 1517 */     font-size: 15px;
/* 1518 */ }
/* 1519 */ .testimonial.style2 blockquote {
/* 1520 */     line-height: 20px;
/* 1521 */ }
/* 1522 */ .testimonial.style2 .col-md-3{
/* 1523 */     padding-right: 0;
/* 1524 */ }
/* 1525 */ .st_twitter a{
/* 1526 */ 
/* 1527 */ }
/* 1528 */ .st_twitter{
/* 1529 */     color: #fff;
/* 1530 */     padding-right: 100px;
/* 1531 */     min-height: 130px;
/* 1532 */ }
/* 1533 */ .st_twitter.owl-controls .owl-buttons div{
/* 1534 */     padding-top: 60%;
/* 1535 */ }
/* 1536 */ .st_twitter .owl-controls .owl-buttons div.owl-prev {
/* 1537 */     right: -25px;
/* 1538 */     left:inherit;
/* 1539 */ }
/* 1540 */ .st_twitter .owl-controls .owl-buttons div.owl-next {
/* 1541 */      right: -65px;
/* 1542 */  }
/* 1543 */ 
/* 1544 */ .st_twitter .owl-controls .owl-buttons div{
/* 1545 */     top: 70%;
/* 1546 */     background:#fff;
/* 1547 */     color: #000;
/* 1548 */     box-shadow:0 0 0 0px #fff;
/* 1549 */ }
/* 1550 */ .st_twitter .owl-controls .owl-buttons div:hover{

/* custom.css */

/* 1551 */ 
/* 1552 */     box-shadow:0 0 0 1px #000;
/* 1553 */ 
/* 1554 */ }
/* 1555 */ .st_twitter .txt{
/* 1556 */     width: 80%;
/* 1557 */ }
/* 1558 */ .st_twitter i{
/* 1559 */     font-size: 50px;
/* 1560 */ }
/* 1561 */ .st_twitter .icon{
/* 1562 */     padding-right: 30px;
/* 1563 */ }
/* 1564 */ .st_twitter .item{
/* 1565 */     padding-top: 50px;
/* 1566 */     padding-bottom: 60px;
/* 1567 */ }
/* 1568 */ .flickr_items li{
/* 1569 */     float: left;
/* 1570 */     margin: 5px;
/* 1571 */ }
/* 1572 */ 
/* 1573 */ .form_input.error{
/* 1574 */     border:1px solid red;
/* 1575 */ }
/* 1576 */ .nav-drop.active-drop > .nav-drop-menu{
/* 1577 */     z-index: 1000;
/* 1578 */ }
/* 1579 */ .nav-drop > .nav-drop-menu.user_nav_big{
/* 1580 */     left: auto;
/* 1581 */     right: 0px;
/* 1582 */     width: 130px;
/* 1583 */ }
/* 1584 */ 
/* 1585 */ .owl-cap-weather .wi {
/* 1586 */     font-size: 60px;
/* 1587 */ }
/* 1588 */ i.im{
/* 1589 */     font-style: normal;
/* 1590 */ }
/* 1591 */ .ov-h {
/* 1592 */     overflow: hidden;
/* 1593 */ }
/* 1594 */ .nav-drop > .nav-drop-menu.user_nav_big > li:first-child > a:before
/* 1595 */ {
/* 1596 */     left: auto;
/* 1597 */     right: 10px;
/* 1598 */ }
/* 1599 */ 
/* 1600 */ .icon_loading{

/* custom.css */

/* 1601 */ 
/* 1602 */     font-size: 16px;
/* 1603 */     margin-left: 10px;
/* 1604 */     display: inline-block;
/* 1605 */     margin-top: 4px;
/* 1606 */ }
/* 1607 */ .datepicker table tr td.range, .datepicker table tr td.range:hover, .datepicker table tr td.range.disabled, .datepicker table tr td.range.disabled:hover{
/* 1608 */ 
/* 1609 */     background: #E0A167;
/* 1610 */ }
/* 1611 */ .booking-item-deails-date-location{
/* 1612 */     margin-bottom: 10px !important;
/* 1613 */ }
/* 1614 */ .booking-filters{
/* 1615 */     width: auto;
/* 1616 */ }
/* 1617 */ .st_fix_2_col:nth-child(2n+1){
/* 1618 */     clear: both;
/* 1619 */ }
/* 1620 */ .st_fix_3_col:nth-child(3n+1){
/* 1621 */     clear: both;
/* 1622 */ }
/* 1623 */ .st_fix_4_col:nth-child(4n+1){
/* 1624 */     clear: both;
/* 1625 */ }
/* 1626 */ #sub_partner li {
/* 1627 */     padding-left: 40px;
/* 1628 */ }
/* 1629 */ .top-user-area-avatar img{
/* 1630 */     border-radius: 50%;
/* 1631 */ }
/* 1632 */ .custom_btn_m_r_10 a{
/* 1633 */     margin-right: 10px;
/* 1634 */ }
/* 1635 */ .tour_share .share span{
/* 1636 */     font-weight: bold;
/* 1637 */ }
/* 1638 */ .table_checkout{
/* 1639 */     display: inline-block;
/* 1640 */     width: 50%;
/* 1641 */ }
/* 1642 */ .table_checkout td{
/* 1643 */     border: none;
/* 1644 */     padding: 2px 0 0;
/* 1645 */     border-bottom: 1px dashed #d9d9d9;
/* 1646 */     font-size: 15px;
/* 1647 */     overflow: hidden;
/* 1648 */ 
/* 1649 */ }
/* 1650 */ .table_checkout .title{

/* custom.css */

/* 1651 */     width: 100%;
/* 1652 */ }
/* 1653 */ .booking-item-payment .booking-item-payment-total {
/* 1654 */     padding: 8px 10px;
/* 1655 */ }
/* 1656 */ .booking-item {
/* 1657 */     cursor: default;
/* 1658 */ }
/* 1659 */ .sort_top{
/* 1660 */     background: #4d4d4d;
/* 1661 */     margin-bottom: 30px;
/* 1662 */ }
/* 1663 */ .sort_top .nav a{
/* 1664 */     border-radius: 0px;
/* 1665 */ }
/* 1666 */ .sort_top .nav-pills > li {
/* 1667 */     margin-left: 0px;
/* 1668 */ }
/* 1669 */ .sort_top .nav > li > a {
/* 1670 */     display: block;
/* 1671 */     font-size: 12px;
/* 1672 */     padding: 6px 8px;
/* 1673 */     position: relative;
/* 1674 */ }
/* 1675 */ .sort_icon{
/* 1676 */     display: inline-block;
/* 1677 */     padding-top: 8px;
/* 1678 */ }
/* 1679 */ .sort_icon i{
/* 1680 */     font-size: 22px;
/* 1681 */ }
/* 1682 */ .sort_icon a{
/* 1683 */     color: #fff;
/* 1684 */ }
/* 1685 */ .sort_icon.fist i{
/* 1686 */     padding-right: 5px;
/* 1687 */ }
/* 1688 */ .list_activity:nth-child(3n+1){
/* 1689 */     clear: both;
/* 1690 */ }
/* 1691 */ .info_price{
/* 1692 */     display: block;
/* 1693 */ }
/* 1694 */ .sort_top .col-md-2{
/* 1695 */     text-align: right;
/* 1696 */ 
/* 1697 */ }
/* 1698 */ .sort_icon.last{
/* 1699 */     padding-right: 10px;
/* 1700 */ }

/* custom.css */

/* 1701 */ .comment-like{
/* 1702 */     text-decoration: inherit;
/* 1703 */ }
/* 1704 */ ul.list.list-inline a i{
/* 1705 */     line-height: 1px;
/* 1706 */ }
/* 1707 */ .booking-item-details .booking-item-header-price {
/* 1708 */     font-size: 15px;
/* 1709 */ }
/* 1710 */ .mfp-wrap {
/* 1711 */     z-index: 9999;
/* 1712 */ }
/* 1713 */ .title_nearby{
/* 1714 */     font-weight: 400;
/* 1715 */ }
/* 1716 */ #comment{
/* 1717 */     margin-top: 20px;
/* 1718 */ }
/* 1719 */ .search-tabs-abs-bottom {
/* 1720 */     position: absolute;
/* 1721 */     top: 240px;
/* 1722 */ }
/* 1723 */ .sticky {
/* 1724 */     background: #eee;
/* 1725 */     padding-left: 10px;
/* 1726 */     padding-right: 10px;
/* 1727 */ }
/* 1728 */ .st_featured {
/* 1729 */     background: none repeat scroll 0 0 hsla(200, 80%, 50%, 1);
/* 1730 */     color: #fff;
/* 1731 */     font-size: 16px;
/* 1732 */     font-weight: bold;
/* 1733 */     line-height: 34px;
/* 1734 */     left: -11px;
/* 1735 */     opacity: 1;
/* 1736 */     padding: 0 0 0 13px;
/* 1737 */     position: absolute;
/* 1738 */     text-shadow: 1px 0 0 hsla(20, 50%, 30%, 0.6);
/* 1739 */     top: 5px;
/* 1740 */     z-index: 99;
/* 1741 */ }
/* 1742 */ .st_featured::before {
/* 1743 */     -moz-border-bottom-colors: none;
/* 1744 */     -moz-border-left-colors: none;
/* 1745 */     -moz-border-right-colors: none;
/* 1746 */     -moz-border-top-colors: none;
/* 1747 */     border-color: hsla(200, 70%, 42%, 0.8) hsla(200, 70%, 42%, 0.8) transparent transparent;
/* 1748 */     border-image: none;
/* 1749 */     border-style: solid;
/* 1750 */     border-width: 5px;

/* custom.css */

/* 1751 */     content: "";
/* 1752 */     height: 0;
/* 1753 */     left: 0;
/* 1754 */     position: absolute;
/* 1755 */     top: 100%;
/* 1756 */     width: 0;
/* 1757 */ }
/* 1758 */ .st_featured::after {
/* 1759 */     -moz-border-bottom-colors: none;
/* 1760 */     -moz-border-left-colors: none;
/* 1761 */     -moz-border-right-colors: none;
/* 1762 */     -moz-border-top-colors: none;
/* 1763 */     border-color: hsla(200, 80%, 50%, 1) transparent hsla(200, 80%, 50%, 1) hsla(200, 80%, 50%, 1);
/* 1764 */     border-image: none;
/* 1765 */     border-style: solid;
/* 1766 */     border-width: 17px;
/* 1767 */     content: "";
/* 1768 */     height: 0;
/* 1769 */     left: 100%;
/* 1770 */     position: absolute;
/* 1771 */     top: 0;
/* 1772 */     width: 0;
/* 1773 */ }
/* 1774 */ .style_box .st_featured{
/* 1775 */     left: 5px;
/* 1776 */     top: 10px;
/* 1777 */ }
/* 1778 */ .featured_single{
/* 1779 */     padding-right: 70px;
/* 1780 */ }
/* 1781 */ .featured_single .st_featured{
/* 1782 */     left: auto;
/* 1783 */     right: 10px;
/* 1784 */ }
/* 1785 */ .featured_single .st_featured::before {
/* 1786 */ 
/* 1787 */     -moz-border-bottom-colors: none;
/* 1788 */     -moz-border-left-colors: none;
/* 1789 */     -moz-border-right-colors: none;
/* 1790 */     -moz-border-top-colors: none;
/* 1791 */     border-image: none;
/* 1792 */     border-style: solid;
/* 1793 */     border-width: 17px;
/* 1794 */     content: "";
/* 1795 */     height: 0;
/* 1796 */     position: absolute;
/* 1797 */     right: 100%;
/* 1798 */     top: 0px;
/* 1799 */     left: -34px;
/* 1800 */     width: 0;

/* custom.css */

/* 1801 */     border-color: transparent #19a1e5 transparent transparent;
/* 1802 */ }
/* 1803 */ .featured_single_tour .st_featured{
/* 1804 */     right: 45px;
/* 1805 */ }
/* 1806 */ .item-nearby .st_featured {
/* 1807 */     bottom: 5px;
/* 1808 */     left: auto;
/* 1809 */     right: -10px;
/* 1810 */     top: auto;
/* 1811 */ }
/* 1812 */ .title_bol{
/* 1813 */     font-weight: 500;
/* 1814 */ }
/* 1815 */ .st_google_map_user img{
/* 1816 */     max-width:none;
/* 1817 */ }
/* 1818 */ .st_google_map_user{
/* 1819 */     height: 500px;;
/* 1820 */ }
/* 1821 */ .div_book{
/* 1822 */     clear: both;
/* 1823 */ }
/* 1824 */ .div_book_tour input{
/* 1825 */     width: 100%;
/* 1826 */     height: 30px;
/* 1827 */ }
/* 1828 */ .div_book_tour{
/* 1829 */     width: 50%;
/* 1830 */     float: left;
/* 1831 */ }
/* 1832 */ .div_btn_book_tour{
/* 1833 */     width: 50%;
/* 1834 */     float: right;
/* 1835 */     padding-top: 20px;
/* 1836 */     padding-left: 15px;
/* 1837 */ }
/* 1838 */ @media(max-width: 1024px){
/* 1839 */     .bg-parallax{
/* 1840 */         background-attachment: initial;
/* 1841 */         background-position: 50% 0 !important;
/* 1842 */     }
/* 1843 */     .owl-cap-title {
/* 1844 */         font-size: 80px;
/* 1845 */     }
/* 1846 */     .booking-item-rating{
/* 1847 */         padding-top: 10px;
/* 1848 */     }
/* 1849 */     .booking-list .btn_book{
/* 1850 */         float: right;

/* custom.css */

/* 1851 */         margin-top: 10px;
/* 1852 */     }
/* 1853 */     .box_sale{
/* 1854 */         height: 50px;
/* 1855 */         line-height: 50px;
/* 1856 */         width: 50px;
/* 1857 */     }
/* 1858 */     .hover-title-center{
/* 1859 */         font-size: 15px;
/* 1860 */     }
/* 1861 */     .booking-item-img-wrap .booking-item-img-num{
/* 1862 */         left: 0px;
/* 1863 */         right: auto;
/* 1864 */     }
/* 1865 */     .booking-item-price-from {
/* 1866 */         display: block;
/* 1867 */         font-size: 16px;
/* 1868 */         line-height: 1em;
/* 1869 */         padding-top: 10px;
/* 1870 */     }
/* 1871 */     .booking-item-car-title{
/* 1872 */         padding-bottom: 10px;
/* 1873 */     }
/* 1874 */ 
/* 1875 */     .nav-drop > .nav-drop-menu.user_nav_big {
/* 1876 */         right: -70px;
/* 1877 */     }
/* 1878 */     .nav-drop > .nav-drop-menu > li:first-child > a:before {
/* 1879 */         left: 38px !important;
/* 1880 */     }
/* 1881 */     .booking-item-price {
/* 1882 */         font-size: 35px;
/* 1883 */     }
/* 1884 */ 
/* 1885 */ }
/* 1886 */ @media(max-width: 980px){
/* 1887 */ 
/* 1888 */ }
/* 1889 */ @media(max-width: 760px){
/* 1890 */     .sort_top {
/* 1891 */         margin-top: 15px;
/* 1892 */     }
/* 1893 */     .sort_top .col-md-2{
/* 1894 */         text-align: center;
/* 1895 */     }
/* 1896 */     .sort_icon.last{
/* 1897 */         padding-right: 0px;
/* 1898 */     }
/* 1899 */ }
/* 1900 */ @media(max-width: 680px){

/* custom.css */

/* 1901 */     .full-center {
/* 1902 */         left: 0px !important;
/* 1903 */         position: static  !important;
/* 1904 */         top: 0px !important;
/* 1905 */         padding-top: 50px;
/* 1906 */         -webkit-transform: none;
/* 1907 */         -moz-transform: none;
/* 1908 */         -ms-transform: none;
/* 1909 */         -o-transform: none;
/* 1910 */         transform: none;
/* 1911 */     }
/* 1912 */ }
/* 1913 */ 
/* 1914 */ @media( max-width: 580px){
/* 1915 */     .booking-list .btn_book {
/* 1916 */         width: 100%;
/* 1917 */     }
/* 1918 */     h1{
/* 1919 */         font-size: 25px;
/* 1920 */     }
/* 1921 */     h2{
/* 1922 */         font-size: 22px;
/* 1923 */     }
/* 1924 */     h3{
/* 1925 */         font-size: 19px;
/* 1926 */     }
/* 1927 */     h4{
/* 1928 */         font-size: 18px;
/* 1929 */     }
/* 1930 */     h5{
/* 1931 */         font-size: 15px;
/* 1932 */     }
/* 1933 */     .last-minute-title{
/* 1934 */         font-size: 20px;
/* 1935 */     }
/* 1936 */     .last-minute-date{
/* 1937 */         font-size: 16px;
/* 1938 */     }
/* 1939 */     .btn-lg{
/* 1940 */         font-size: 14px;
/* 1941 */     }
/* 1942 */     .owl-cap-title{
/* 1943 */         font-size: 30px;
/* 1944 */     }
/* 1945 */     .bg-parallax {
/* 1946 */       background-position: 0 0 !important;
/* 1947 */     }
/* 1948 */     .owl-buttons{
/* 1949 */         display: none;
/* 1950 */     }

/* custom.css */

/* 1951 */     .page-title{
/* 1952 */         font-size: 35px;
/* 1953 */         text-align: center;
/* 1954 */     }
/* 1955 */     .user-profile-sidebar{
/* 1956 */         margin-right: 0px;
/* 1957 */     }
/* 1958 */     .booking-item-details .booking-item-header-price{
/* 1959 */         padding-top: 10px;
/* 1960 */         text-align: left;
/* 1961 */     }
/* 1962 */     .irs-grid{
/* 1963 */         overflow: hidden;
/* 1964 */     }
/* 1965 */     .package-book-now-button .btn_add_wishlist{
/* 1966 */         margin-top: 5px;
/* 1967 */     }
/* 1968 */     .div_btn_book_tour {
/* 1969 */         padding-top: 20px;
/* 1970 */     }
/* 1971 */     blockquote {
/* 1972 */         font-size: 15.5px;
/* 1973 */     }
/* 1974 */     .booking-item-reviews > li .booking-item-review-content:before{
/* 1975 */         border-right: none !important;
/* 1976 */     }
/* 1977 */     .sale_small {
/* 1978 */         right: 0px;
/* 1979 */     }
/* 1980 */     .full-center {
/* 1981 */         left: 0px !important;
/* 1982 */         position: static  !important;
/* 1983 */         top: 0px !important;
/* 1984 */         padding-top: 50px;
/* 1985 */         -webkit-transform: none;
/* 1986 */         -moz-transform: none;
/* 1987 */         -ms-transform: none;
/* 1988 */         -o-transform: none;
/* 1989 */         transform: none;
/* 1990 */     }
/* 1991 */     .full-page {
/* 1992 */         min-height: 675px;
/* 1993 */     }
/* 1994 */     .full-page.full_404{
/* 1995 */         min-height: 0px !important;
/* 1996 */     }
/* 1997 */     .class404{
/* 1998 */         padding-top: 30%;
/* 1999 */     }
/* 2000 */     .class_text_404{

/* custom.css */

/* 2001 */         text-align: center;
/* 2002 */     }
/* 2003 */     .booking-item-price{
/* 2004 */         font-size: 30px;
/* 2005 */     }
/* 2006 */     .booking-item-meta{
/* 2007 */         padding-top: 10px;
/* 2008 */     }
/* 2009 */     .text-hero{
/* 2010 */         font-size: 130px;
/* 2011 */     }
/* 2012 */     .st_google_map{
/* 2013 */         height: 320px !important;
/* 2014 */     }
/* 2015 */     .bg_mobile{
/* 2016 */         background-position: inherit !important;
/* 2017 */     }
/* 2018 */     .st_twitter{
/* 2019 */         padding-right: 0px;
/* 2020 */     }
/* 2021 */     .st_twitter .txt ,.st_twitter .item{
/* 2022 */         float: left;
/* 2023 */     }
/* 2024 */     .box-icon-big {
/* 2025 */         font-size: 20px;
/* 2026 */         height: 40px;
/* 2027 */         line-height: 40px;
/* 2028 */         width: 40px;
/* 2029 */     }
/* 2030 */ 
/* 2031 */     .search-tabs-bg > .tabbable > .nav-tabs > li > a {
/* 2032 */         margin-top: 5px;
/* 2033 */         padding: 5px;
/* 2034 */     }
/* 2035 */     .search-tabs-bg > .tabbable > .nav-tabs > li.active > a {
/* 2036 */         margin-top: 5px;
/* 2037 */         padding: 5px;
/* 2038 */     }
/* 2039 */     .search-tabs-bg > .tabbable > .nav-tabs > li {
/* 2040 */         margin-right: 2px;
/* 2041 */     }
/* 2042 */     .info_price{
/* 2043 */         display: inline-block;
/* 2044 */     }
/* 2045 */     .booking-list .btn_book{
/* 2046 */         margin-top: -5px;
/* 2047 */     }
/* 2048 */ 
/* 2049 */ 
/* 2050 */ }

/* custom.css */

/* 2051 */ @media( max-width: 480px){
/* 2052 */     .st_featured {
/* 2053 */         background: none repeat scroll 0 0 hsla(200, 80%, 50%, 1);
/* 2054 */         color: #fff;
/* 2055 */         left: -11px;
/* 2056 */         opacity: 1;
/* 2057 */         padding: 0 0 0 13px;
/* 2058 */         position: absolute;
/* 2059 */         text-shadow: 1px 0 0 hsla(20, 50%, 30%, 0.6);
/* 2060 */         top: 5px;
/* 2061 */         z-index: 99;
/* 2062 */     }
/* 2063 */     .featured_single .st_featured {
/* 2064 */         left: auto;
/* 2065 */         right: 28px;
/* 2066 */     }
/* 2067 */     .st_featured::before {
/* 2068 */         -moz-border-bottom-colors: none;
/* 2069 */         -moz-border-left-colors: none;
/* 2070 */         -moz-border-right-colors: none;
/* 2071 */         -moz-border-top-colors: none;
/* 2072 */         border-color: hsla(200, 70%, 42%, 0.8) hsla(200, 70%, 42%, 0.8) transparent transparent;
/* 2073 */         border-image: none;
/* 2074 */         border-style: solid;
/* 2075 */         content: "";
/* 2076 */         height: 0;
/* 2077 */         left: 0;
/* 2078 */         position: absolute;
/* 2079 */         top: 100%;
/* 2080 */         width: 0;
/* 2081 */     }
/* 2082 */     .featured_single .st_featured::before {
/* 2083 */         -moz-border-bottom-colors: none;
/* 2084 */         -moz-border-left-colors: none;
/* 2085 */         -moz-border-right-colors: none;
/* 2086 */         -moz-border-top-colors: none;
/* 2087 */         border-image: none;
/* 2088 */         border-style: solid;
/* 2089 */         border-width: 13px;
/* 2090 */         content: "";
/* 2091 */         height: 0;
/* 2092 */         position: absolute;
/* 2093 */         right: 100%;
/* 2094 */         top: 0px;
/* 2095 */         left: -26px;
/* 2096 */         width: 0;
/* 2097 */         border-color: transparent #19a1e5 transparent transparent;
/* 2098 */     }
/* 2099 */     .st_featured::after {
/* 2100 */         -moz-border-bottom-colors: none;

/* custom.css */

/* 2101 */         -moz-border-left-colors: none;
/* 2102 */         -moz-border-right-colors: none;
/* 2103 */         -moz-border-top-colors: none;
/* 2104 */         border-color: hsla(200, 80%, 50%, 1) transparent hsla(200, 80%, 50%, 1) hsla(200, 80%, 50%, 1);
/* 2105 */         border-image: none;
/* 2106 */         border-style: solid;
/* 2107 */         border-width: 17px;
/* 2108 */         content: "";
/* 2109 */         height: 0;
/* 2110 */         left: 100%;
/* 2111 */         position: absolute;
/* 2112 */         top: 0;
/* 2113 */         width: 0;
/* 2114 */     }
/* 2115 */     .featured_single .st_featured{
/* 2116 */         display: none;
/* 2117 */     }
/* 2118 */ }
/* 2119 */ .lux{
/* 2120 */ margin-left: -30px;
/* 2121 */ margin-top: 2px;
/* 2122 */ width:649px;
/* 2123 */ 
/* 2124 */ }
/* 2125 */ .price{
/* 2126 */ width: 133px;
/* 2127 */ 
/* 2128 */ }
/* 2129 */ 
/* 2130 */ .rowconte{
/* 2131 */ background-color:#FF0000;
/* 2132 */ }
/* 2133 */ 
/* 2134 */ .vc_custom_1435846298579 {
/* 2135 */ 	margin-top:20px;
/* 2136 */     border-width: 1px !important;
/* 2137 */     border-color: #93a465 !important;
/* 2138 */     border-style: solid !important;
/* 2139 */     box-shadow: 3px 4px 2px #5e1e03!important;
/* 2140 */ 	border-radius:10px!important;
/* 2141 */ }
/* 2142 */ 
/* 2143 */ .vc_custom_1435841910582
/* 2144 */ {
/* 2145 */ 
/* 2146 */     border-width: 1px !important;
/* 2147 */     border-color: #93a465 !important;
/* 2148 */     border-style: solid !important;
/* 2149 */     box-shadow: 3px 4px 2px #5e1e03!important;
/* 2150 */ 	border-radius:10px!important;

/* custom.css */

/* 2151 */ }
/* 2152 */ 
/* 2153 */ 

/* custom2.css */

/* 1   */ .p10{
/* 2   */     padding: 10px;
/* 3   */ }
/* 4   */ .noborder{
/* 5   */     border:0px;
/* 6   */ }
/* 7   */ .noborder td,
/* 8   */ .noborder tr,
/* 9   */ .noborder th{
/* 10  */     border:0px;
/* 11  */ }
/* 12  */ .search_room_alert{
/* 13  */     margin-bottom: 10px;
/* 14  */ }
/* 15  */ .age_of_child_input{
/* 16  */     margin-right: 7px;
/* 17  */     margin-bottom: 7px;
/* 18  */ }
/* 19  */ .age_of_child_input.error{
/* 20  */     border:1px solid red;
/* 21  */ }
/* 22  */ 
/* 23  */ .room_num_text,
/* 24  */ .room_num_adult,
/* 25  */ .room_num_children{
/* 26  */     vertical-align: top;
/* 27  */ }
/* 28  */ .form-control.error
/* 29  */ {
/* 30  */     border:1px solid red;
/* 31  */ }
/* 32  */ .btn-st-big{
/* 33  */     padding: 8px 41px;
/* 34  */     text-transform: uppercase;
/* 35  */     font-size: 18px;
/* 36  */ }
/* 37  */ .loop_grid_hotel>.col-md-4:nth-child(3n+1){
/* 38  */     clear: both;
/* 39  */ }
/* 40  */ .st_notice_template >.fa{
/* 41  */     font-size: 46px;
/* 42  */     float: left;
/* 43  */     margin-right: 10px;
/* 44  */ }
/* 45  */ .display_table{
/* 46  */     display: table;
/* 47  */ }
/* 48  */ #noty_topRight_layout_container>li{
/* 49  */     height: auto;!important;
/* 50  */ }

/* custom2.css */

/* 51  */ .share ul{
/* 52  */     list-style: none;
/* 53  */     padding: 0px;
/* 54  */     display: inline-block;
/* 55  */     margin-left: 5px;
/* 56  */ 
/* 57  */ }
/* 58  */ .share >span{
/* 59  */     padding-right: 8px;
/* 60  */     border-right: 1px solid #F0F0F0;
/* 61  */ }
/* 62  */ .share ul li{
/* 63  */     display: inline-block;
/* 64  */     padding: 0px 3px;
/* 65  */ }
/* 66  */ .share ul li a{
/* 67  */     color: #737373;;
/* 68  */ }
/* 69  */ .share >span .fa{
/* 70  */     font-size: 13px;
/* 71  */     margin-left: 4px;
/* 72  */ }
/* 73  */ .tb_cart_customer{
/* 74  */ 
/* 75  */ }
/* 76  */ .tb_cart_customer td, .tb_cart_customer th
/* 77  */ {
/* 78  */     border:0px;
/* 79  */ }
/* 80  */ .tb_list_cart{
/* 81  */     margin-bottom: 30px;
/* 82  */ }
/* 83  */ .tb_list_cart thead td{
/* 84  */     border-left: 1px solid #bcbcbc;
/* 85  */     border-top: 1px solid #bcbcbc;
/* 86  */     border-bottom: 1px solid #bcbcbc;
/* 87  */     padding: 6px;
/* 88  */     background: #e4e4e4;
/* 89  */     border-right: 0px;
/* 90  */ }
/* 91  */ .tb_list_cart thead td:last-child{
/* 92  */     border-right: 1px solid #bcbcbc;
/* 93  */ }
/* 94  */ .mg20{
/* 95  */     margin: 20px;
/* 96  */ }
/* 97  */ .main-header-search{
/* 98  */     display: inline-block;
/* 99  */     float: right;
/* 100 */     margin-right: 40px;

/* custom2.css */

/* 101 */     width: 260px;
/* 102 */ }
/* 103 */ .top-user-area .top-user-area-list{
/* 104 */     position: static;
/* 105 */     float: right;
/* 106 */     display: inline-block;
/* 107 */ }
/* 108 */ 
/* 109 */ 
/* 110 */ .color-inherit{
/* 111 */     color: inherit;
/* 112 */ }
/* 113 */ .color-inherit:hover{
/* 114 */     color: inherit;
/* 115 */ }
/* 116 */ .tb_cart_total td, .tb_cart_total th{
/* 117 */     border:0px;
/* 118 */ }
/* 119 */ 
/* 120 */ .st_fix_clear .col-md-4:nth-child(3n+1){
/* 121 */     clear: both;
/* 122 */ }
/* 123 */ 
/* 124 */ .loop-room .hotel_room .hover-img{
/* 125 */     margin-bottom: 10px;
/* 126 */ }
/* 127 */ .noty_text{
/* 128 */     overflow: hidden;
/* 129 */     display: block;
/* 130 */ }
/* 131 */ .st_notice_template{
/* 132 */     overflow: hidden;
/* 133 */ }
/* 134 */ .list-card-accepted{
/* 135 */     list-style: none;
/* 136 */     padding: 0px;
/* 137 */ }
/* 138 */ .list-card-accepted >li{
/* 139 */     display: inline-block;
/* 140 */     margin-right: 10px;
/* 141 */ }
/* 142 */ .list-card-accepted >li:last-child{
/* 143 */     margin-right: 0px;
/* 144 */ }
/* 145 */ 
/* 146 */ .post-header{
/* 147 */     text-align: center;
/* 148 */ }
/* 149 */ #mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after
/* 150 */ {

/* custom2.css */

/* 151 */     font-family: FontAwesome;
/* 152 */     content: "\f107";
/* 153 */     right: 11px;
/* 154 */     font-size: 18px;
/* 155 */ }
/* 156 */ #mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link > .link_content > .link_text{
/* 157 */     text-transform: uppercase;
/* 158 */ }
/* 159 */ #mega_main_menu.primary > .menu_holder > .menu_inner  li > .item_link
/* 160 */ {
/* 161 */     padding: 12px 34px 12px 20px;
/* 162 */     text-transform: uppercase;
/* 163 */ }
/* 164 */ #mega_main_menu li.default_dropdown > .mega_dropdown > li > .item_link{
/* 165 */     border:0px;
/* 166 */ }
/* 167 */ #mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link
/* 168 */ {
/* 169 */ 
/* 170 */     padding: 0px 34px 0px 20px;
/* 171 */ }
/* 172 */ 
/* 173 */ #mega_main_menu.primary > .menu_holder > .menu_inner li>a{
/* 174 */     transition: background-color 0.17s ease-out;
/* 175 */ }
/* 176 */ #mega_main_menu li.multicolumn_dropdown > .mega_dropdown{
/* 177 */     /*display: block;*/
/* 178 */     /*visibility: hidden;*/
/* 179 */     /*opacity: 0;*/
/* 180 */     /*transition: all 0.3s;*/
/* 181 */ 
/* 182 */ }
/* 183 */ #mega_main_menu li.multicolumn_dropdown:hover > .mega_dropdown
/* 184 */ {
/* 185 */     /*visibility: visible;*/
/* 186 */     /*opacity: 1;*/
/* 187 */ }
/* 188 */ #mega_main_menu.primary li.multicolumn_dropdown > .mega_dropdown > li > span.item_link:hover
/* 189 */ {
/* 190 */     background: transparent;
/* 191 */ }
/* 192 */ 
/* 193 */ #mega_main_menu.primary li.multicolumn_dropdown > .mega_dropdown > li > span.item_link .link_text
/* 194 */ {
/* 195 */     font-weight: bold;
/* 196 */ }
/* 197 */ #mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown > li > a.item_link .link_text:before {
/* 198 */     content: "\f105";
/* 199 */     font-family: "FontAwesome";
/* 200 */     font-size: 13px;

/* custom2.css */

/* 201 */     padding-right: 5px;
/* 202 */     top: 2px;
/* 203 */ }
/* 204 */ .booking-item-coupon{
/* 205 */     border-bottom: 1px solid #d9d9d9;
/* 206 */ }
/* 207 */ .table_checkout{
/* 208 */     display: table;
/* 209 */     width: 100%;
/* 210 */ }
/* 211 */ .table_checkout .title{
/* 212 */     width: auto;
/* 213 */ }
/* 214 */ .dotted_bottom{
/* 215 */     border-bottom: 1px dotted #999999;
/* 216 */ }
/* 217 */ 
/* 218 */ span.require{
/* 219 */     color:red;
/* 220 */ }
/* 221 */ .booking-item-details .booking-item-header-price .text-lg
/* 222 */ {
/* 223 */ 
/* 224 */ }
/* 225 */ .full-page-absolute{
/* 226 */     display: none;
/* 227 */ }
/* 228 */ body.search_enable_preload .full-page-absolute{
/* 229 */     display: block;
/* 230 */     position: fixed;
/* 231 */     top: 0px;
/* 232 */     left: 0px;
/* 233 */     right:0px;
/* 234 */     bottom: 0px;
/* 235 */     z-index: 10000;
/* 236 */ }
/* 237 */ 
/* 238 */ .full-page-absolute .bg-img{
/* 239 */     background: white;
/* 240 */ }
/* 241 */ .nav-drop.booking-sort
/* 242 */ {
/* 243 */     display: none;
/* 244 */ }
/* 245 */ 
/* 246 */ footer#main-footer{
/* 247 */     margin-top: 20px;
/* 248 */ }
/* 249 */ .full-page-absolute .bg-img{
/* 250 */     background-size: cover;

/* custom2.css */

/* 251 */ }
/* 252 */ 
/* 253 */ .search-line-item{
/* 254 */     line-height: 20px;
/* 255 */ }
/* 256 */ .main-header-search .tt-dropdown-menu{
/* 257 */     z-index: 1000!important;
/* 258 */ }
/* 259 */ .twitter-typeahead.loading:before{
/* 260 */     content: "\f110";
/* 261 */     display: inline-block;
/* 262 */     font-family: FontAwesome;
/* 263 */     text-rendering: auto;
/* 264 */     -webkit-font-smoothing: antialiased;
/* 265 */     -moz-osx-font-smoothing: grayscale;
/* 266 */     transform: translate(0, 0);
/* 267 */     position: absolute;
/* 268 */     right: 10px;
/* 269 */     top: 6px;
/* 270 */     color: white;
/* 271 */     z-index: 10;
/* 272 */     font-size: 21px;
/* 273 */     -webkit-animation: fa-spin 1s infinite steps(8);
/* 274 */     animation: fa-spin 1s infinite steps(8);
/* 275 */ }
/* 276 */ .widget_st_list_entries.sidebar-widget li:before,
/* 277 */ .widget_recent-comments.sidebar-widget li:before{
/* 278 */     content: "";
/* 279 */     display: none;
/* 280 */ }
/* 281 */ .widget_st_list_entries.sidebar-widget li,
/* 282 */ .widget_recent-comments.sidebar-widget li{
/* 283 */     padding: 0px;
/* 284 */ }
/* 285 */ 
/* 286 */ .twitter .tweet-list li:before{
/* 287 */ 
/* 288 */     top: 4px;
/* 289 */ }
/* 290 */ ul.slimmenu li.slimmenu-sub-menu a
/* 291 */ {
/* 292 */     padding-right: 20px;
/* 293 */ }
/* 294 */ ul.slimmenu li.slimmenu-sub-menu> a
/* 295 */ {
/* 296 */     padding-right: 34px;
/* 297 */ }
/* 298 */ ul.slimmenu li > ul{
/* 299 */     min-width: 240px;
/* 300 */ }

/* custom2.css */

/* 301 */ .sticky-wrapper.is-sticky .main_menu_wrap{
/* 302 */     right: 0px;
/* 303 */     left: 0px;
/* 304 */     z-index: 100;
/* 305 */     background: white;
/* 306 */     border-bottom: 2px solid #ed8323;
/* 307 */ }
/* 308 */ .admin-bar .sticky-wrapper.is-sticky .main_menu_wrap{
/* 309 */     top: 32px!important;
/* 310 */ }
/* 311 */ 
/* 312 */ /*----------------Begin gotop --------------*/
/* 313 */ #gotop{
/* 314 */     display: none;
/* 315 */     position: fixed;
/* 316 */     bottom: 20px;
/* 317 */     right: 20px;
/* 318 */     padding: 10px 14px;
/* 319 */     border-radius: 2px;
/* 320 */     color: white;
/* 321 */     z-index: 999;
/* 322 */     cursor: pointer;
/* 323 */     background: #333;
/* 324 */ }
/* 325 */ #gotop a{
/* 326 */     color: white;
/* 327 */ }
/* 328 */ #gotop:hover{
/* 329 */     background: #fac11c;;
/* 330 */ }
/* 331 */ /*----------------End gotop-----------------*/
/* 332 */ @media (max-width: 991px)
/* 333 */ {
/* 334 */     .top-user-area .top-user-area-list
/* 335 */     {
/* 336 */         float: none;
/* 337 */         display: block;
/* 338 */         margin-bottom: 22px;
/* 339 */         text-align: center;
/* 340 */     }
/* 341 */     .main-header-search{
/* 342 */         float: none;
/* 343 */         display: block;
/* 344 */         width: auto;
/* 345 */         margin-right: 0px;
/* 346 */         margin-top: 0px;
/* 347 */     }
/* 348 */ 
/* 349 */     .logo{
/* 350 */         text-align: center;

/* custom2.css */

/* 351 */     }
/* 352 */     .top-user-area-list >li{
/* 353 */         float: none;
/* 354 */         display: inline-block;
/* 355 */     }
/* 356 */     .row[data-gutter="60"]
/* 357 */     {
/* 358 */         margin-left: -15px;
/* 359 */         margin-right: -15px;
/* 360 */     }
/* 361 */     body.enable_nice_scroll{
/* 362 */         overflow: inherit;
/* 363 */     }
/* 364 */ 
/* 365 */ }
/* 366 */ #mega_main_menu.primary li.multicolumn_dropdown > .mega_dropdown > li.current-menu-item > span.item_link
/* 367 */ {
/* 368 */     background: transparent;
/* 369 */ }
/* 370 */ 
/* 371 */ 
/* 372 */ @media(min-width: 992px){
/* 373 */     .item-nearby .col-xs-5{
/* 374 */         padding: 0px;
/* 375 */     }
/* 376 */     .item-nearby .col-xs-3{
/* 377 */         padding-left: 0px;
/* 378 */     }
/* 379 */ 
/* 380 */     .booking-item .col-md-3:last-child{
/* 381 */         padding-left: 0px;
/* 382 */     }
/* 383 */     .booking-item .booking-item-price{
/* 384 */         font-size: 42px;
/* 385 */     }
/* 386 */ }
/* 387 */ @media (max-width: 768px) {
/* 388 */     .sticky-wrapper.is-sticky .main_menu_wrap{
/* 389 */         position: static!important;;
/* 390 */     }
/* 391 */ }

/* form-basic.min.css */

/* 1 */ .mc4wp-form input[name^="_mc4wp_honey"]{display:none!important}.mc4wp-form-basic,.mc4wp-form-theme{margin:1em 0}.mc4wp-form-basic,.mc4wp-form-basic input,.mc4wp-form-basic label,.mc4wp-form-theme,.mc4wp-form-theme input,.mc4wp-form-theme label{width:auto;display:block;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;cursor:auto;height:auto;vertical-align:baseline;line-height:normal}.mc4wp-form-basic:after,.mc4wp-form-theme:after{content:"";display:table;clear:both}.mc4wp-form-basic label,.mc4wp-form-theme label{font-weight:700;margin-bottom:6px;display:block}.mc4wp-form-basic input.placeholdersjs,.mc4wp-form-theme input.placeholdersjs{color:#aaa!important}.mc4wp-form-basic input[type=text],.mc4wp-form-basic input[type=email],.mc4wp-form-basic input[type=tel],.mc4wp-form-basic input[type=url],.mc4wp-form-basic input[type=date],.mc4wp-form-basic select,.mc4wp-form-basic textarea,.mc4wp-form-theme input[type=text],.mc4wp-form-theme input[type=email],.mc4wp-form-theme input[type=tel],.mc4wp-form-theme input[type=url],.mc4wp-form-theme input[type=date],.mc4wp-form-theme select,.mc4wp-form-theme textarea{min-height:32px;width:100%;max-width:480px}.mc4wp-form-basic input[type=number],.mc4wp-form-theme input[type=number]{min-width:40px}.mc4wp-form-basic input[type=checkbox],.mc4wp-form-basic input[type=radio],.mc4wp-form-theme input[type=checkbox],.mc4wp-form-theme input[type=radio]{position:relative;margin:0 6px 0 0;padding:0;height:13px;width:13px;display:inline-block;border:0}.mc4wp-form-basic input[type=checkbox],.mc4wp-form-theme input[type=checkbox]{-webkit-appearance:checkbox;-moz-appearance:checkbox;appearance:checkbox}.mc4wp-form-basic input[type=radio],.mc4wp-form-theme input[type=radio]{-webkit-appearance:radio;-moz-appearance:radio;appearance:radio}.mc4wp-form-basic button,.mc4wp-form-basic input[type=submit],.mc4wp-form-basic input[type=button],.mc4wp-form-theme button,.mc4wp-form-theme input[type=submit],.mc4wp-form-theme input[type=button]{cursor:pointer;display:inline-block;-webkit-appearance:none;-moz-appearance:none;appearance:none}.mc4wp-form-basic label>span,.mc4wp-form-basic li>label,.mc4wp-form-theme label>span,.mc4wp-form-theme li>label{font-weight:400}.mc4wp-form-basic .mc4wp-alert,.mc4wp-form-theme .mc4wp-alert{color:#c09853;clear:both}.mc4wp-form-basic .mc4wp-success,.mc4wp-form-theme .mc4wp-success{color:#468847}.mc4wp-form-basic .mc4wp-notice,.mc4wp-form-theme .mc4wp-notice{color:#3a87ad}.mc4wp-form-basic .mc4wp-error,.mc4wp-form-theme .mc4wp-error{color:#CD5C5C}.rtl .mc4wp-form-reset input[type=checkbox],.rtl .mc4wp-form-reset input[type=radio]{margin:0 0 0 6px}

/* sphinxsearch.css */

/* 1  */ /* 
/* 2  *|     Document   : sphinxsearch
/* 3  *|     Created on : Mar 3, 2011, 9:14:06 AM
/* 4  *|     Author     : Ivinco
/* 5  *|     Description:
/* 6  *|         Custom stylesheet for the sphinx search forms.
/* 7  *| */
/* 8  */ 
/* 9  */ /* 
/* 10 *|    TODO customize this sample style
/* 11 *|    Syntax recommendation http://www.w3.org/TR/REC-CSS2/
/* 12 *| */
/* 13 */ 
/* 14 */ /*
/* 15 *| Styles for search form on the sidebar
/* 16 *| */
/* 17 */ #searchbar ul li,
/* 18 */ #searchbar ul li:hover{
/* 19 */     background-image: none;
/* 20 */ }
/* 21 */ 
/* 22 */ #searchbar #searchform {
/* 23 */     width: 100%;
/* 24 */ }
/* 25 */ #searchbar #sphinx_sinput {
/* 26 */     width: 170px;
/* 27 */ }
/* 28 */ #searchbar #submit {
/* 29 */     float: right;
/* 30 */     padding: 3px 2px 4px 4px;
/* 31 */ }
/* 32 */ 
/* 33 */ /*
/* 34 *| Styles for search form on the top of search page
/* 35 *| */
/* 36 */ 
/* 37 */ #searchpanel ul li,
/* 38 */ #searchpanel ul li:hover{
/* 39 */     background-image: none;
/* 40 */ }
/* 41 */ 
/* 42 */ ul.page-numbers li
/* 43 */ {
/* 44 */ display: inline;
/* 45 */ list-style-type: none;
/* 46 */ padding-right: 5px;
/* 47 */ }

/* thickbox.css */

/* 1   */ #TB_overlay {
/* 2   */ 	background: #000;
/* 3   */ 	opacity: 0.7;
/* 4   */ 	filter: alpha(opacity=70);
/* 5   */ 	position: fixed;
/* 6   */ 	top: 0;
/* 7   */ 	right: 0;
/* 8   */ 	bottom: 0;
/* 9   */ 	left: 0;
/* 10  */ 	z-index: 100050; /* Above DFW. */
/* 11  */ }
/* 12  */ 
/* 13  */ #TB_window {
/* 14  */ 	position: fixed;
/* 15  */ 	background-color: #fff;
/* 16  */ 	z-index: 100050; /* Above DFW. */
/* 17  */ 	visibility: hidden;
/* 18  */ 	text-align: left;
/* 19  */ 	top: 50%;
/* 20  */ 	left: 50%;
/* 21  */ 	-webkit-box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
/* 22  */ 	box-shadow: 0 3px 6px rgba( 0, 0, 0, 0.3 );
/* 23  */ }
/* 24  */ 
/* 25  */ #TB_window img#TB_Image {
/* 26  */ 	display: block;
/* 27  */ 	margin: 15px 0 0 15px;
/* 28  */ 	border-right: 1px solid #ccc;
/* 29  */ 	border-bottom: 1px solid #ccc;
/* 30  */ 	border-top: 1px solid #666;
/* 31  */ 	border-left: 1px solid #666;
/* 32  */ }
/* 33  */ 
/* 34  */ #TB_caption{
/* 35  */ 	height: 25px;
/* 36  */ 	padding: 7px 30px 10px 25px;
/* 37  */ 	float: left;
/* 38  */ }
/* 39  */ 
/* 40  */ #TB_closeWindow {
/* 41  */ 	height: 25px;
/* 42  */ 	padding: 11px 25px 10px 0;
/* 43  */ 	float: right;
/* 44  */ }
/* 45  */ 
/* 46  */ #TB_closeWindowButton {
/* 47  */ 	position: absolute;
/* 48  */ 	left: auto;
/* 49  */ 	right: 0;
/* 50  */ 	width: 29px;

/* thickbox.css */

/* 51  */ 	height: 29px;
/* 52  */ 	border: 0;
/* 53  */ 	padding: 0;
/* 54  */ 	background: none;
/* 55  */ 	cursor: pointer;
/* 56  */ 	outline: none;
/* 57  */ 	-webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
/* 58  */ 	transition: color .1s ease-in-out, background .1s ease-in-out;
/* 59  */ }
/* 60  */ 
/* 61  */ #TB_ajaxWindowTitle {
/* 62  */ 	float: left;
/* 63  */ 	font-weight: 600;
/* 64  */ 	line-height: 29px;
/* 65  */ 	overflow: hidden;
/* 66  */ 	padding: 0 29px 0 10px;
/* 67  */ 	text-overflow: ellipsis;
/* 68  */ 	white-space: nowrap;
/* 69  */ 	width: calc( 100% - 39px );
/* 70  */ }
/* 71  */ 
/* 72  */ #TB_title {
/* 73  */ 	background: #fcfcfc;
/* 74  */ 	border-bottom: 1px solid #ddd;
/* 75  */ 	height: 29px;
/* 76  */ }
/* 77  */ 
/* 78  */ #TB_ajaxContent {
/* 79  */ 	clear: both;
/* 80  */ 	padding: 2px 15px 15px 15px;
/* 81  */ 	overflow: auto;
/* 82  */ 	text-align: left;
/* 83  */ 	line-height: 1.4em;
/* 84  */ }
/* 85  */ 
/* 86  */ #TB_ajaxContent.TB_modal {
/* 87  */ 	padding: 15px;
/* 88  */ }
/* 89  */ 
/* 90  */ #TB_ajaxContent p {
/* 91  */ 	padding: 5px 0px 5px 0px;
/* 92  */ }
/* 93  */ 
/* 94  */ #TB_load {
/* 95  */ 	position: fixed;
/* 96  */ 	display: none;
/* 97  */ 	z-index: 103;
/* 98  */ 	top: 50%;
/* 99  */ 	left: 50%;
/* 100 */ 	background-color: #E8E8E8;

/* thickbox.css */

/* 101 */ 	border: 1px solid #555;
/* 102 */ 	margin: -45px 0 0 -125px;
/* 103 */ 	padding: 40px 15px 15px;
/* 104 */ }
/* 105 */ 
/* 106 */ #TB_HideSelect {
/* 107 */ 	z-index: 99;
/* 108 */ 	position: fixed;
/* 109 */ 	top: 0;
/* 110 */ 	left: 0;
/* 111 */ 	background-color: #fff;
/* 112 */ 	border: none;
/* 113 */ 	filter: alpha(opacity=0);
/* 114 */ 	opacity: 0;
/* 115 */ 	height: 100%;
/* 116 */ 	width: 100%;
/* 117 */ }
/* 118 */ 
/* 119 */ #TB_iframeContent {
/* 120 */ 	clear: both;
/* 121 */ 	border: none;
/* 122 */ }
/* 123 */ 
/* 124 */ .tb-close-icon {
/* 125 */ 	display: block;
/* 126 */ 	color: #666;
/* 127 */ 	text-align: center;
/* 128 */ 	line-height: 29px;
/* 129 */ 	width: 29px;
/* 130 */ 	height: 29px;
/* 131 */ 	position: absolute;
/* 132 */ 	top: 0;
/* 133 */ 	right: 0;
/* 134 */ }
/* 135 */ 
/* 136 */ .tb-close-icon:before {
/* 137 */ 	content: "\f158";
/* 138 */ 	font: normal 20px/29px dashicons;
/* 139 */ 	speak: none;
/* 140 */ 	-webkit-font-smoothing: antialiased;
/* 141 */ 	-moz-osx-font-smoothing: grayscale;
/* 142 */ }
/* 143 */ 
/* 144 */ #TB_closeWindowButton:hover .tb-close-icon,
/* 145 */ #TB_closeWindowButton:focus .tb-close-icon {
/* 146 */ 	color: #00a0d2;
/* 147 */ }
/* 148 */ 
