
/* gglcptch.css */

/* 1  */ #commentform .gglcptch {
/* 2  */ 	margin: 0 0 10px;
/* 3  */ }
/* 4  */ #recaptcha_response_field {
/* 5  */ 	height: 17px !important;
/* 6  */ 	max-height: 35px !important;
/* 7  */ 	font-size: 10pt !important;
/* 8  */ }
/* 9  */ .recaptcha_theme_clean #recaptcha_response_field {
/* 10 */ 	height: 25px !important;
/* 11 */ }
/* 12 */ #gglcptch_error {
/* 13 */ 	color: #F00;
/* 14 */ }
/* 15 */ .gglcptch table#recaptcha_table {
/* 16 */ 	table-layout: auto !important;
/* 17 */ }
/* 18 */ .gglcptch_v1,
/* 19 */ .gglcptch_v2 {
/* 20 */ 	min-width: 1px;
/* 21 */ }
/* 22 */ /* rtl fix recaptcha v1 */
/* 23 */ .rtl .gglcptch_v1 .recaptcha_r2_c1 {
/* 24 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') -27px 0 no-repeat !important;
/* 25 */ }
/* 26 */ .rtl .gglcptch_v1 .recaptcha_r2_c2 {
/* 27 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') -18px 0 no-repeat !important;
/* 28 */ }
/* 29 */ .rtl .gglcptch_v1 .recaptcha_r3_c1 {
/* 30 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') -9px 0 no-repeat !important;
/* 31 */ }
/* 32 */ .rtl .gglcptch_v1 .recaptcha_r3_c3 {
/* 33 */ 	background: url('https://www.google.com/recaptcha/api/img/red/sprite.png') 0 0 no-repeat !important;
/* 34 */ }

/* jvcf7_validate.css */

/* 1  */ .wp-list-table .validation_rules li{ font-size:13px; line-height:18px; padding-bottom:10px;}
/* 2  */ ul.jvcfz_list{ list-style-type:square;margin-left: 2em;}
/* 3  */ table.jvcf7_form td{ border:none !important; padding:5px;}
/* 4  */ .wpcf7-form label.error{color:#900; font-size:11px; float:none; padding-left:5px;}
/* 5  */ 
/* 6  */ /* Theme 1 */
/* 7  */ .theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error{border-bottom:2px solid #900;outline: none;}
/* 8  */ 
/* 9  */ /*DON't show error msg */
/* 10 */ .noErrorMsg.wpcf7-form label.error{ display:none !important; height:0px !important; width:0px !important; overflow:hidden !important;}
/* 11 */ 
/* 12 */ 
/* 13 */ 
/* 14 */ .jvcf7_btn {
/* 15 */   background: #3498db;
/* 16 */   background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
/* 17 */   background-image: -moz-linear-gradient(top, #3498db, #2980b9);
/* 18 */   background-image: -ms-linear-gradient(top, #3498db, #2980b9);
/* 19 */   background-image: -o-linear-gradient(top, #3498db, #2980b9);
/* 20 */   background-image: linear-gradient(to bottom, #3498db, #2980b9);
/* 21 */   -webkit-border-radius: 5;
/* 22 */   -moz-border-radius: 5;
/* 23 */   border-radius: 5px;
/* 24 */   font-family: Arial;
/* 25 */   color: #ffffff;
/* 26 */   font-size: 16px;
/* 27 */   padding: 10px 15px 10px 15px;
/* 28 */   text-decoration: none;
/* 29 */   display:inline-block;
/* 30 */   width:170px;
/* 31 */   
/* 32 */ }
/* 33 */ 
/* 34 */ .jvcf7_btn:hover {
/* 35 */   background: #3cb0fd;
/* 36 */   background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
/* 37 */   background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
/* 38 */   background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
/* 39 */   background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
/* 40 */   background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
/* 41 */   text-decoration: none;
/* 42 */   color: #ffffff;
/* 43 */ }

/* style.css */

/* 1   */ 
/* 2   */ .sp_cu_event_log{}
/* 3   */ .sp_cu_event_log .sp_cu_event_log_item{background-color:#EFEFEF;padding:10px;margin:5px;font-size:.9em;}
/* 4   */ .sp_cu_event_log  .sp_cu_event_log_item_content{padding:3px;}
/* 5   */ .sp_cu_event_log  .sp_cu_event_log_item_by{padding:3px;font-size:.9em;}
/* 6   */ #upload_form .error {
/* 7   */ 
/* 8   */   clear: both;
/* 9   */ 
/* 10  */   color: #f00;
/* 11  */ 
/* 12  */   position:absolute; background-color:#F7DFE0;width:75px;
/* 13  */ 
/* 14  */ 
/* 15  */ 
/* 16  */   font-size: 12px;
/* 17  */ 
/* 18  */ 
/* 19  */ 
/* 20  */ }
/* 21  */ 
/* 22  */ #wp-admin-bar-document-dashboard .ab-icon:before{
/* 23  */ 	font-family: "dashicons" !important;
/* 24  */ 	content: "\f498" !important;
/* 25  */ }
/* 26  */ #wp-admin-bar-document-settings .ab-icon:before{
/* 27  */ 	font-family: "dashicons" !important;
/* 28  */ 	content: "\f107" !important;
/* 29  */ }
/* 30  */ #wp-admin-bar-document-uploader .ab-icon:before{
/* 31  */ 	font-family: "dashicons" !important;
/* 32  */ 	content: "\f176" !important;
/* 33  */ }
/* 34  */ .view-file-content{font-size:12px; text-align:left}
/* 35  */ .ui-dialog{ z-index:100000000 !important}
/* 36  */ .ui-datepicker select option{color:#000 !important; background-color:#E0E0E0 !important}
/* 37  */ .ui-datepicker select{color:#000 !important; background-color:#E0E0E0 !important}
/* 38  */ 
/* 39  */ .sp_client_document_manager_wrapper img{box-shadow:none !important;border:0px;}
/* 40  */ .cdm_img_container{height:80px; vertical-align:middle central;overflow:hidden; text-align:center}
/* 41  */ .cdm_img_container img{max-width:95%;}
/* 42  */ #cdm_nav_buttons{margin-bottom:10px;}
/* 43  */ #cdm_nav_buttons img{border:none !important;box-shadow:none !important}
/* 44  */ #cdm_nav_buttons a{display:block;float:left;padding:3px;border:1px solid #CCC;margin-right:10px; text-decoration:none;text-indent:20px; text-decoration:none;border-radius:5px;padding:5px;background-color:#EFEFEF;color:#333;font-weight:bold;font-size:13px; background-position:5px; background-repeat:no-repeat}
/* 45  */ #cdm_nav_buttons a:hover{ background-color:#E4E4E4}
/* 46  */ #cdm_nav_buttons .sp_cdm_add_file{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/document-add-icon.png);}
/* 47  */ #cdm_nav_buttons .sp_cdm_add_folder{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/folder-add-icon.png);}
/* 48  */ #cdm_nav_buttons .sp_cdm_dropbox{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/dropbox.png);}
/* 49  */ #cdm_nav_buttons .sp_cdm_refresh{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/refresh-icon.png);}
/* 50  */ #cdm_nav_buttons .sp_cdm_logout{ background-image:url(/wp-content/plugins/sp-client-document-manager/images/logout.png);}

/* style.css */

/* 51  */ .sp_cdm_error{padding:10px;margin:5px;background-color:#ffd5d5;color:#000;font-weight:bold}
/* 52  */ .sp_cdm_success{padding:10px;margin:5px;background-color:#DFFCDA;color:green;font-weight:bold}
/* 53  */ 
/* 54  */ #dlg_cdm_file_list table {width:100%}
/* 55  */ 
/* 56  */ #upload_form {font-size:12px;}
/* 57  */ 
/* 58  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder{ float:left;width:135px;height:150px; text-align:center;padding-top:10px;}
/* 59  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder img{max-width:100px;}
/* 60  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder a {display:block; text-decoration:none;}
/* 61  */ 
/* 62  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_folder a:hover { background-color:#D9EFFB;border-radius:10px}
/* 63  */ 
/* 64  */ #dlg_cdm_thumbnails .dlg_cdm_thumbnail_image {padding-top:20px;}
/* 65  */ 
/* 66  */ #cdm_wrapper{border:1px solid #ccc;border-radius:5px;padding:5px;font-size:12px;margin:5px; background-color:#f4f4f4;min-height:500px;}
/* 67  */ 
/* 68  */ 
/* 69  */ 
/* 70  */ #sp_cu_viewfile{ }
/* 71  */ 
/* 72  */ td{ vertical-align:top}
/* 73  */ 
/* 74  */ .sp_su_project, .sp_su_notes,.sp_su_history{ background-color:#F0F0F0;padding:5px;margin:5px;font-size:12px;}
/* 75  */ 
/* 76  */ .sp_su_history{height:120px;overflow:auto;}
/* 77  */ 
/* 78  */ .view-file-info h2{font-size:1.1em;font-weight:bold; margin:0px !important;padding:0px !important;}
/* 79  */ 
/* 80  */ .sp_cu_filetree{border:1px solid #ccc;border-radius:5px;padding:5px;font-size:12px;margin:5px; background-color:#f4f4f4;height:440px; overflow-x: hidden;
/* 81  */ 
/* 82  */ overflow-y: scroll;}
/* 83  */ 
/* 84  */ .sp_cu_manage{ text-align:right;padding:5px;font-size:12px;}
/* 85  */ 
/* 86  */ .sp_cu_manage em{ font-size:.8em;}
/* 87  */ 
/* 88  */ .sp_cu_item{border-radius:5px;padding:5px;font-size:12px;margin:5px; }
/* 89  */ 
/* 90  */ .sp_cu_item h3{font-size:18px;font-weight:bold;margin:0px  !important;padding:0px !important;}
/* 91  */ 
/* 92  */ .sp_cu_item td,.sp_cu_item table{border:none !important;}
/* 93  */ 
/* 94  */ #upload-message {
/* 95  */ 
/* 96  */ 	background-color:#FFFFEE;
/* 97  */ 
/* 98  */ 	border:1px dashed #CC3300;
/* 99  */ 
/* 100 */ 	font-family:Tahoma, Verdana, Arial, Helvetica, sans-serif;

/* style.css */

/* 101 */ 
/* 102 */ 	font-size:14px;
/* 103 */ 
/* 104 */ 	width:400px;
/* 105 */ 
/* 106 */ 	padding:10px;
/* 107 */ 
/* 108 */ 	margin:10px 0px;
/* 109 */ 
/* 110 */ }
/* 111 */ 
/* 112 */ 
/* 113 */ 
/* 114 */ .upload-progress {
/* 115 */ 
/* 116 */ 	background-image: url('/wp-content/plugins/sp-client-document-manager/images/infobox200x40.gif');
/* 117 */ 
/* 118 */ 	width:200px;
/* 119 */ 
/* 120 */ 	height:40px;
/* 121 */ 
/* 122 */ }
/* 123 */ 
/* 124 */ 
/* 125 */ 
/* 126 */ .upload-progress div.meter {
/* 127 */ 
/* 128 */ 	width:20px;
/* 129 */ 
/* 130 */ 	height:7px;
/* 131 */ 
/* 132 */ 	font-size:1px; /* IE display hack */
/* 133 */ 
/* 134 */ 	background-color:#FFCC00;
/* 135 */ 
/* 136 */ 	margin-left:10px;
/* 137 */ 
/* 138 */ 	margin-top:1px;
/* 139 */ 
/* 140 */ 	border:1px solid black;
/* 141 */ 
/* 142 */ }
/* 143 */ 
/* 144 */ 
/* 145 */ 
/* 146 */ .upload-progress div.readout {
/* 147 */ 
/* 148 */ 	padding:5px 0px 0px 12px;
/* 149 */ 
/* 150 */ 	font-family:"Courier New", Courier, monospace;

/* style.css */

/* 151 */ 
/* 152 */ 	font-size:10px;
/* 153 */ 
/* 154 */ 	line-height:10px;
/* 155 */ 
/* 156 */ }
/* 157 */ 
/* 158 */ 
/* 159 */ 
/* 160 */ .upload-progress div.readout span {
/* 161 */ 
/* 162 */ 	font-weight:bold;
/* 163 */ 
/* 164 */ }
/* 165 */ 
/* 166 */ 
/* 167 */ 
/* 168 */ 
/* 169 */ 
/* 170 */ 
/* 171 */ 
/* 172 */ 
/* 173 */ 
/* 174 */ .sp_upload_div{border:1px solid #CCC;margin:2px;padding:2px; background-color:#FFF;}
/* 175 */ 
/* 176 */ .sp_upload_div input{padding:1px;margin:1px;font-size:.6em !important;}
/* 177 */ 
/* 178 */ .sp_upload_name{width:360px;float:left;}
/* 179 */ 
/* 180 */ 
/* 181 */ 
/* 182 */ 
/* 183 */ 
/* 184 */ 
/* 185 */ 
/* 186 */ #dlg_cdm_file_list table {margin:5px;padding:0px;border:0px;}
/* 187 */ 
/* 188 */ #dlg_cdm_file_list table tbody tr:hover{background-color: #CEE8F4; cursor:pointer}
/* 189 */ 
/* 190 */ #dlg_cdm_file_list td {margin:1px  !important; ;padding:0px  !important;border:0px ; text-align:center }
/* 191 */ 
/* 192 */ #dlg_cdm_file_list th {margin:1px  !important;;padding:0px  !important;border:0px ; text-align:center; background-color:#E8E8E8;border-bottom:2px solid #CCC; font-weight:bold;  }
/* 193 */ 
/* 194 */ #dlg_cdm_file_list td.cdm_file_icon {width:30px;border-bottom:1px dotted #CCC;background: url(/wp-content/plugins/sp-client-document-manager/images/types/file.png) left top no-repeat; }
/* 195 */ 
/* 196 */ #dlg_cdm_file_list td.cdm_file_info { border-bottom:1px dotted #CCC; text-align:left}
/* 197 */ 
/* 198 */ #dlg_cdm_file_list td.cdm_file_date { border-bottom:1px dotted #CCC;width:180px;}
/* 199 */ 
/* 200 */ #dlg_cdm_file_list td.cdm_file_type {width:120px;border-bottom:1px dotted #CCC;}

/* style.css */

/* 201 */ 
/* 202 */ 
/* 203 */ 
/* 204 */ 
/* 205 */ 
/* 206 */ 
/* 207 */ 
/* 208 */ 
/* 209 */ 
/* 210 */ /* Core Styles */
/* 211 */ 
/* 212 */ #dlg_cdm_file_list td.ext_directory { background: url(/wp-content/plugins/sp-client-document-manager/images/types/directory.png) left top no-repeat; }
/* 213 */ 
/* 214 */ #dlg_cdm_file_list td.ext_expanded { background: url(/wp-content/plugins/sp-client-document-manager/images/types/folder_open.png) left top no-repeat; }
/* 215 */ 
/* 216 */ #dlg_cdm_file_list td.ext_file { background: url(/wp-content/plugins/sp-client-document-manager/images/types/file.png) left top no-repeat; }
/* 217 */ 
/* 218 */ #dlg_cdm_file_list td.ext_wait { background: url(/wp-content/plugins/sp-client-document-manager/images/types/spinner.gif) left top no-repeat; }
/* 219 */ 
/* 220 */ /* File Extensions*/
/* 221 */ 
/* 222 */ #dlg_cdm_file_list td.ext_3gp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 223 */ 
/* 224 */ #dlg_cdm_file_list td.ext_afp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 225 */ 
/* 226 */ #dlg_cdm_file_list td.ext_afpa { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 227 */ 
/* 228 */ #dlg_cdm_file_list td.ext_asp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 229 */ 
/* 230 */ #dlg_cdm_file_list td.ext_aspx { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 231 */ 
/* 232 */ #dlg_cdm_file_list td.ext_avi { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 233 */ 
/* 234 */ #dlg_cdm_file_list td.ext_bat { background: url(/wp-content/plugins/sp-client-document-manager/images/types/application.png) left top no-repeat; }
/* 235 */ 
/* 236 */ #dlg_cdm_file_list td.ext_bmp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 237 */ 
/* 238 */ #dlg_cdm_file_list td.ext_c { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 239 */ 
/* 240 */ #dlg_cdm_file_list td.ext_cfm { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 241 */ 
/* 242 */ #dlg_cdm_file_list td.ext_cgi { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 243 */ 
/* 244 */ #dlg_cdm_file_list td.ext_com { background: url(/wp-content/plugins/sp-client-document-manager/images/types/application.png) left top no-repeat; }
/* 245 */ 
/* 246 */ #dlg_cdm_file_list td.ext_cpp { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 247 */ 
/* 248 */ #dlg_cdm_file_list td.ext_css { background: url(/wp-content/plugins/sp-client-document-manager/images/types/css.png) left top no-repeat; }
/* 249 */ 
/* 250 */ #dlg_cdm_file_list td.ext_doc { background: url(/wp-content/plugins/sp-client-document-manager/images/types/doc.png) left top no-repeat; }

/* style.css */

/* 251 */ 
/* 252 */ #dlg_cdm_file_list td.ext_exe { background: url(/wp-content/plugins/sp-client-document-manager/images/types/application.png) left top no-repeat; }
/* 253 */ 
/* 254 */ #dlg_cdm_file_list td.ext_gif { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 255 */ 
/* 256 */ #dlg_cdm_file_list td.ext_fla { background: url(/wp-content/plugins/sp-client-document-manager/images/types/flash.png) left top no-repeat; }
/* 257 */ 
/* 258 */ #dlg_cdm_file_list td.ext_h { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 259 */ 
/* 260 */ #dlg_cdm_file_list td.ext_htm { background: url(/wp-content/plugins/sp-client-document-manager/images/types/html.png) left top no-repeat; }
/* 261 */ 
/* 262 */ #dlg_cdm_file_list td.ext_html { background: url(/wp-content/plugins/sp-client-document-manager/images/types/html.png) left top no-repeat; }
/* 263 */ 
/* 264 */ #dlg_cdm_file_list td.ext_jar { background: url(/wp-content/plugins/sp-client-document-manager/images/types/java.png) left top no-repeat; }
/* 265 */ 
/* 266 */ #dlg_cdm_file_list td.ext_jpg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 267 */ 
/* 268 */ #dlg_cdm_file_list td.ext_jpeg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 269 */ 
/* 270 */ #dlg_cdm_file_list td.ext_js { background: url(/wp-content/plugins/sp-client-document-manager/images/types/script.png) left top no-repeat; }
/* 271 */ 
/* 272 */ #dlg_cdm_file_list td.ext_lasso { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 273 */ 
/* 274 */ #dlg_cdm_file_list td.ext_log { background: url(/wp-content/plugins/sp-client-document-manager/images/types/txt.png) left top no-repeat; }
/* 275 */ 
/* 276 */ #dlg_cdm_file_list td.ext_m4p { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 277 */ 
/* 278 */ #dlg_cdm_file_list td.ext_mov { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 279 */ 
/* 280 */ #dlg_cdm_file_list td.ext_mp3 { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 281 */ 
/* 282 */ #dlg_cdm_file_list td.ext_mp4 { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 283 */ 
/* 284 */ #dlg_cdm_file_list td.ext_mpg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 285 */ 
/* 286 */ #dlg_cdm_file_list td.ext_mpeg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 287 */ 
/* 288 */ #dlg_cdm_file_list td.ext_ogg { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 289 */ 
/* 290 */ #dlg_cdm_file_list td.ext_pcx { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 291 */ 
/* 292 */ #dlg_cdm_file_list td.ext_pdf { background: url(/wp-content/plugins/sp-client-document-manager/images/types/pdf.png) left top no-repeat; }
/* 293 */ 
/* 294 */ #dlg_cdm_file_list td.ext_php { background: url(/wp-content/plugins/sp-client-document-manager/images/types/php.png) left top no-repeat; }
/* 295 */ 
/* 296 */ #dlg_cdm_file_list td.ext_png { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 297 */ 
/* 298 */ #dlg_cdm_file_list td.ext_ppt { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ppt.png) left top no-repeat; }
/* 299 */ 
/* 300 */ #dlg_cdm_file_list td.ext_psd { background: url(/wp-content/plugins/sp-client-document-manager/images/types/psd.png) left top no-repeat; }

/* style.css */

/* 301 */ 
/* 302 */ #dlg_cdm_file_list td.ext_pl { background: url(/wp-content/plugins/sp-client-document-manager/images/types/script.png) left top no-repeat; }
/* 303 */ 
/* 304 */ #dlg_cdm_file_list td.ext_py { background: url(/wp-content/plugins/sp-client-document-manager/images/types/script.png) left top no-repeat; }
/* 305 */ 
/* 306 */ #dlg_cdm_file_list td.ext_rb { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 307 */ 
/* 308 */ #dlg_cdm_file_list td.ext_rbx { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 309 */ 
/* 310 */ #dlg_cdm_file_list td.ext_rhtml { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 311 */ 
/* 312 */ #dlg_cdm_file_list td.ext_rpm { background: url(/wp-content/plugins/sp-client-document-manager/images/types/linux.png) left top no-repeat; }
/* 313 */ 
/* 314 */ #dlg_cdm_file_list td.ext_ruby { background: url(/wp-content/plugins/sp-client-document-manager/images/types/ruby.png) left top no-repeat; }
/* 315 */ 
/* 316 */ #dlg_cdm_file_list td.ext_sql { background: url(/wp-content/plugins/sp-client-document-manager/images/types/db.png) left top no-repeat; }
/* 317 */ 
/* 318 */ #dlg_cdm_file_list td.ext_swf { background: url(/wp-content/plugins/sp-client-document-manager/images/types/flash.png) left top no-repeat; }
/* 319 */ 
/* 320 */ #dlg_cdm_file_list td.ext_tif { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 321 */ 
/* 322 */ #dlg_cdm_file_list td.ext_tiff { background: url(/wp-content/plugins/sp-client-document-manager/images/types/picture.png) left top no-repeat; }
/* 323 */ 
/* 324 */ #dlg_cdm_file_list td.ext_txt { background: url(/wp-content/plugins/sp-client-document-manager/images/types/txt.png) left top no-repeat; }
/* 325 */ 
/* 326 */ #dlg_cdm_file_list td.ext_vb { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 327 */ 
/* 328 */ #dlg_cdm_file_list td.ext_wav { background: url(/wp-content/plugins/sp-client-document-manager/images/types/music.png) left top no-repeat; }
/* 329 */ 
/* 330 */ #dlg_cdm_file_list td.ext_wmv { background: url(/wp-content/plugins/sp-client-document-manager/images/types/film.png) left top no-repeat; }
/* 331 */ 
/* 332 */ #dlg_cdm_file_list td.ext_xls { background: url(/wp-content/plugins/sp-client-document-manager/images/types/xls.png) left top no-repeat; }
/* 333 */ 
/* 334 */ #dlg_cdm_file_list td.ext_xml { background: url(/wp-content/plugins/sp-client-document-manager/images/types/code.png) left top no-repeat; }
/* 335 */ 
/* 336 */ #dlg_cdm_file_list td.ext_zip { background: url(/wp-content/plugins/sp-client-document-manager/images/types/zip.png) left top no-repeat; }
/* 337 */ 
/* 338 */ 
/* 339 */ 
/* 340 */ 
/* 341 */ 
/* 342 */ .uploadArea{ min-height:300px; height:auto; border:1px dotted #ccc; padding:10px; cursor:move; margin-bottom:10px; position:relative;}
/* 343 */ 
/* 344 */ .uploadArea h1{ color:#ccc; width:100%; z-index:0; text-align:center; vertical-align:middle; position:absolute; top:25px;}
/* 345 */ 
/* 346 */ .dfiles{ clear:both; border:1px solid #ccc; background-color:#E4E4E4; padding:3px;  position:relative; height:25px; margin:3px; z-index:1; width:97%; opacity:0.6; cursor:default;}
/* 347 */ 
/* 348 */ .buttonUpload { display:inline-block; padding: 4px 10px 4px; text-align: center; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); background-color: #0074cc; -webkit-border-radius: 4px;-moz-border-radius: 4px; border-radius: 4px; border-color: #e6e6e6 #e6e6e6 #bfbfbf; border: 1px solid #cccccc; color:#fff; }
/* 349 */ 
/* 350 */ .progress img{ margin-top:7px; margin-left:24px; }

/* style.css */

/* 351 */ 
/* 352 */ .remodal p {clear:both; text-align:left}
/* 353 */ .remodal p label{float:left;width:20%;}
/* 354 */ 
/* 355 */ .cdm-two-column p {clear:both; text-align:left}
/* 356 */ .cdm-two-column .l-column{float:left;width:50%;}
/* 357 */ .cdm-two-column .r-column{float:left;width:50%}
/* 358 */ 
/* 359 */ 
/* 360 */ .sp_cu_manage{}
/* 361 */ 
/* 362 */ 
/* 363 */ form.cdm_form p {clear:both; text-align:left;margin-bottom:15px;}
/* 364 */ form.cdm_form p label{float:left;width:20%;}
/* 365 */ 
/* 366 */ 
/* 367 */ .cdm_button{
/* 368 */ 	-moz-box-shadow:inset 0px 1px 0px 0px #54a3f7;
/* 369 */ 	-webkit-box-shadow:inset 0px 1px 0px 0px #54a3f7;
/* 370 */ 	box-shadow:inset 0px 1px 0px 0px #54a3f7;
/* 371 */ 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #007dc1), color-stop(1, #0061a7));
/* 372 */ 	background:-moz-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 373 */ 	background:-webkit-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 374 */ 	background:-o-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 375 */ 	background:-ms-linear-gradient(top, #007dc1 5%, #0061a7 100%);
/* 376 */ 	background:linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
/* 377 */ 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#007dc1', endColorstr='#0061a7',GradientType=0);
/* 378 */ 	background-color:#007dc1;
/* 379 */ 	-moz-border-radius:3px;
/* 380 */ 	-webkit-border-radius:3px;
/* 381 */ 	border-radius:3px;
/* 382 */ 	border:1px solid #124d77;
/* 383 */ 	display:inline-block;
/* 384 */ 	cursor:pointer;
/* 385 */ 	color:#ffffff;
/* 386 */ 	font-family:arial;
/* 387 */ 	font-size:13px;
/* 388 */ 	padding:6px 24px;
/* 389 */ 	text-decoration:none;
/* 390 */ 	text-shadow:0px 1px 0px #154682;
/* 391 */ }
/* 392 */ .cdm_button:hover {
/* 393 */ 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0061a7), color-stop(1, #007dc1));
/* 394 */ 	background:-moz-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 395 */ 	background:-webkit-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 396 */ 	background:-o-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 397 */ 	background:-ms-linear-gradient(top, #0061a7 5%, #007dc1 100%);
/* 398 */ 	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
/* 399 */ 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0061a7', endColorstr='#007dc1',GradientType=0);
/* 400 */ 	background-color:#0061a7;

/* style.css */

/* 401 */ }
/* 402 */ .cdm_button:active {
/* 403 */ 	position:relative;
/* 404 */ 	top:1px;
/* 405 */ }
/* 406 */ @media (max-width:700px) {
/* 407 */ 	
/* 408 */ .cdm-two-column p {clear:both; text-align:left}
/* 409 */ .cdm-two-column .l-column{float:none;width:100%; text-align:center}
/* 410 */ .cdm-two-column .r-column{float:none;width:100%;}
/* 411 */ 	
/* 412 */ 	
/* 413 */ form.cdm_form p {clear:both; text-align:left}
/* 414 */ form.cdm_form p label{float:none;width:100%;display:block;}
/* 415 */ 
/* 416 */ 	
/* 417 */ .remodal p {clear:both; text-align:left}
/* 418 */ .remodal p label{float:none;width:100%;display:block;}
/* 419 */ 	.sp_cu_manage a, #cdm_nav_buttons a{display:block;float:left;width:42%;background-color:#EFEFEF;border-radius:4px;padding:5px;margin:5px; text-align:left}
/* 420 */ }
/* 421 */ 
/* 422 */ 
/* 423 */ .sp_cu_manage a.cdm_refresh_file_view{color:#157AB7 !important;}
/* 424 */ 
/* 425 */ .sp_cu_manage a.sp-cdm-delete-file{color: #740509 !important}
/* 426 */ .sp_cu_manage a{color:#333 !important;margin-right:10px;}
/* 427 */ .sp_cu_manage a:hover{color: #157AB7 !important;margin-right:10px;}
/* 428 */ .sp_cu_manage a span{font-size:1.4em;}
/* 429 */ .sp_cu_manage .cdm-dashicons{font-size:22px;}
/* 430 */ .sp_cu_manage a:hover{text-decoration:none;}
/* 431 */ .sp_cu_manage .cdm_refresh_file_view .cdm-dashicon{font-size:16px}

/* usp.css */

/* 1  */ @charset "UTF-8";
/* 2  */ /* 
/* 3  *| 	User Submitted Posts > CSS > HTML5 form
/* 4  *| 	https://perishablepress.com/user-submitted-posts/
/* 5  *| 	Complete list of CSS hooks for the submission form @ http://m0n.co/e
/* 6  *| */
/* 7  */ 
/* 8  */ div#user-submitted-posts { width: 100%; font-size: 11px; }
/* 9  */ div#user-submitted-posts fieldset { margin: 10px 0; padding: 0; border: 0; }
/* 10 */ 
/* 11 */ div#user-submitted-posts fieldset label           { float: left; clear: both; width: 70%; margin: 0; padding: 0; line-height: 18px; }
/* 12 */ div#user-submitted-posts fieldset input.usp-input { float: left; clear: both; width: 70%; margin: 0; padding: 5px; font-size: 12px; }
/* 13 */ div#user-submitted-posts textarea.usp-textarea    { float: left; clear: both; width: 80%; margin: 0; padding: 5px; font-size: 12px; }
/* 14 */ div#user-submitted-posts select                   { float: left; clear: both; width: auto; margin: 0; padding: 5px; font-size: 12px; }
/* 15 */ 
/* 16 */ div#user-submitted-image { float: left; clear: both; width: 70%; }
/* 17 */ div#usp-upload-message   { float: left; clear: both; width: 70%; }
/* 18 */ a#usp_add-another        { float: left; clear: both; }
/* 19 */ 
/* 20 */ div#user-submitted-posts fieldset input.usp-input.usp-clone { width: 90%; margin: 0 0 5px 0; padding: 4px; background-color: #fafafa; }
/* 21 */ div#usp-submit { margin: 15px 0; }
/* 22 */ 
/* 23 */ /* JS > Parsley */
/* 24 */ .parsley-errors-list {
/* 25 */ 	list-style-type: none; float: left; clear: both; margin: 0; padding: 0; font-size: 11px; line-height: 18px; color: #fff; background-color: #cc3333;
/* 26 */ 	-webkit-transition: all 0.5s ease-in; -moz-transition: all 0.5s ease-in; -o-transition: all 0.5s ease-in; transition: all 0.5s ease-in;
/* 27 */ 	opacity: 0; -moz-opacity: 0; -webkit-opacity: 0;
/* 28 */ 	}
/* 29 */ .parsley-errors-list.filled { opacity: 1; }
/* 30 */ .parsley-required { margin: 0; padding: 2px 3px; }
/* 31 */ .usp-files-error { margin-top: -5px; }
/* 32 */ .usp-hidden, .usp-no-js { display: none; }
/* 33 */ .usp-js { display: block; }
/* 34 */ 

/* style.css */

/* 1 */ /*! Do not edit this file. Please integrate your custom style either on your theme templates or through Widget > Custom CSS */.wp-social-login-provider-list{padding:10px}.wp-social-login-provider-list a{text-decoration:none}.wp-social-login-provider-list img{border:0}
