
/* jquery-ui-timepicker-addon.min.css */

/* 1 */ /*! jQuery Timepicker Addon - v1.4.1 - 2013-10-23
/* 2 *| * http://trentrichardson.com/examples/timepicker
/* 3 *| * Copyright (c) 2013 Trent Richardson; Licensed MIT */
/* 4 */ 
/* 5 */ .ui-timepicker-div .ui-widget-header{margin-bottom:8px}.ui-timepicker-div dl{text-align:left}.ui-timepicker-div dl dt{float:left;clear:left;padding:0 0 0 5px}.ui-timepicker-div dl dd{margin:0 10px 10px 40%}.ui-timepicker-div td{font-size:90%}.ui-tpicker-grid-label{background:0;border:0;margin:0;padding:0}.ui-timepicker-rtl{direction:rtl}.ui-timepicker-rtl dl{text-align:right;padding:0 5px 0 0}.ui-timepicker-rtl dl dt{float:right;clear:right}.ui-timepicker-rtl dl dd{margin:0 40% 10px 10px}
