
/* jvcf7_validate.css */

/* 1  */ .wp-list-table .validation_rules li{ font-size:13px; line-height:18px; padding-bottom:10px;}
/* 2  */ ul.jvcfz_list{ list-style-type:square;margin-left: 2em;}
/* 3  */ table.jvcf7_form td{ border:none !important; padding:5px;}
/* 4  */ .wpcf7-form label.error{color:#900; font-size:11px; float:none; padding-left:5px;}
/* 5  */ 
/* 6  */ /* Theme 1 */
/* 7  */ .theme_1.wpcf7-form input.error, .theme_1.wpcf7-form select.error, .theme_1.wpcf7-form textarea.error{border-bottom:2px solid #900;outline: none;}
/* 8  */ 
/* 9  */ /*DON't show error msg */
/* 10 */ .noErrorMsg.wpcf7-form label.error{ display:none !important; height:0px !important; width:0px !important; overflow:hidden !important;}
/* 11 */ 
/* 12 */ 
/* 13 */ 
/* 14 */ .jvcf7_btn {
/* 15 */   background: #3498db;
/* 16 */   background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
/* 17 */   background-image: -moz-linear-gradient(top, #3498db, #2980b9);
/* 18 */   background-image: -ms-linear-gradient(top, #3498db, #2980b9);
/* 19 */   background-image: -o-linear-gradient(top, #3498db, #2980b9);
/* 20 */   background-image: linear-gradient(to bottom, #3498db, #2980b9);
/* 21 */   -webkit-border-radius: 5;
/* 22 */   -moz-border-radius: 5;
/* 23 */   border-radius: 5px;
/* 24 */   font-family: Arial;
/* 25 */   color: #ffffff;
/* 26 */   font-size: 16px;
/* 27 */   padding: 10px 15px 10px 15px;
/* 28 */   text-decoration: none;
/* 29 */   display:inline-block;
/* 30 */   width:170px;
/* 31 */   
/* 32 */ }
/* 33 */ 
/* 34 */ .jvcf7_btn:hover {
/* 35 */   background: #3cb0fd;
/* 36 */   background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
/* 37 */   background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
/* 38 */   background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
/* 39 */   background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
/* 40 */   background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
/* 41 */   text-decoration: none;
/* 42 */   color: #ffffff;
/* 43 */ }
