.p10{
    padding: 10px;
}
.noborder{
    border:0px;
}
.noborder td,
.noborder tr,
.noborder th{
    border:0px;
}
.search_room_alert{
    margin-bottom: 10px;
}
.age_of_child_input{
    margin-right: 7px;
    margin-bottom: 7px;
}
.age_of_child_input.error{
    border:1px solid red;
}

.room_num_text,
.room_num_adult,
.room_num_children{
    vertical-align: top;
}
.form-control.error
{
    border:1px solid red;
}
.btn-st-big{
    padding: 8px 41px;
    text-transform: uppercase;
    font-size: 18px;
}
.loop_grid_hotel>.col-md-4:nth-child(3n+1){
    clear: both;
}
.st_notice_template >.fa{
    font-size: 46px;
    float: left;
    margin-right: 10px;
}
.display_table{
    display: table;
}
#noty_topRight_layout_container>li{
    height: auto;!important;
}
.share ul{
    list-style: none;
    padding: 0px;
    display: inline-block;
    margin-left: 5px;

}
.share >span{
    padding-right: 8px;
    border-right: 1px solid #F0F0F0;
}
.share ul li{
    display: inline-block;
    padding: 0px 3px;
}
.share ul li a{
    color: #737373;;
}
.share >span .fa{
    font-size: 13px;
    margin-left: 4px;
}
.tb_cart_customer{

}
.tb_cart_customer td, .tb_cart_customer th
{
    border:0px;
}
.tb_list_cart{
    margin-bottom: 30px;
}
.tb_list_cart thead td{
    border-left: 1px solid #bcbcbc;
    border-top: 1px solid #bcbcbc;
    border-bottom: 1px solid #bcbcbc;
    padding: 6px;
    background: #e4e4e4;
    border-right: 0px;
}
.tb_list_cart thead td:last-child{
    border-right: 1px solid #bcbcbc;
}
.mg20{
    margin: 20px;
}
.main-header-search{
    display: inline-block;
    float: right;
    margin-right: 40px;
    width: 260px;
}
.top-user-area .top-user-area-list{
    position: static;
    float: right;
    display: inline-block;
}


.color-inherit{
    color: inherit;
}
.color-inherit:hover{
    color: inherit;
}
.tb_cart_total td, .tb_cart_total th{
    border:0px;
}

.st_fix_clear .col-md-4:nth-child(3n+1){
    clear: both;
}

.loop-room .hotel_room .hover-img{
    margin-bottom: 10px;
}
.noty_text{
    overflow: hidden;
    display: block;
}
.st_notice_template{
    overflow: hidden;
}
.list-card-accepted{
    list-style: none;
    padding: 0px;
}
.list-card-accepted >li{
    display: inline-block;
    margin-right: 10px;
}
.list-card-accepted >li:last-child{
    margin-right: 0px;
}

.post-header{
    text-align: center;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li > .item_link:after
{
    font-family: FontAwesome;
    content: "\f107";
    right: 11px;
    font-size: 18px;
}
#mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link > .link_content > .link_text{
    text-transform: uppercase;
}
#mega_main_menu.primary > .menu_holder > .menu_inner  li > .item_link
{
    padding: 12px 34px 12px 20px;
    text-transform: uppercase;
}
#mega_main_menu li.default_dropdown > .mega_dropdown > li > .item_link{
    border:0px;
}
#mega_main_menu.primary > .menu_holder > .menu_inner > ul > li > .item_link
{

    padding: 0px 34px 0px 20px;
}

#mega_main_menu.primary > .menu_holder > .menu_inner li>a{
    transition: background-color 0.17s ease-out;
}
#mega_main_menu li.multicolumn_dropdown > .mega_dropdown{
    /*display: block;*/
    /*visibility: hidden;*/
    /*opacity: 0;*/
    /*transition: all 0.3s;*/

}
#mega_main_menu li.multicolumn_dropdown:hover > .mega_dropdown
{
    /*visibility: visible;*/
    /*opacity: 1;*/
}
#mega_main_menu.primary li.multicolumn_dropdown > .mega_dropdown > li > span.item_link:hover
{
    background: transparent;
}

#mega_main_menu.primary li.multicolumn_dropdown > .mega_dropdown > li > span.item_link .link_text
{
    font-weight: bold;
}
#mega_main_menu > .menu_holder > .menu_inner > ul > li.multicolumn_dropdown .mega_dropdown > li > a.item_link .link_text:before {
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 13px;
    padding-right: 5px;
    top: 2px;
}
.booking-item-coupon{
    border-bottom: 1px solid #d9d9d9;
}
.table_checkout{
    display: table;
    width: 100%;
}
.table_checkout .title{
    width: auto;
}
.dotted_bottom{
    border-bottom: 1px dotted #999999;
}

span.require{
    color:red;
}
.booking-item-details .booking-item-header-price .text-lg
{

}
.full-page-absolute{
    display: none;
}
body.search_enable_preload .full-page-absolute{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right:0px;
    bottom: 0px;
    z-index: 10000;
}

.full-page-absolute .bg-img{
    background: white;
}
.nav-drop.booking-sort
{
    display: none;
}

footer#main-footer{
    margin-top: 20px;
}
.full-page-absolute .bg-img{
    background-size: cover;
}

.search-line-item{
    line-height: 20px;
}
.main-header-search .tt-dropdown-menu{
    z-index: 1000!important;
}
.twitter-typeahead.loading:before{
    content: "\f110";
    display: inline-block;
    font-family: FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    position: absolute;
    right: 10px;
    top: 6px;
    color: white;
    z-index: 10;
    font-size: 21px;
    -webkit-animation: fa-spin 1s infinite steps(8);
    animation: fa-spin 1s infinite steps(8);
}
.widget_st_list_entries.sidebar-widget li:before,
.widget_recent-comments.sidebar-widget li:before{
    content: "";
    display: none;
}
.widget_st_list_entries.sidebar-widget li,
.widget_recent-comments.sidebar-widget li{
    padding: 0px;
}

.twitter .tweet-list li:before{

    top: 4px;
}
ul.slimmenu li.slimmenu-sub-menu a
{
    padding-right: 20px;
}
ul.slimmenu li.slimmenu-sub-menu> a
{
    padding-right: 34px;
}
ul.slimmenu li > ul{
    min-width: 240px;
}
.sticky-wrapper.is-sticky .main_menu_wrap{
    right: 0px;
    left: 0px;
    z-index: 100;
    background: white;
    border-bottom: 2px solid #ed8323;
}
.admin-bar .sticky-wrapper.is-sticky .main_menu_wrap{
    top: 32px!important;
}

/*----------------Begin gotop --------------*/
#gotop{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 14px;
    border-radius: 2px;
    color: white;
    z-index: 999;
    cursor: pointer;
    background: #333;
}
#gotop a{
    color: white;
}
#gotop:hover{
    background: #fac11c;;
}
/*----------------End gotop-----------------*/
@media (max-width: 991px)
{
    .top-user-area .top-user-area-list
    {
        float: none;
        display: block;
        margin-bottom: 22px;
        text-align: center;
    }
    .main-header-search{
        float: none;
        display: block;
        width: auto;
        margin-right: 0px;
        margin-top: 0px;
    }

    .logo{
        text-align: center;
    }
    .top-user-area-list >li{
        float: none;
        display: inline-block;
    }
    .row[data-gutter="60"]
    {
        margin-left: -15px;
        margin-right: -15px;
    }
    body.enable_nice_scroll{
        overflow: inherit;
    }

}
#mega_main_menu.primary li.multicolumn_dropdown > .mega_dropdown > li.current-menu-item > span.item_link
{
    background: transparent;
}


@media(min-width: 992px){
    .item-nearby .col-xs-5{
        padding: 0px;
    }
    .item-nearby .col-xs-3{
        padding-left: 0px;
    }

    .booking-item .col-md-3:last-child{
        padding-left: 0px;
    }
    .booking-item .booking-item-price{
        font-size: 42px;
    }
}
@media (max-width: 768px) {
    .sticky-wrapper.is-sticky .main_menu_wrap{
        position: static!important;;
    }
}